{% load static %}
{% load humanize %}
{% include "base.html" %}
{% block body %}

<style>

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 400px) {
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    /*text-decoration: none;*/
    color: darkblue;
}

.button {
    background-color: #e4e4e4;
    height:30px;
    width: 150px;
    border:1px solid darkgrey;
    color: #666666;
    /*padding: 4px 5px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  opacity: 1; /* Firefox */
}

::placeholder {
  color: #bdaec6;
  opacity: 1; /* Firefox */
}
.table-condensed{
  font-size: 11px;
}

input {
    text-align: center;
    /*margin: 0 5px;*/
    padding:0;
    height:30px;
    width: 150px;
 }
.scrollable-menu {
    height: auto;
    width:150px;
    padding:5px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size:13px;
    color: darkgrey;
    line-height:30px;
}
.button-a {
    /*background-color: #eaeaea;*/
    height:30px;
    width: 150px;
    border:1px solid #857f7f;
    padding-top:3px;
    color: #322d2d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  opacity: 1; /* Firefox */
}

.submit {
    height:30px;
    width: 70px;
    font-size:12px;
    /*font-color:lightgrey;*/
    text-align:center;
    /*background-color: white;*/
    border:1px solid #ccc;
    float: left;
    margin: 0 5px;
}

.select-p2 {
    font-size:13px;
    text-align: center;
    /*color: #b9b9b9;*/
    width:150px;
    height:30px;
    margin:0;
    border:1px solid #857f7f;
    padding:0;
    background-color:white;
}
.label {
    color:red;
}
form {
    display: inline-block; //Or display: inline;
}

</style>
<br>
<br>
<div style="clear:both"></div>
<div class="justify-content-left align-items-center" style="display:block; clear:left; margin: 0 auto; width: 95%; text-align:left">
    <div class="card m-2">
        <div class="card-header">
            <h4>{% if genus %}{{genus}}{% endif %} Hybrid List ({{total|intcomma}})
            <a class="btn btn-xs btn-primary p-2 m-2 custom-link border" href="{% url 'orchidlist:species' %}?role={{role}}&alpha=A&genus={{genus}}">Go to Species List</a>
            </h4>
        </div>
        <!--Filter-->
        <div class="card-body d-flex flex-row  flex-wrap">

            <!--Genus-->
            <form action="?">
                    <input type="hidden" name="alpha" value="{{alpha}}" />
                    <input type="hidden" name="sort" value="{{sort}}" />
                    <input type="hidden" name="seed_genus" value="" />
                    <input type="hidden" name="pollen_genus" value="" />
                    <input class="p-2 m-1" name="genus" onfocus="this.select()" value="{{genus}}" placeholder="Genus" data-toggle="tooltip" data-placement="bottom"  title="Genus. Begin and/or end with * for wildcard"/>
            </form>
<!--            Others-->
            <form action="?" id="filter">
                <input type="hidden" name="alpha" value="{{alpha}}" />
                <input type="hidden" name="sort" value="{{sort}}" />
                <input type="hidden" name="genus" value="{{genus}}" />
                 <!--Species-->
                <input class="p-2 m-1" form="filter" name="spc" value="{{spc}}"  placeholder="Epithet" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Hybrid name match string"/>
                <!--Year-->
                <input class="p-2 m-1" form="filter" name="year" value='{{year}}' placeholder="Year" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="YYYY"/>
                <!--Registrant-->
                <input class="p-2 m-1" form="filter" name="author" value='{{author}}' placeholder="Registrant" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Registrant name match string"/>
                <!--Originator-->
                <input class="p-2 m-1" form="filter" name="originator" value='{{originator}}' placeholder="Originator" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Originator name match string"/>
                <!--Seed genus-->
                <select class="select-p2 m-1" form="filter" name="seed_genus" class="form-control" tabindex="-1" aria-hidden="true">
                    {% if not seed_genus %}
                        <option selected disabled>Parent genus #1</option>
                    {% endif %}
                    <option>clear</option>

                    {% for g in genus_list %}}
                        {% if seed_genus == g %}
                            <option selected="selected"><span style="color:red">{{g}}</span></option>
                        {% else %}
                            <option>{{g}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select class="select-p2 m-1" form="filter" name="pollen_genus" class="form-control" tabindex="-1" aria-hidden="true">
                    {% if not pollen_genus %}
                    <option selected disabled><span style="color:grey">Parent genus #2</span></option>
                    {% endif %}
                    <option value="">clear</option>
                    {% for g in genus_list %}
                        {% if pollen_genus == g %}
                            <option selected="selected" style="color:black">{{g}}</option>
                        {% else %}
                            <option>{{g}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <!--Seed Parents-->
                <input class="p-2 m-1" form="filter" name="seed" value='{{seed}}' placeholder="Parent #1" onfocus="this.select()"/>
                <!--Pollen Parents-->
                <input class="p-2 m-1" form="filter" name="pollen" value='{{pollen}}' placeholder="Parent #2" onfocus="this.select()"/>
                <!--Submit-->
                <a class="button-a select-2" href="{% url 'orchidlist:browse' %}?type=hybrid&genus={{genus}}&display=checked">Show images</a>
                <button class="submit" form="filter" style="height:30px;margin:0 5px;background-color: #1d6c6c; color:white">Submit</button>
            </form>
        </div>

        <!--Main table-->

        <!--Pagination        -->
        {% if my_list %}
            {% include "orchidlist/alpha_list.html" %}
            {% if last_page > 1 %} {% include "./paginator_brw.html" %} {% endif %}
            <!--main table-->
            <div class="table mytable" style="">
                <table class="table table-sm table-condensed table-bordered table-hover" id="myTable">
                    <thead style="font-size:16px;">
    {#                First column - All options#}
                        <tr class="center" bgcolor="#e3e3e3">
                            <td class="text-center">
                            {% if sort == 'genus' %}
                                <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=genus&prev_sort={{sort}}"><b>Genus&uarr;</b></a>
                            {% elif sort == '-genus' %}
                                <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=genus&prev_sort={{sort}}"><b>Genus&darr;</b></a>
                            {% else %}
                                <a data-toggle="tooltip" title="Click to sort by Genus" class="small" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=genus&prev_sort={{sort}}">Genus </a>
                            {% endif %}
                            -
                            {% if sort == 'species' %}
                                <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=species&prev_sort={{sort}}"><b>Species&uarr;</b></a>
                            {% elif sort == '-species' %}
                                <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=species&prev_sort={{sort}}"><b>Species&darr;</b></a>
                            {% else %}
                                <a data-toggle="tooltip" title="Click to sort by species" class="small" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=species&prev_sort={{sort}}">Species</a>
                            {% endif %}
                            -
                            <i class="small" >registrant / originator</i>
                            -
                            {% if sort == 'year' %}
                                <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=year&prev_sort={{sort}}"><b>Year&uarr;</b></a>
                            {% elif sort == '-year' %}
                                <a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=year&prev_sort={{sort}}"><b>Year&darr;</b></a>
                            {% else %}
                                <a data-toggle="tooltip" title="Click to sort by year" class="small" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=year&prev_sort={{sort}}">Year</a>
                            {% endif %}
                            </td>

                            {%  if status == 'synonym' %}
                                <th class="text-center">Accepted Name</th>
                                {% if sort == 'num_image' %}
                                    <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=num_image&prev_sort={{sort}}">#img&uarr;</a></th>
                                {% elif sort == '-num_image' %}
                                    <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=num_image&prev_sort={{sort}}">#img&darr;</a></th>
                                {% else %}
                                    <th class="small  d-none d-sm-table-cell"><a data-toggle="tooltip" title="Click to sort by number of images" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=-num_image&prev_sort={{sort}}">#img</a></th>
                                {% endif %}

                            {% else %}
                                <th class="small text-center">Parentage</th>
    <!--                            <th class="small  d-none d-sm-table-cell text-center">Combined ranks of ancestors</th>-->
                                    {% if sort == 'num_ancestor' %}
                                        <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=num_ancestor&prev_sort={{sort}}">Ancestors&uarr;</a></th>
                                    {% elif sort == '-num_ancestor' %}
                                        <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=num_ancestor&prev_sort={{sort}}">Ancestors&darr;</a></th>
                                    {% else %}
                                        <th class="small  d-none d-sm-table-cell"><a data-toggle="tooltip" title="Click to sort by number of ancestors. Numbers in parenthesis are species type ancestors" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&ancestor={{ancestor}}&year={{ year }}&sort=-num_ancestor&prev_sort={{sort}}">Ancestors</a></th>
                                    {% endif %}
                                    {% if sort == 'num_descendant' %}
                                        <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=num_descendant&prev_sort={{sort}}">Descen<br>dants&uarr;</a></th>
                                    {% elif sort == '-num_descendant' %}
                                        <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=num_descendant&prev_sort={{sort}}">Descen<br>dants&darr;</a></th>
                                    {% else %}
                                        <th class="small  d-none d-sm-table-cell"><a data-toggle="tooltip" title="Click to sort by number of descendants" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=-num_descendant&prev_sort={{sort}}">Descen<br>dants</a></th>
                                    {% endif %}
                                    {% if sort == 'num_image' %}
                                        <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=num_image&prev_sort={{sort}}">#img&uarr;</a></th>
                                    {% elif sort == '-num_image' %}
                                        <th class=" d-none d-sm-table-cell"><a href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=num_image&prev_sort={{sort}}">#img&darr;</a></th>
                                    {% else %}
                                        <th class="small  d-none d-sm-table-cell"><a data-toggle="tooltip" title="Click to sort by number of images" href="?alpha={{ alpha }}&spc={{spc}}&genus={{genus}}&author={{author}}&originator={{originator}}&parent={{parent}}&year={{ year }}&sort=-num_image&prev_sort={{sort}}">#img</a></th>
                                    {% endif %}
                            {% endif %}
                        </tr>
                    </thead>
                        {% for spc in my_list %}
                            <tr>
                                <td align="left">
                                    <a href="{% url 'detail:information' spc.pid %}"><i>{{spc.genus}}</i>
                                        {% if spc.is_hybrid %}
                                            <i>{{spc.get_species}}</i></a> {{spc.author}} {% if spc.originator %} / {{spc.originator}}{% endif %}</i>
                                        {% else %}
                                            {{spc.get_species}}</a> {{spc.author}} {% if spc.originator %} / {{spc.originator}}{% endif %}</i>
                                        {% endif %}
                                    {% if spc.year > 0 %}<span  style="font-size: 11px;">{{spc.year}}</span>{% endif %}
                                </td>

                                <td class="align-center">
                                    {% if spc.status == 'synonym' %}
                                    Synonym of <a href="{% url 'detail:information' spc.getAccepted.pid %}">{{spc.getAccepted.name|safe}}</a>
                                    {% else %}
                                        {% if spc.hybrid.seed_id.type == 'species' %}
                                            {% if spc.hybrid.seed_id_id %}
                                                <a href="{% url 'detail:information' spc.hybrid.seed_id_id %}">{{spc.hybrid.seed_id.abrevname|safe}}</a>
                                            {% else %}
                                                <a href="#">{{spc.hybrid.seed_id.abrevname|safe}}</a>
                                            {% endif %}
                                        {% elif spc.hybrid.seed_id.type == 'hybrid' %}
                                            <a href="{% url 'detail:information' spc.hybrid.seed_id_id %}">{{spc.hybrid.seed_id.abrevname|safe}}</a>
                                        {% else %}na
                                        {% endif %}
                                            ×
                                        {% if spc.hybrid.pollen_id.type == 'species' %}
                                            <a href="{% url 'detail:information' spc.hybrid.pollen_id_id %}">{{spc.hybrid.pollen_id.abrevname|safe}}</a>
                                        {% elif spc.hybrid.pollen_id.type == 'hybrid' %}
                                            <a href="{% url 'detail:information' spc.hybrid.pollen_id_id %}">{{spc.hybrid.pollen_id.abrevname|safe}}</a>
                                        {% else %}na
                                        {% endif %}
                                    {% endif %}
                                </td>

                                    <!--<td class="small  d-none d-sm-table-cell ">{% if spc.intergenhybrid.subgenus %}{{spc.intergenhybrid.subgenus}}{% endif %}</td>-->
    <!--                                <td class="small  d-none d-sm-table-cell ">-->
    <!--                                    {% if spc.intergenhybrid.section %}{{spc.intergenhybrid.section}}{% endif %}</td>-->
                                    <!--<td class="small h d-none d-sm-table-cell">{% if spc.intergenhybrid.subsection %}{{spc.intergenhybrid.subsection}}{% endif %}</td>-->
                                    <!--<td class="small  d-none d-sm-table-cell ">{% if spc.intergenhybrid.series %}{{spc.intergenhybrid.series}}{% endif %}</td>-->
                                    <td class="small  d-none d-sm-table-cell text-center">
                                        {% if spc.num_ancestor %}
                                            <a href="{% url 'detail:ancestor' spc.pid %}">{{spc.num_ancestor}}</a>
                                        {% endif %}
                                        {% if spc.num_species_ancestor %}({{spc.num_species_ancestor}}){% endif %}
                                    </td>
                                    <td class="small  d-none d-sm-table-cell text-center">
                                        {% if spc.num_descendant %}
                                        <a href="{% url 'orchidlist:progeny' spc.pid %}">{{spc.num_descendant}}</a>
                                        {% endif %}</td>
                                    <td class="small  d-none d-sm-table-cell text-center">{% if spc.num_image %}{{spc.num_image}}{% endif %}</td>
                                </tr>
                        {% endfor %}
                </table>
            </div>
            {% if last_page > 1 %} {% include "./paginator_brw.html" %} {% endif %}
        {% endif %}
</div>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<!--<script>-->
<!--var acc = document.getElementsByClassName("accordion");-->
<!--var i;-->

<!--for (i = 0; i < acc.length; i++) {-->
<!--  acc[i].onclick = function() {-->
<!--    this.classList.toggle("active");-->
<!--    var panel = this.nextElementSibling;-->
<!--    if (panel.style.maxHeight){-->
<!--      panel.style.maxHeight = null;-->
<!--    } else {-->
<!--      panel.style.maxHeight = panel.scrollHeight + "px";-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->


{% endblock %}
