{% load static %}
{% include "base.html" %}
{% include "detail-title.html" %}
{% block body %}
<head>
    <title>Family tree of {{species.binomial}}</title>
</head>
<style>

.tree {
    width:100%;
    overflow-x: hidden;
    font-size:10px;
    text-align: center;
    border: 0 solid green;
}
.tree ul {
	padding-top: 20px; position: relative;

	/*transition: all 0.5s;*/
	/*-webkit-transition: all 0.5s;*/
	/*-moz-transition: all 0.5s;*/
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 0 0 0;

	/*transition: all 0.5s;*/
	/*-webkit-transition: all 0.5s;*/
	/*-moz-transition: all 0.5s;*/
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto;
    left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	/*-webkit-border-radius: 0 5px 0 0;*/
	/*-moz-border-radius: 0 5px 0 0;*/
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	/*-webkit-border-radius: 5px 0 0 0;*/
	/*-moz-border-radius: 5px 0 0 0;*/
}

/*add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute;
    top: 0;
    left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 0 0;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	/*transition: all 0.5s;*/
	/*-webkit-transition: all 0.5s;*/
	/*-moz-transition: all 0.5s;*/
}
.tree li img {
   object-fit: cover;
   overflow: hidden;
   height: 14vw;
   width : 14vw;
   padding:0;

}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4 !important;
}

       /*Display square image*/
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 12vw;
   width : 12vw;
   padding:2px;
    margin: 0 2px;
}
.thumbnails4 {
   height: 6vw !important;
   width : 6vw !important;
   padding:4px;
    margin: 0 2px;
    border: 0;
}
.thumbnails3 {
   height: 8vw !important;
   width : 8vw !important;
    border:0 solid lightgrey;
    padding:2px !important;
    margin:0 !important;
}


@media only screen and (max-width: 800px) {
    .thumbnails3 {
       height: 9vw !important;
       width : 9vw !important;
    }
    .thumbnails4 {
       height: 6vw !important;
       width : 6vw !important;
        padding:4px;

    }
}

@media only screen and (max-width: 600px){
    .thumbnails3 {
       height: 9vw !important;
       width : 9vw !important;
    }
}

a {
    border: 0 !important;
}
.imgcaption {
    border: 0;
    line-height: normal;
    height: 28px;
}
.topimg {
}
</style>


<div style="margin:0 auto;padding:0;width:100%;">
        <!--main section-->
    <br>
    {% include 'common/detail-nav.html' %}
    <div class="tab-content clearfix" style="min-width:2000px;overflow-x:auto;padding:0;background-color:white; margin:0 auto;border-left:1px solid lightgrey;border-right:1px solid lightgrey;border-bottom:1px solid lightgrey;">
        {% if species.type == 'hybrid' %}
        <br>
        <div class="card m-2" style="margin:100px;">
            <div class="card-header">
                <div style="margin-left:200px;">
                <h5>Family Tree</h5>
                </div>
            </div>
            <br>
            <div class="card-body" style="margin:0; text-align:center">

    <!--        Tree here-->
               <div class="tree" style="margin: 0; padding:0;">
                    <div>
                        <ul style="display:inline-block;float:left;padding:0;margin:0 auto;">
                            <li style="display:inline-block;">
                                <div style="margin:0 auto; width: 20%">
                                    <img class="thumbnails thumbnails3" alt="" src="{% static species.img %}" >
                                    {{species.abrevname|safe}}<br>{{species.year|default:'<br>'}}
                                </div>
                                <ul>
                                    <!--Seed branch-->
                                    <li>
                                        {% if s %}
                                            <a style="border:0; " href="{% if s.type != 'hybrid' %}{% url 'display:summary' app s.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{s.pid.pid}}&role={{role}}">
                                                <img  class="thumbnails thumbnails3" src="{% static s.img %}" >
                                            </a>
                                            <div class="imgcaption">
                                                <a href="{% url 'display:summary' app s.pid.pid %}?role={{role}}">
                                                    {{s.pid.abrevname|safe}}<br>{{s.year|default:'<br>'}}
                                                </a>
                                            </div>
                                        {% else %}
                                            <img class="thumbnails thumbnails3" src="{% static 'utils/images/noimage_light.jpg' %}?family={{s.gen.family}}&role={{role}}"/>
                                        {% endif %}
                                        {% if s.type == 'hybrid' %}
                                            <ul>
                                                <li>
                                                    {% if ss %}
                                                        <a style="border:0;" href="{% if ss.type != 'hybrid' %}{% url 'display:summary' app ss.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{ss.pid.pid}}&role={{role}}">
                                                                    <img class="thumbnails thumbnails3" src="{% static ss.img %}" >
                                                        </a>
                                                        <div class="imgcaption">
                                                            <a href="{% url 'display:summary' app ss.pid.pid %}?role={{role}}">
                                                                {{ss.pid.abrevname|safe}}<br>{{ss.year|default:'<br>'}}
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                                <img class="thumbnails thumbnails3" src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                    {% endif %}
                                                    {% if ss.type == 'hybrid' %}
                                                        <ul>
                                                            <li>
                                                                {% if sss %}
                                                                    <a style="border:0;" href="{% if sss.type != 'hybrid' %}{% url 'display:summary' app sss.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{sss.pid.pid}}&role={{role}}">
                                                                                <img class="thumbnails thumbnails4" src="{% static sss.img %}">
                                                                    </a>
                                                                    <div class="imgcaption">
                                                                        <a href="{% url 'display:summary' app sss.pid.pid %}?role={{role}}">
                                                                            <div>{{sss.pid.abrevname|safe}}<br>{{sss.year|default:'<br>'}}</br></div>
                                                                        </a>
                                                                        </div>
                                                                {% else %}
                                                                            <img class="thumbnails thumbnails4" src="{% static 'utils/images/noimage_light.jpg' %}" style="border:0"/>
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                                {% if ssp %}
                                                                    <a style="border:0;" href="{% if ssp.type != 'hybrid' %}{% url 'display:summary' app ssp.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{ssp.pid.pid}}&role={{role}}">
                                                                                <img class="thumbnails thumbnails4" src="{% static ssp.img %}">
                                                                    </a>
                                                                    <div class="imgcaption">
                                                                        <a href="{% url 'display:summary' app ssp.pid.pid %}?role={{role}}">
                                                                            {{ssp.pid.abrevname|safe}}<br>{{ssp.year|default:'<br>'}}
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                            <img class="thumbnails thumbnails4" src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                                {% endif %}
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    {% if sp %}
                                                        <a style="border:0; padding: 2px;" href="{% if sp.type != 'hybrid' %}{% url 'display:summary' app sp.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{sp.pid.pid}}&role={{role}}">
                                                                    <img class="thumbnails thumbnails3" src="{% static sp.img %}">
                                                        </a>
                                                        <div class="imgcaption">
                                                            <a href="{% url 'display:summary' app sp.pid.pid %}?role={{role}}">
                                                                {{sp.pid.name|safe}}<br>{{sp.year|default:'<br>'}}
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                                <img class="thumbnails thumbnails3"  src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                    {% endif %}
                                                    {% if sp.type == 'hybrid' %}
                                                        <ul>
                                                            <li>
                                                                {% if sps %}
                                                                    <a style="border:0;" href="{% if sps.type != 'hybrid' %}{% url 'display:summary' app sps.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{sps.pid.pid}}&role={{role}}">
                                                                                <img class="thumbnails thumbnails4" src="{% static sps.img %}">
                                                                    </a>
                                                                    <div class="imgcaption">
                                                                        <a href="{% url 'display:summary' app sps.pid.pid %}?role={{role}}">
                                                                            {{sps.pid.abrevname|safe}}<br>{{sps.year|default:'<br>'}}
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                            <img class="thumbnails thumbnails4" src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                                {% endif %}
                                                            </li>
                                                            <li>
                                                                {% if spp %}
                                                                    <a style="border:0;" href="{% if spp.type != 'hybrid' %}{% url 'display:summary' app spp.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{spp.pid.pid}}&role={{role}}">
                                                                                <img class="thumbnails thumbnails4" src="{% static spp.img %}">
                                                                    </a>
                                                                    <div class="imgcaption">
                                                                        <a href="{% url 'display:summary' app spp.pid.pid %}?role={{role}}">
                                                                            {{spp.pid.abrevname|safe}}<br>{{spp.year|default:'<br>'}}<br>
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                            <img class="thumbnails thumbnails4" src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                                {% endif %}
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </li>

                                   <!--Pollen branch-->
                                    <li>
                                        {% if p %}
                                            <a style="border:0;" href="{% if p.type != 'hybrid' %}{% url 'display:summary' app p.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{p.pid.pid}}&role={{role}}">
                                                <img class="thumbnails thumbnails3" src="{% static p.img %}">
                                            </a>
                                            <div class="imgcaption">
                                                <a href="{% url 'display:summary' app p.pid.pid %}?role={{role}}">
                                                   {{p.pid.abrevname|safe}}<br>{{p.year|default:'<br>'}}
                                                </a>
                                            </div>
                                        {% else %}
                                                    <img class="thumbnails thumbnails3"  src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                        {% endif %}
                                        {% if p.type == 'hybrid' %}
                                            <ul>
                                                <li>
                                                    {% if ps %}
                                                        <a style="border:0;" href="{% if ps.type != 'hybrid' %}{% url 'display:summary' app ps.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{ps.pid.pid}}&role={{role}}">
                                                                    <img class="thumbnails thumbnails3" src="{% static ps.img %}">
                                                        </a>
                                                        <div class="imgcaption">
                                                            <a href="{% url 'display:summary' app ps.pid.pid %}?role={{role}}">
                                                                {{ps.pid.abrevname|safe}}<br>{{ps.year|default:'<br>'}}
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                                <img class="thumbnails thumbnails3"  src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                    {% endif %}
                                                    {% if ps.type == 'hybrid' %}
                                                        <ul>
                                                            <li>
                                                                {% if pss %}
                                                                    <a style="border:0;" href="{% if pss.type != 'hybrid' %}{% url 'display:summary' app pss.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{pss.pid.pid}}&role={{role}}">
                                                                                <img class="thumbnails thumbnails4" src="{% static pss.img %}">
                                                                    </a>
                                                                    <div class="imgcaption">
                                                                        <a href="{% url 'display:summary' app pss.pid.pid %}?role={{role}}">
                                                                            {{pss.pid.abrevname|safe}}<br>{{pss.year|default:'<br>'}}
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                            <img class="thumbnails thumbnails4" src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                                {% endif %}
                                                            </li>

                                                            <li>
                                                                {% if psp %}
                                                                    <a style="border:0;" href="{% if psp.type != 'hybrid' %}{% url 'display:summary' app psp.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{psp.pid.pid}}&role={{role}}">
                                                                                <img class="thumbnails thumbnails4" src="{% static psp.img %}" >
                                                                    </a>
                                                                    <div class="imgcaption">
                                                                        <a href="{% url 'display:summary' app psp.pid.pid %}?role={{role}}">
                                                                            {{psp.pid.abrevname|safe}}<br>{{psp.year|default:'<br>'}}
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                            <img class="thumbnails thumbnails4" src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                                {% endif %}
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                </li>

                                                <li>
                                                    {% if pp %}
                                                        <a style="border:0;" href="{% if pp.type != 'hybrid' %}{% url 'display:summary' app pp.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{pp.pid.pid}}&role={{role}}">
                                                                    <img class="thumbnails thumbnails3" src="{% static pp.img %}">
                                                        </a>
                                                        <div class="imgcaption">
                                                            <a href="{% url 'display:summary' app pp.pid.pid %}?role={{role}}">
                                                                {{pp.pid.abrevname|safe}}<br>{{pp.year|default:'<br>'}}
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                                <img class="thumbnails thumbnails3"  src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                    {% endif %}
                                                    {% if pp.type == 'hybrid' %}
                                                        <ul>
                                                            <li>
                                                                {% if pps %}
                                                                    <a style="border:0;" href="{% if pps.type != 'hybrid' %}{% url 'display:summary' app pps.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{pps.pid.pid}}&role={{role}}">
                                                                                <img class="thumbnails thumbnails4" src="{% static pps.img %}">
                                                                    </a>
                                                                    <div class="imgcaption">
                                                                        <a href="{% url 'display:summary' app pps.pid.pid %}?role={{role}}">
                                                                            {{pps.pid.abrevname|safe}}<br>{{pps.year|default:'<br>'}}
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                            <img class="thumbnails thumbnails4" src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                                {% endif %}
                                                            </li>

                                                            <li>
                                                                {% if ppp %}
                                                                    <a style="border:0;" href="{% if ppp.type != 'hybrid' %}{% url 'display:summary' app ppp.pid.pid %}{% else %}{% url 'orchidaceae:ancestrytree' %}{% endif %}?pid={{ppp.pid.pid}}&role={{role}}">
                                                                                <img class="thumbnails thumbnails4" src="{% static ppp.img %}" >
                                                                    </a>
                                                                    <div class="imgcaption">
                                                                        <a href="{% url 'display:summary' app ppp.pid.pid %}?role={{role}}">
                                                                            {{ppp.pid.abrevname|safe}}<br>{{ppp.year|default:'<br>'}}
                                                                        </a>
                                                                    </div>
                                                                {% else %}
                                                                            <img class="thumbnails thumbnails4" src="{% static 'utils/images/noimage_light.jpg' %}"/>
                                                                {% endif %}
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:left"></div>
        {% else %}
            <h6>{{species.name|safe}} is not a hybrid</h6>
        {% endif %}   <!--    If it is a hybrid-->
    </div>
</div>
{% endblock %}

