{% load static %}
{% include "base.html" %}
{% include "detail-title.html" %}
{% block body %}
<style>

.border-lb {
    border: 1px solid #ccc;
    border-width: 0 0 1px 1px;
}
.border-rb {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 1px;
}


.table {
    width: 70%;
    margin:0 auto;
}

.table-anc {
    width:600px;
    font-size: 13px;
    clear:left ;
    margin:10px;
}

@media only screen and (max-width: 800px) {
    .table {
        width:100%;
    }
    .table-anc {
        width: 500px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 600px){
    .table-anc {
        font-size:10px;
        width: 350px;
    }
}


</style>


<div style="margin:0 auto;padding:0;width:100%;">
        <!--main section-->
    <br>
    {% include 'common/detail-nav.html' %}
    <div class="tab-content clearfix" style="overflow-x:auto;padding:0;background-color:white; margin:0 auto;;border-left:1px solid lightgrey;border-right:1px solid lightgrey;border-bottom:1px solid lightgrey;">
        {% if species.type == 'hybrid' %}
            <br>
            {% if anc_list %}
               <table id="sortTable" class="table table-condensed table-sm  table-bordered table-hover" style="margin-left:auto;margin-right:auto;font-size:13px;">
                    <tr  style="background-color: #f2f2f2">
                        <th class="border-lb text-left">Ancestors<span> (total {{anc_list.count}})</span></th>
                        <th class="border-rb text-center">%</th>
                        <th class="border-lb text-center">Img</th>
                    </tr>
                    {% for anc in anc_list %}
                    <tr class="center">
                        <td class="border-rb" style="text-align: left"><a href="{% url 'display:information' anc.aid.pid %}?family={{species.gen.family}}&role={{role}}">{{anc.aid.name|safe}}</a></td>
                        <td class="border-rb" style="text-align: right">{{anc.prettypct}}%</td>
                        <td class="border-rb " style="text-align: center">{% if anc.aid.num_image %}{{anc.aid.num_image}} {% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% else %}
        <div style="margin:20px 0 20px 20px;">
        <h6>{{species.name|safe}} is not a hybrid</h6>
        </div>
        {% endif %}

    </div>
</div>

<script>
$(document).ready(function () {
$('#sortTable').DataTable();
$('.dataTables_length').addClass('bs-select');
});

</script>
{% endblock %}

