{% load static %}
{% include "base.html" %}
{% include "detail-title.html" %}
{% block body %}
<head>
    <title>List of ancestors of {{species.binomial}}</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name='description' content='Ancestors of {{species.binomial}}'>
</head>

<style>
.progen {
    margin:0 auto;
    width:90%;
    font-size: 14px;
}



.table {
    width: 100%;
    margin:0 auto;
}

@media only screen and (max-width: 800px) {
    .table {
        width:100%;
    }
}

@media only screen and (max-width: 600px){
}


</style>


<div class="progen">
        <!--main section-->
     {% include 'common/detail-nav.html' %}
    <div class="tab-content clearfix">
        <br>
        <h1 class="hidden-h1">Ancestors of {{species.binomial}}</h1>
        <h5>Ancestors of {{species.binomial}}</h5>
        <br>
        {% if species.type == 'hybrid' %}
            {% if anc_list %}
               <table id="myTable"  class="table table-condensed table-sm table-hover">
                 <thead style="background-color: #e3e3e3">
                        <th class="text-left">Ancestors</th>
                        <th class="text-center">type</th>
                        <th class="text-center">%</th>
                        <th class="d-none d-md-table-cell text-center">Img</th>
                   </thead>
                    {% for anc in anc_list %}
                    <tr>
                        <td class="text-left">
                        {% if anc.aid.pid > 0 %}
                        <a href="{% url 'display:summary' app anc.aid.pid %}?role={{role}}">{{anc.aid.name|safe}}</a>
                        {% else %}
                            unknown
                        {% endif %}
                        </td>
                        <td class="text-center">{{anc.anctype}}</td>
                        <td class="text-center">{{anc.prettypct}}%</td>
                        <td class="text-center d-none d-md-table-cell">{% if anc.aid.speciesstat.num_image %}{{anc.aid.speciesstat.num_image}} {% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% else %}
        <div style="margin:20px 0 20px 20px;">
        <h6>{{species.name|safe}} is not a hybrid</h6>
        </div>
        {% endif %}

    </div>
</div>

{% include "base-datatable.html" %}

<script>
$(document).ready(function() {
    var dataTable = $('#myTable').dataTable({
        "pageLength": 100,
        "aLengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "pagingType": "full",
        "bPaginate": true,
        "order": [[ 1, "dsc" ], [0,'asc']],
        // "pagingType": "simple", # only show previous/next
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Search table'});//tips
        },
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        },
       "drawCallback": function(settings) {
            var api = this.api();
            var pageInfo = api.page.info();

            // Check if the total number of rows is less than or equal to the page length
            if (pageInfo.recordsTotal <= pageInfo.length) {
                $(api.table().container()).find('.dataTables_filter, .dataTables_info, .dataTables_paginate').hide();
            } else {
                $(api.table().container()).find('.dataTables_filter, .dataTables_info, .dataTables_paginate').show();
            }
        }

    });

});

</script>
{% endblock %}

