{% load static %}
{% include "base.html" %}
{% block body %}

<style>
.custom-select{
    /*margin-right:200px;*/
    /*background-color: #f9f9f9;*/
    color: #100d0d;
    width:200px;
    /*height:50px;*/
    font-size:13px;
}

.select-p2 {
    font-size: 13px;
    color: white;
}
.card {
    background-color: white;
}

.custom-select:hover {
    text-decoration: none;
    /*background-color: #8887bd;*/
    color: black;
}

.custom-select:active {
    text-decoration: none;
    background-color: #8887bd;
    color: black;
}

.custom-link{
    margin-right:3px;
    background-color: #f9f9f9;
    color: #292929;
    width:200px;
    border: 1px solid lightgrey;
    /*height:50px;*/
    font-size:13px;
}

.genus-select {
    height:26px;
    width:180px;
    font-size:13px;
}
.genus-select:hover {
    text-decoration: none;
    background-color: #e0eef8;
    /*color: white;*/
}

.infra-filter{
    width:120px;
    height:28px;
    font-size:12px;
}

ul.b {list-style-type: disc;}

label {
    display: inline-block;
    /*float: left;*/
    width: 250px;
    margin-right: 5px;
}
.imgcaption_top {
    font-size: 11px;
    color: #0b51af;
    height: 20px;
    overflow: hidden;
    margin:2px;
    text-align:center;
}

.text-n {
    font-size:13px;
}
.check {
    margin:0;
    padding:0;
}
            /*Display square image*/
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 15vw;
   width : 15vw;
   /*padding:2px;*/
   padding:4px 1px 2px 1px;
   margin:2px 0;
}

.imageitem {
    display:inline-block;
    border:1px solid grey;
    margin: 2px;
    width : 16vw;
    /*height : 22vw;*/
    background-color: #eaeaea;
    border:1px solid lightgrey;
    text-align:center;
}

img{
    width:100%;
}

.selected {
    background-color: #bac4e8;
    border: 1px solid #808080;
    color: black;
}


.btn {
    padding  : 8px 10px;
    /*padding  : .5rem .5rem;*/
    font-size  : .8rem;
    line-height  : .65;
    border-radius : .2rem;
}

@media only screen and (max-width: 830px) {
    .text-n {
        font-size:11px;
    }

    .thumbnails {
       height: 18vw;
       width : 18vw;
       padding:2px 1px 3px 1px;
    }
    .imgcaption_top {
        font-size: 12px;
    }
    .imageitem {
        width : 20vw;
    }
    /*.btn {*/
    /*    font-size:11px;*/
    /*}*/
}

@media only screen and (max-width: 600px) {
    .custom-select{
        line-height:12px;
    }
    .custom-link{
        line-height:12px;
    }
     .text-n {
        font-size:11px;
        padding: 0;
    }

    .thumbnails {
       height: 26vw;
       width : 26vw;
       padding:2px 1px 3px 1px;
    }
    .imgcaption_top {
        font-size: 11px;
    }
   .imageitem {
        width : 28vw;
       /*height: 28px;*/
    }
    /*.btn {*/
    /*    font-size:11px;*/
    /*    padding:2px;*/
    /*}*/
}

    .dropdown-item {
        font-size: 11px;
        color: #606060;
        line-height: 1.6;
    }
    .dropdown-item > a {
        color: #606060;
        line-height: normal;
    }
.card {
    background-color: white;
}
.card-header {
    /*background-color:lightgrey;*/
}

.alphalist {
    font-size:11px;
    padding:2px 6px;
    margin-top: 5px;
    margin-block-end: 2px;
}
.alphalist a{
    padding:2px 6px;
    margin: 0;
}
.alphalist a.hover {
    background-color: #f5f9f9;
}

.alphalist a.active {
    background-color: #4CAF50;
    color: white;
}

.alphalist ul {
    margin: 0;
    padding: 0 !important;
    list-style-type: none;
    list-style-image: none;
}

.alphalist li
{
    float: left;
    display:inline-block;
    /*margin: 20px 0;*/
}
.pagination {
    font-size:11px;
    padding:2px 6px;
    /*margin-top: 5px;*/
    margin-block-end: 5px;
}
.pagination a{
    padding:2px 6px;
    /*margin-top: 5px;*/
}
.pagination a.hover {
    background-color: #f5f9f9;
}


.pagination a.active {
    background-color: #4CAF50;
    color: white;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

</style>

<div class="container justify-content-left align-items-center" style="display:block; clear:left; margin: 0 auto; width: 98%; text-align:left">
    <!--Title-->
    <br>
    <div class="card m-2">
        <div class="card-header">
            <span style="color:darkgreen; font-size:24px;font-weight:bold">
                Images of
                {% if type == 'hybrid' %}
                    {% if seed_genus or seed or pollen_genus or pollen %}
                        {% if seed_genus or seed %}
                            ({{seed_genus}} {{seed}}
                        {% else %}
                            ( ?
                        {% endif %}
                                ×
                        {% if pollen_genus or pollen %}
                            {{pollen_genus}} {{pollen}})
                        {% else %}
                            ? )
                        {% endif %}
                    {% elif genus %}
                        {{genus}}
                    {% endif %}
                {% endif %}

                {{type}}

            </span>
        </div>
        <div class="card-body">
            Select a Genus
            <form action="?" autocomplete="off" style="display:inline-block">
                <input type="hidden" name="role" value="{{ role }}" />
                <input type="hidden" name="type" value="species" />
                <input type="hidden" name="display" value="checked" />
                <input list="genus_list" name="genus" onClick="this.setSelectionRange(0, this.value.length)" value={{genus|title}} class="genus-select" data-toggle="tooltip" data-placement="top" title="Select a genus"/>
            </form>
            <datalist id="genus_list">
                {% for g in genus_list %}
                    <option value="{{g.genus}}">{{g.genus}}</option>
                {% endfor %}
            </datalist>
        </div>
        <form action="?" id="display" style="display:inline-block">
            <input type="hidden" name="type" value="{{type}}" />
            <input type="hidden" name="role" value="{{role}}" />
            <input type="hidden" name="alpha" value="{{alpha}}" />
            <input type="hidden" name="page" value="{{page}}" />
            <input type="hidden" name="subgenus" value="{{subgenus_obj.subgenus}}" />
            <input type="hidden" name="section" value="{{section_obj.section}}" />
            <input type="hidden" name="subsection" value="{{subsection_obj.subsection}}" />
            <input type="hidden" name="series" value="{{series_obj.series}}" />
            <input type="hidden" name="genus" value="{{genus}}" />
            <input type="hidden" name="seed_genus" value="{{seed_genus}}" />
            <input type="hidden" name="pollen_genus" value="{{pollen_genus}}" />
            <input type="hidden" name="seed" value="{{seed}}" />
            <input type="hidden" name="pollen" value="{{pollen}}" />
            {% if display %}
            <input type="checkbox" class="form-check-input" name="display" value="checked" checked onchange="this.form.submit()" style="margin-left:5px;"> <span style="margin-left:30px;font-size:13px;">Show images only?</span>
            {% else %}
            <input type="checkbox" class="form-check-input" name="display" value="checked" onchange="this.form.submit()" style="margin-left:15px;"> <span style="margin-left:40px;font-size:13px;">Show images only?</span>
            {% endif %}

        </form>

    <!--Filter-->
        <div class="btn-group">
            {% if genus %}
                <a class="btn custom-link m-1 {% if type == 'species' %}selected{% endif %}" href="{% url 'orchidaceae:browse' %}?type=species&role={{role}}&genus={{genus}}&display={{display}}">Species images</a>
            {% else %}
                <div class="btn custom-link m-1" data-toggle="tooltip" data-placement="top" title="Select genus first!">Species images</div>
            {% endif %}
            <a class="btn custom-link m-1 {% if type == 'hybrid' %}selected{% endif %}" href="{% url 'orchidaceae:browse' %}?type=hybrid&role={{role}}&genus={{genus}}&display={{display}}">Hybrid images</a>
            <a class="btn custom-link m-1" href="{% url 'orchidaceae:species' %}?role={{role}}&genus={{genus}}">Species list</a>
            {% if seed_genus or pollen_genus or seed or pollen %}
                <a class="btn custom-link m-1" href="{% url 'orchidaceae:hybrid' %}?role={{role}}&genus={{genus}}&seed_genus={{seed_genus}}&pollen_genus={{pollen_genus}}&seed={{seed}}&pollen={{pollen}}">Hybrid list</a>
            {% else %}
                <a class="btn custom-link m-1" href="{% url 'orchidaceae:hybrid' %}?role={{role}}&genus={{genus}}">Hybrid list</a>
            {% endif %}
        </div>
        <!--  Opions -->
        {% if type == 'species' %}
            <!--Subgenus Filter-->
            <div class="btn-group">
                {% if subgenus_list %}
                    <button class="custom-select m-1 infra-filter" type="button" data-toggle="dropdown">
                        {% if subgenus_obj %}{{subgenus_obj.subgenus}}{% else %}Subgenus{% endif %}
                    </button>
                    <ul class="dropdown-menu scrollable-menu">
                        <li class="dropdown-item"><a href="?genus={{genus}}&alpha={{ alpha }}&type=species&display={{display}}">Clear Subgenus</a>
                        </li>
                        {% for subgenus in subgenus_list %}
                        <li class="dropdown-item"><a href="?genus={{genus}}&alpha={{ alpha }}&subgenus={{subgenus.subgenus}}&type={{type}}&display={{display}}">{{subgenus.subgenus}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <!--Sections Filter-->
                {% if section_list %}
                    <button class="custom-select m-1 infra-filter" type="button" data-toggle="dropdown">
                        {% if section_obj %}{{section_obj.section}}{% else %}Section{% endif %}
                    </button>
                    <ul class="dropdown-menu scrollable-menu">
                        <li class="dropdown-item"><a href="?genus={{genus}}&alpha={{ alpha }}&subgenus={{subgenus_obj.subgenus}}&type=species&display={{display}}">Clear Section</a>
                        {% for section in section_list %}
                        <li class="dropdown-item"><a href="?genus={{genus}}&alpha={{ alpha }}&subgenus={{subgenus_obj.subgenus}}&section={{section.section}}&type={{type}}&display={{display}}">{{section.section}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                 <!--Subections Filter-->
                {% if subsection_list %}
                    <button class="custom-select m-1 infra-filter" type="button" data-toggle="dropdown">
                        {% if subsection_obj %}{{subsection_obj.subsection}}{% else %}Subsection{% endif %}
                    </button>
                    <ul class="dropdown-menu scrollable-menu">
                        <li class="dropdown-item"><a href="?genus={{genus}}&alpha={{ alpha }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&type=species&display={{display}}">Clear Subsection</a>
                        {% for subsection in subsection_list %}
                        <li class="dropdown-item"><a href="?genus={{genus}}&alpha={{ alpha }}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection.subsection}}&type=species&display={{display}}">{{subsection.subsection}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

             <!--seriesies Filter-->
                {% if series_list.count > 0 or series_obj %}
                    <button class="custom-select m-1 dropdown-toggle infra-filter" type="button" data-toggle="dropdown">
                        {% if series_obj %}<span style="color:black">{{series_obj.series}}</span>{% else %}Series{% endif %}
                    </button>
                    <ul class="dropdown-menu scrollable-menu">
                        <li class="dropdown-item"><a href="?genus={{genus}}&alpha={{ alpha }}&type=species&display={{display}}">clear Series</a>
                        {% for series in series_list %}
                        <li class="dropdown-item"><a href="?genus={{genus}}&alpha={{ alpha }}&series={{series.series}}&type=species&display={{display}}">{{series.series}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <!-- Display -->
    <div class="card m-2">
        <div class="container justify-content-left align-items-center" style="margin:0 auto; padding:0; text-align: left;">

            <ul class="alphalist text-n" style="display:inline-block !important">
                    <!--Alphabetical-->
                        {% for opt in alpha_list %}
                            {% if alpha == opt %}
                                <li class="page-item active"><a class="page-link" {% if opt == alpha %} class="active" {% endif %} href="#" >{{opt}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" {% if opt == alpha %} class="active" {% endif %} href="?alpha={{opt}}&role={{role}}&type={{type}}&genus={{genus}}&display={{display}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}" >{{opt}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if not alpha or alpha == "ALL" %}
                <li class="page-item active"><a class="page-link" href="#">All </a></li>
                        {% else %}
                <li class="page-item"><a class="page-link" href="?alpha=ALL&role={{role}}&type={{type}}&genus={{genus}}&display={{display}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}">All </a></li>
                        {% endif %}
            </ul>




            {% if page_list %}
                <div class="container justify-content-left align-items-center" style="margin:0 auto; padding:0; text-align: left;">
                    {% if last_page > 1 %}
                        <div style="float:left">
                            <ul class="pagination pagination-xs" style="clear:left">
                                {% if page > 1 %}
                                    <li class="page-item"><a class="page-link" href="?page=1&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&alpha={{alpha}}&display={{display}}"><span class="fa fa-angle-double-left" ></span></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="#"><span class="fa fa-angle-double-left"></span></a></li>
                                {% endif %}

                                {% if page > 1 %}
                                    <li class="page-item"><a class="page-link" href="?page={{prev_page}}&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&alpha={{alpha}}&display={{display}}"><span class="fa fa-angle-left"></span></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="#"><span class="fa fa-angle-left"></span></a></li>
                                {% endif %}

                                {% for pg in page_range %}
                                    {% if pg == page %}
                                        <li class="page-item active"><a class="page-link" href="#">{{pg}}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{pg}}&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&alpha={{alpha}}&display={{display}}">{{pg}}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page == last_page %}
                                    <li class="page-item"><a class="page-link" href="#"><span class="fa fa-angle-right"></span></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{next_page}}&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&alpha={{alpha}}&display={{display}}"><span class="fa fa-angle-right"></span></a></li>
                                {% endif %}

                                {% if page == last_page %}
                                    <li class="page-item"><a class="page-link" href="#"><span class="fa fa-angle-double-right"></span></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{last_page}}&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&alpha={{alpha}}&display={{display}}"><span class="fa fa-angle-double-right"></span></a></li>
                                {% endif %}
                          </ul>

                        </div>
                    {% endif %}
                    <div class="text-n" style="float:left">
                        ({{first}}-{{last}} of {{total}})<br>
                    </div>
                </div>
            {% endif %}
        </div>
<!--            <br>-->
        {% if page_list %}
            <div class="container justify-content-left align-items-center" style="clear:left;margin:0 auto; padding:0; text-align: left;">
            {% for x in page_list %}
                <div class="imageitem m-1 border">
                    {% if role == 'cur' %}
                    <a href="{% url 'detail:photos' x.pid %}?tab=sum&role={{role}}">
                        <img class="thumbnails" alt="" src="{% static x.image_file %}" class="img-fluid fullimg">
                    </a>
                    {% else %}
                    <a href="{% url 'detail:information' x.pid %}?role={{role}}">
                        <img class="thumbnails" alt="" src="{% static x.image_file %}" class="img-fluid fullimg">
                    </a>
                    {% endif %}
                    <div class="imgcaption_top">{{x.name|safe}}</div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div style="margin:0 auto; text-align: center; min-height:200px;">
            <h7>No images available</h7>
            </div>
        {% endif %}
    </div>
</div>
<br>
<br>
	<script type="text/javascript">

$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


</script>


{% endblock %}
