{% load static %}
{% load humanize %}
{% include "base.html" %}
{% block body %}
<head>
    <title>List of {{genus}} hybrids</title>
</head>

<style>

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    /*text-decoration: none;*/
    color: darkblue;
}

::placeholder {
  color: #bdaec6;
  opacity: 1; /* Firefox */
}

.table-condensed{
  font-size: 14px;
}
.card-body {
    padding: 10px;
}

td {
    font-size: 13px;
}

datalist {
  position: absolute;
  background-color: red;
  font-family: sans-serif;
  font-size: 16px;
}

option {
  background-color: blue;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

.form-check-input {
    height: 20px;
    width: 20px;
}
.btn-custom {
    width: 180px;
}
</style>

<br>
<div style="clear:both"></div>
<div class="justify-content-left align-items-center" style="display:block; clear:left; margin: 0 auto; width: 100%; background-color: blue; text-align:left">
    <div class="card" style="width:100%;">
        <div class="card-header">
            <h4>{{genus|title}} Hybrid List
                    - <a class="btn btn-xs btn-primary p-1 m-1 custom-link border" href="{% url 'orchidaceae:species' %}?role={{role}}&alpha={{alpha}}&genus={{genus}}&status={{status}}&syn=N&myspecies={{myspecies}}">Show species List</a>
                <form action="?" id="myspecies" style="display:inline-block">
                    <input type="hidden" name="family" value="{{family}}" >
                    <input type="hidden" name="genus" value="{{genus}}" >
                    <input type="hidden" name="alpha" value="{{alpha}}" >
                    <input type="hidden" name="role" value="{{role}}" >
                    <input type="hidden" name="primary" value="{{primary}}" >
                    <input type="hidden" name="syn" value="{{syn}}" >
                    <input type="hidden" name="req_type" value="hybrid" >
                </form>
            </h4>
                {% if total > 0 and genus or seed_genus or pollen_genus or seed or pollen %}
                    <a class="btn btn-xs btn-primary p-1 m-1 custom-link border" href="{% url 'common:newbrowse' %}?app=orchidaceae&family={{family}}&type=hybrid&genus={{genus}}&display=checked&seed_genus={{seed_genus}}&pollen_genus={{pollen_genus}}&seed={{seed}}&pollen={{pollen}}">Browse images</a>
                {% endif %}
        </div>

        <!--Filter-->
        <div class="card-body d-flex flex-wrap" style="background-color: white; width: 95%; margin: 0 auto;">
            <!--Genus-->
            <form action="?" id="hybrid">
                <input type="hidden" name="family" value="{{family}}" >
                <input type="hidden" name="alpha" value="{{alpha}}" >
<!--                <input class="btn btn-custom p-1 m-1" name="genus" onfocus="this.select()" value="{{genus}}" placeholder="Genus" data-toggle="tooltip" data-placement="top"  title="Genus. Begin and/or end with * for wildcard">-->
                <!--            Others-->
                <input class="btn btn-custom p-1 m-1" form="hybrid" name="genus" value="{{genus}}"  placeholder="Genus" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Genus">
                <input class="btn btn-custom p-1 m-1" form="hybrid" name="spc" value="{{spc}}"  placeholder="Epithet" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Hybrid name (no wildcard)">
                <input class="btn btn-custom p-1 m-1" form="hybrid" name="year" value='{{year}}' placeholder="Year" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="YYYY">
                <input class="btn btn-custom p-1 m-1" form="hybrid" name="author" value='{{author}}' placeholder="Registrant" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Registrant name match string">
                <input class="btn btn-custom p-1 m-1" form="hybrid" name="originator" value='{{originator}}' placeholder="Originator" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Originator name match string">
                <button form="hybrid" type="submit" class="btn btn-primary btn-sm p-1 m-1" style="padding:0 5px; margin:0; width: 32px; height: 32px;">Go</button>
            </form>
            <form action="?" id="parents">
                <input form="parents" type="hidden" name="family" value="{{family.family}}" >
                <input form="parents" type="hidden" name="alpha" value="{{alpha}}" >
                <input form="parents" type="hidden" name="genus" value="{{genus}}" >
                <input form="parents" type="hidden" name="spc" value="" >
                <input form="parents" type="hidden" name="author" value="" >
                <input form="parents" type="hidden" name="originator" value="" >
                <input form="parents" class="btn btn-custom p-1 m-1" form="parents" name="seed_binomial" onClick="this.setSelectionRange(0, this.value.length)" value="{{seed_binomial}}" class="custom-select" placeholder="Select a parent" style="text-align:center; background-image: none" data-toggle="tooltip"  data-placement="bottom"  title="Select parent #1">
                <input form="parents"  class="btn btn-custom p-1 m-1" form="parents" name="pollen_binomial" onClick="this.setSelectionRange(0, this.value.length)" value="{{pollen_binomial}}" class="custom-select" placeholder="Select another parent" style="text-align:center" data-toggle="tooltip"  data-placement="bottom"  title="Select parent #2">
                <button form="parents" type="submit" class="btn btn-primary btn-sm p-1 m-1" style="padding:0 5px; margin:0; width: 32px; height: 32px;">Go</button>
            </form>
             <span style="color: red;">{{msg|default:''}}</span>

            {% if subtotal == 0 %}
                <div style="margin: 50px 0 0 10px;">No results available! Please try {% if status == 'accepted' %}synonym{% else %}accepted{% endif %} status, or select different filters.</div>
            {% endif %}
        </div>

        <!--Main table-->
        <div style="width: 95%; margin: 0 auto;">
            {% include "orchidaceae/alpha_list.html" %}
        <!--Pagination        -->
        {% if my_list %}
            <!--main table-->
            <div style="width:100%; margin: 0 auto;background-color: white;">
                <table class="table table-sm table-condensed table-bordered table-hover" id="sortTable" style="">
                    <thead>
                        <tr class="center" style="background-color: #e3e3e3">
                            <th class="text-center">Grex</th>
                            <th class="text-center">Parentage</th>
                            <th class="text-center">Registrant</th>
                            <th class="text-center">originator</th>
                            <th class="text-center">year</th>
                            <th class="d-none d-sm-table-cell text-center">#ancestors</th>
                            <th class="d-none d-sm-table-cell text-center">#descendants</th>
                            <th class="d-none d-sm-table-cell text-center">#images</th>

                        </tr>
                    </thead>
                        {% for spc in my_list %}
                            <tr>
                                <td class="align-left"><a href="{% url 'display:information' spc.pid %}?role={{role}}">{% if spc.is_hybrid %}<i>{{spc.binomial}}</i>{% else %}{{spc.binomial}}{% endif %}</a></td>
                                <td class="align-center">
                                    {% if spc.status == 'synonym' %}
                                    Synonym of
                                        {% if spc.getAccepted %}
                                            <a href="{% url 'display:information' spc.getAccepted.pid %}?role={{role}}">{{spc.getAccepted.binomial|safe}}</a>
                                        {% else %}}
                                            {{spc.getAccepted.name|safe}}
                                        {% endif %}
                                    {% else %}
                                        {% if spc.hybrid.seed_id.type == 'species' %}
                                            {% if spc.hybrid.seed_id_id %}
                                                <a href="{% url 'display:information' spc.hybrid.seed_id_id %}?role={{role}}">{{spc.hybrid.seed_id.binomial|safe}}</a>
                                            {% else %}
                                                <a href="#">{{spc.hybrid.seed_id.abrevname|safe}}</a>
                                            {% endif %}
                                        {% elif spc.hybrid.seed_id.type == 'hybrid' %}
                                            <a href="{% url 'display:information' spc.hybrid.seed_id_id %}?role={{role}}">{{spc.hybrid.seed_id.binomial|safe}}</a>
                                        {% else %}na
                                        {% endif %}
                                            ×
                                        {% if spc.hybrid.pollen_id.type == 'species' %}
                                            <a href="{% url 'display:information' spc.hybrid.pollen_id_id %}?role={{role}}">{{spc.hybrid.pollen_id.binomial|safe}}</a>
                                        {% elif spc.hybrid.pollen_id.type == 'hybrid' %}
                                            <a href="{% url 'display:information' spc.hybrid.pollen_id_id %}?role={{role}}">{{spc.hybrid.pollen_id.binomial|safe}}</a>
                                        {% else %}na
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{spc.author|default:''}}</td>
                                <td>{{spc.originator|default:''}}</td>
                                <td>{{spc.year|default:''}}</td>
                                <td class="d-none d-sm-table-cell text-center"><a href="{% url 'orchidaceae:ancestor' spc.pid %}?role={{role}}">{{spc.num_ancestor|default:''}}</a></td>
                                <td class="d-none d-sm-table-cell text-center"><a href="{% url 'orchidaceae:progeny' spc.pid %}?role={{role}}">{{spc.num_descendant|default:''}}</a></td>
                                <td class="d-none d-sm-table-cell text-center">{{spc.num_image|default:''}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra-scripts %}


<script>

// Tree view toggler
var toggler = document.getElementsByClassName("caret");
for (var i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
    });
}

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    var initialFilterValue = "{{ spc | default:'' | escapejs }}";

    var table = $('#sortTable').DataTable({
        "info": true,
        "paging": true,  // Enable paging
        "lengthChange": false,
        "pageLength": 50,
        "lengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "colReorder": true,
        "columnDefs": [
            { "type": "priority", "targets": 1 },
            { targets: [5, 6, 7], className: 'none' }
        ],
        "order": [[ 1, "asc" ], [0,'asc']],
        "columns": [
            { "data": "grex" },
            { "data": "parentage" },
            { "data": "registrant" },
            { "data": "originator" },
            { "data": "year" },
            { "data": "#ancestors" },
            { "data": "#descendants" },
            { "data": "#images" },
        ],
        responsive: true,
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'p>>" +  // Top pagination
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-5'i><'col-sm-7'p>>",  // Bottom pagination
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
        },
        "drawCallback": function(settings) {
            var api = this.api();
            var pageInfo = api.page.info();

            // Show/hide info and pagination
            $('.dataTables_info, .dataTables_paginate').toggle(pageInfo.pages > 1);

            // Adjust the filter and top pagination position
            if (pageInfo.pages <= 1) {
                $('.dataTables_filter').css({
                    'float': 'left',
                    'margin-bottom': '10px'
                });
                $('.dataTables_paginate:eq(0)').hide();  // Hide top pagination if only one page
            } else {
                $('.dataTables_filter').css({
                    'float': 'left',
                    'margin-bottom': '0'
                });
                $('.dataTables_paginate:eq(0)').show().css('float', 'right');  // Show top pagination
            }

            // Log info for debugging
            console.log("Total pages:", pageInfo.pages);
            console.log("Current page:", pageInfo.page);
            console.log("Total records:", pageInfo.recordsTotal);
        },

        "initComplete": function(settings, json) {
            $('.dataTables_filter input').attr('placeholder', 'Filter results');
        }
    });

    // Set initial filter value and draw table
    $('.dataTables_filter input').val(initialFilterValue);
    table.search(initialFilterValue).draw();
});


</script>

{% endblock %}
