{% load static %}
{% load humanize %}
{% include "base.html" %}
{% block body %}

<style>

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    /*text-decoration: none;*/
    color: darkblue;
}

/*.button-a {*/
/*    !*background-color: #eaeaea;*!*/
/*    height:30px;*/
/*    width: 150px;*/
/*    border:1px solid #857f7f;*/
/*    padding-top:3px;*/
/*    color: #222d2d;*/
/*    background-color: white;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 13px;*/
/*    margin: 4px;*/
/*    -webkit-transition-duration: 0.4s; !* Safari *!*/
/*    transition-duration: 0.4s;*/
/*    cursor: pointer;*/
/*  opacity: 1; !* Firefox *!*/
/*}*/


::placeholder {
  color: #bdaec6;
  opacity: 1; /* Firefox */
}

.table-condensed{
  font-size: 14px;
}

/*input {*/
/*    text-align: left;*/
/*    !*margin: 0 5px;*!*/
/*    padding:0;*/
/*    height:30px;*/
/*    width: 180px;*/
/*    border: 1px solid grey;*/
/* }*/
/*.scrollable-menu {*/
/*    height: auto;*/
/*    width:150px;*/
/*    padding:5px;*/
/*    max-height: 400px;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
/*    font-size:13px;*/
/*    color: grey;*/
/*    line-height:20px;*/
/*}*/

/*.filterinput {*/
/*    text-align: left;*/
/*    margin: 0 0 5px 5px;*/
/*    padding:0 0 0 2px;*/
/*    height:30px;*/
/*    width: 150px;*/
/*    border-radius: 3px;*/
/* }*/

/*.submit {*/
/*    height:30px;*/
/*    width: 30px;*/
/*    font-size:12px;*/
/*    !*font-color:lightgrey;*!*/
/*    text-align:center;*/
/*    float: left;*/
/*    margin: 0;*/
/*    background-color: #607951;*/
/*    color:white;*/
/*    border: 0;*/
/*}*/

/*.select-p2 {*/
/*    font-size:14px;*/
/*    color: #b9b9b9;*/
/*    text-align:left;*/
/*    width:150px;*/
/*    height:30px;*/
/*    margin:0;*/
/*    border:1px solid #768070;*/
/*    padding:5px;*/
/*    background-color:white;*/
/*    border-radius: 3px;*/
/*}*/
.card-body {
    padding: 10px;
}

/*.dropdown {*/
/*    display: inline-block;*/
/*}*/

td {
    font-size: 13px;
}

datalist {
  position: absolute;
  background-color: red;
  font-family: sans-serif;
  font-size: 16px;
}

option {
  background-color: blue;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

.form-check-input {
    height: 20px;
    width: 20px;
}
.btn-custom {
    width: 180px;
}
</style>

<br>
<div style="clear:both"></div>
<div class="justify-content-left align-items-center" style="display:block; clear:left; margin: 0 auto; width: 95%; text-align:left">
    <div class="card m-2">
        <div class="card-header">
            <h4>{{genus|title}} Hybrid List
                {% if genobj.num_species > 0 %}
                    <a class="btn btn-xs btn-primary p-1 m-1 custom-link border" href="{% url 'orchidaceae:species' %}?family={{family}}&role={{role}}&alpha={{alpha}}&genus={{genus}}&status={{status}}&syn=N&myspecies={{myspecies}}">Species List</a>
                {% endif %}

                {% if total > 0 and genus or seed_genus or pollen_genus or seed or pollen %}
                    <a class="btn btn-xs btn-primary p-1 m-1 custom-link border" href="{% url 'common:browse' %}?family={{family}}&type=hybrid&genus={{genus}}&display=checked&seed_genus={{seed_genus}}&pollen_genus={{pollen_genus}}&seed={{seed}}&pollen={{pollen}}">Browse images</a>
                {% endif %}
                <form action="?" id="display" style="display:inline-block; margin-top: 5px;">
                    <input type="hidden" name="genus" value="{{genus}}" >
                    <input type="hidden" name="family" value="{{family.family}}" >
                    <input type="hidden" name="alpha" value="{{alpha}}" >
                    {% if syn == 'N' %}
                    <input type="checkbox" class="form-check-input" name="syn" value="Y" checked onchange="this.form.submit()" style="margin:10px 0 0 0;">
                    <span style="margin:0 30px;font-size:13px;">hide synonyms</span>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="syn" value="N" onchange="this.form.submit()" style="margin:10px 0 0 0;">
                    <span style="margin:0 30px;font-size:13px;">hide synonyms</span>
                    {% endif %}
                </form>
                <form action="?" id="primary" style="display:inline-block; margin-top: 5px;">
                    <input type="hidden" name="family" value="{{family}}" >
                    <input type="hidden" name="role" value="{{role}}" >
                    <input type="hidden" name="subfamily" value="{{subfamily}}" >
                    <input type="hidden" name="tribe" value="{{tribe}}" >
                    <input type="hidden" name="subtribe" value="{{subtribe}}" >
                    <input type="hidden" name="genus" value="{{genus}}" >
                    <input type="hidden" name="syn" value="{{syn}}" >
                    <input type="hidden" name="myspecies" value="{{myspecies}}" >
                    {% if primary == 'Y' %}
                    <input type="checkbox" class="form-check-input" name="primary" value="Y" checked onchange="this.form.submit()" style="margin:10px 0 0 0;"> <span style="margin:0 30px;font-size:13px;">primary hybrid</span>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="primary" value="Y" onchange="this.form.submit()" style="margin:10px 0 0 0;"> <span style="margin:0 30px;font-size:13px;">primary hybrid</span>
                    {% endif %}
                </form>
                &nbsp;
                <form action="?" id="myspecies" style="display:inline-block">
                    <input type="hidden" name="family" value="{{family}}" >
                    <input type="hidden" name="genus" value="{{genus}}" >
                    <input type="hidden" name="alpha" value="{{alpha}}" >
                    <input type="hidden" name="role" value="{{role}}" >
                    <input type="hidden" name="primary" value="{{primary}}" >
                    <input type="hidden" name="syn" value="{{syn}}" >
                    {% if myspecies %}
                    <input type="checkbox" class="form-check-input" name="myspecies" value="1" checked onchange="this.form.submit()" style="margin:10px 0 0 0;"> <span style="margin:0 30px;font-size:13px;">Show My hybrids</span>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="myspecies" value="1" onchange="this.form.submit()" style="margin:10px 0 0 0;"> <span style="margin:0 30px;font-size:13px;">Show My hybrids</span>
                    {% endif %}
                </form>

            </h4>
        </div>

        <!--Filter-->
        <div class="card-body d-flex flex-wrap" style="padding:0;">
            <!--Genus-->
            <form action="?" id="hybrid">
                <input type="hidden" name="family" value="{{family.family}}" >
                <input type="hidden" name="alpha" value="{{alpha}}" >
                <input class="btn btn-custom p-1 m-1" name="genus" onfocus="this.select()" value="{{genus}}" placeholder="Genus" data-toggle="tooltip" data-placement="top"  title="Genus. Begin and/or end with * for wildcard">
            </form>
            <!--            Others-->
            <input class="btn btn-custom p-1 m-1" form="hybrid" name="spc" value="{{spc}}"  placeholder="Epithet" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Hybrid name (no wildcard)">
            <input class="btn btn-custom p-1 m-1" form="hybrid" name="year" value='{{year}}' placeholder="Year" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="YYYY">
            <input class="btn btn-custom p-1 m-1" form="hybrid" name="author" value='{{author}}' placeholder="Registrant" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Registrant name match string">
            <input class="btn btn-custom p-1 m-1" form="hybrid" name="originator" value='{{originator}}' placeholder="Originator" onfocus="this.select()" data-toggle="tooltip"  data-placement="bottom"  title="Originator name match string">
            <button form="hybrid" type="submit" class="btn btn-primary btn-sm p-1 m-1" style="padding:0 5px; margin:0; width: 32px; height: 32px;">Go</button>
            <form action="?" id="parents">
                <input type="hidden" name="family" value="{{family.family}}" >
                <input type="hidden" name="alpha" value="{{alpha}}" >
                <input type="hidden" name="genus" value="" >
                <input type="hidden" name="spc" value="" >
                <input type="hidden" name="author" value="" >
                <input type="hidden" name="originator" value="" >
                <input class="btn btn-custom p-1 m-1" form="parents" list="genus_list" name="seed_genus" onClick="this.setSelectionRange(0, this.value.length)" value="{{seed_genus}}" class="custom-select" placeholder="Select a parent genus" style="text-align:center; background-image: none" data-toggle="tooltip"  data-placement="bottom"  title="Select a parent genus">
                <input class="btn btn-custom p-1 m-1" form="parents" name="seed" value='{{seed}}' data-toggle="tooltip" data-placement="bottom"  title="a parent species" placeholder="Parent sp. #1" onfocus="this.select()">
                <!--Pollen Genus-->
                <input  class="btn btn-custom p-1 m-1" form="parents" list="genus_list" name="pollen_genus" onClick="this.setSelectionRange(0, this.value.length)" value="{{pollen_genus}}" class="custom-select" placeholder="Select a parent genus" style="text-align:center" data-toggle="tooltip"  data-placement="bottom"  title="Select another parent genus">
                <input class="btn btn-custom p-1 m-1" form="parents" name="pollen" value='{{pollen}}' data-toggle="tooltip" data-placement="bottom"  title="another parent species"  placeholder="Parent sp. #2" onfocus="this.select()">
                <button form="parents" type="submit" class="btn btn-primary btn-sm p-1 m-1" style="padding:0 5px; margin:0; width: 32px; height: 32px;">Go</button>
            </form>
             <span style="color: red;">{{msg|default:''}}</span>
           <datalist id="genus_list">
                {% for g in genus_list %}
                    <option value="{{g}}">{{g}}</option>
                {% endfor %}
            </datalist>
            {% if subtotal == 0 %}
                <div style="margin: 50px 0 0 10px;">No results available! Please try {% if status == 'accepted' %}synonym{% else %}accepted{% endif %} status, or select different filters.</div>
            {% endif %}
        </div>

        <!--Main table-->
        {% if not genus or genobj.num_species_total > 0 or genobj.num_hybrid_total > 0 %}
            {% include "orchidaceae/alpha_list.html" %}
        {% endif %}
        <!--Pagination        -->
        {% if my_list %}
            <!--main table-->
            <div class="table mytable" style="">
                <table class="table table-sm table-condensed table-bordered table-hover" id="sortTable">
                    <thead>
                        <tr class="center">
                            <th class="text-center">Grex</th>
                            <th class="text-center">Registrant</th>
                            <th class="text-center">originator</th>
                            <th class="text-center">year</th>
                            <th class="text-center">Parentage</th>
                            <th class="d-none d-sm-table-cell text-center">#ancestors</th>
                            <th class="d-none d-sm-table-cell text-center">#descendants</th>
                            <th class="d-none d-sm-table-cell text-center">#images</th>

                        </tr>
                    </thead>
                        {% for spc in my_list %}
                            <tr>
                                <td align="left"><a href="{% url 'display:information' spc.pid %}?family={{spc.gen.family}}&role={{role}}">{% if spc.is_hybrid %}<i>{{spc.binomial}}</i>{% else %}{{spc.binomial}}{% endif %}</a></td>
                                <td>{{spc.author|default:''}}</td>
                                <td>{{spc.originator|default:''}}</td>
                                <td>{{spc.year|default:''}}</td>
                                <td class="align-center">
                                    {% if spc.status == 'synonym' %}
                                    Synonym of
                                        {% if spc.getAccepted %}
                                            <a href="{% url 'display:information' spc.getAccepted.pid %}?family={{spc.gen.family}}&role={{role}}">{{spc.getAccepted.binomial|safe}}</a>
                                        {% else %}}
                                            {{spc.getAccepted.name|safe}}
                                        {% endif %}
                                    {% else %}
                                        {% if spc.hybrid.seed_id.type == 'species' %}
                                            {% if spc.hybrid.seed_id_id %}
                                                <a href="{% url 'display:information' spc.hybrid.seed_id_id %}?family={{spc.gen.family}}&role={{role}}">{{spc.hybrid.seed_id.binomial|safe}}</a>
                                            {% else %}
                                                <a href="#">{{spc.hybrid.seed_id.abrevname|safe}}</a>
                                            {% endif %}
                                        {% elif spc.hybrid.seed_id.type == 'hybrid' %}
                                            <a href="{% url 'display:information' spc.hybrid.seed_id_id %}?family={{spc.gen.family}}&role={{role}}">{{spc.hybrid.seed_id.binomial|safe}}</a>
                                        {% else %}na
                                        {% endif %}
                                            ×
                                        {% if spc.hybrid.pollen_id.type == 'species' %}
                                            <a href="{% url 'display:information' spc.hybrid.pollen_id_id %}?family={{spc.gen.family}}&role={{role}}">{{spc.hybrid.pollen_id.binomial|safe}}</a>
                                        {% elif spc.hybrid.pollen_id.type == 'hybrid' %}
                                            <a href="{% url 'display:information' spc.hybrid.pollen_id_id %}?family={{spc.gen.family}}&role={{role}}">{{spc.hybrid.pollen_id.binomial|safe}}</a>
                                        {% else %}na
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="d-none d-sm-table-cell text-center"><a href="{% url 'orchidaceae:ancestor' spc.pid %}?family={{spc.gen.family}}&role={{role}}">{{spc.num_ancestor|default:''}}</a></td>
                                <td class="d-none d-sm-table-cell text-center"><a href="{% url 'orchidaceae:progeny' spc.pid %}?family={{spc.gen.family}}&role={{role}}">{{spc.num_descendant|default:''}}</a></td>
                                <td class="d-none d-sm-table-cell text-center">{{spc.num_image|default:''}}</td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
</div>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
$(document).ready(function() {
    var dataTable = $('#sortTable').dataTable({
        "pageLength": 100,
        "aLengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "pagingType": "full",
        "bPaginate": true,
        // "pagingType": "simple", # only show previous/next
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Search table'});//tips
        },
        // "dom": '<"top"i>rt<"bottom"flp><"clear">',
        // "dom": '<"top"flp>rt<"bottom"i><"clear">',
        // "dom": '<"wrapper"flipt>',
        // "dom": "<'row'<'col-md-6'l><'col-md-6'Bf>>" + "<'row'<'col-md-6'><'col-md-6'>>" + "<'row'<'col-md-12't>><'row'<'col-md-12'ip>>",
        // "dom": "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-4'f><'col-sm-8'p>>",
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        // "sDom": '<"top"flp>rt<"bottom"ip><"clear">',
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        }
    });
});


</script>

<!--<script>-->
<!--var acc = document.getElementsByClassName("accordion");-->
<!--var i;-->

<!--for (i = 0; i < acc.length; i++) {-->
<!--  acc[i].onclick = function() {-->
<!--    this.classList.toggle("active");-->
<!--    var panel = this.nextElementSibling;-->
<!--    if (panel.style.maxHeight){-->
<!--      panel.style.maxHeight = null;-->
<!--    } else {-->
<!--      panel.style.maxHeight = panel.scrollHeight + "px";-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->


{% endblock %}
