{% load static %}
{% include "base.html" %}
{% include 'detail-title.html' %}
{% block body %}
<head>
    <link rel="canonical" href="{{ canonical_url }}">
    <title>List of {{species.binomial}} immediate offsprings</title>
    <meta name='description' content='Immediate offsprings of {{species.binomial}}'>
</head>

<style>

.progen {
    margin:0 auto;
    width:90%;
    font-size: 14px;
}


@media only screen and (max-width: 700px){
    .progen {
        width:95%;
        font-size: 10px;
    }
}


</style>


    <div class="progen">
        <!--main section-->
    {% include "common/detail-nav.html" %}
    <div class="tab-content clearfix">
        <br>
        <h1 class="hidden-h1">Immediate Offsprings of {{species.binomial}}</h1>
        <h5>Immediate Offsprings of {{species.binomial}}</h5>
        <br>
        <table id="sortTable" class="table table-condensed table-sm table-hover">
            <thead style="background-color: #e3e3e3">
                <th>Descendants</th>
                <th>Seed Parent</th>
                <th>Pollen Parent</th>
                <th class="text-left d-sm-table-cell"># images</th>
            </thead>
            <div style="display:block; margin: 0; width: 100%; font-size:13px">
                {% for hybrid in prim_list %}
                <tr style="text-align: left">
                    <td>
                        <a href="{% url 'display:summary' app hybrid.pid.pid %}?role={{role}}"><i>{{hybrid.pid.binomial_it|safe}}</i></a>
                    </td>
                    <td >
                        {% if hybrid.seed_id.pid %}
                            <a href="{% url 'display:summary' app hybrid.seed_id.pid %}?role={{role}}">{{hybrid.registered_seed_name|safe}}</a>
                        {% else %}
                            na
                        {% endif %}
                    </td>
                    <td>
                        {% if hybrid.pollen_id.pid %}
                            <a href="{% url 'display:summary' app hybrid.pollen_id.pid %}?role={{role}}">{{hybrid.registered_pollen_name|safe}}</a>
                        {% else %}
                            na
                        {% endif %}
                    </td>
                    <td class="text-left d-sm-table-cell">
                        {% if hybrid.pid.num_image %}{{hybrid.pid.speciesstat.num_image}} {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </div>
     </table>
    </div>


</div>

<script>

$(document).ready(function() {
    var dataTable = $('#sortTable').dataTable({
        "pageLength": 100,
        "aLengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "bPaginate": true,
        "colReorder": true,  // Enable column reordering
        "columnDefs": [
            // { "orderable": false, "targets": 2 }
            { "type": "priority", "targets": 1 }
        ],
        "order": [[ 0, "asc" ]],
        // "pagingType": "simple", # only show previous/next
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Filter results'});//tips
        },

        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "None",
        },
        "drawCallback": function(settings) {
            var api = this.api();
            var pageInfo = api.page.info();

            // Check if the total number of rows is less than or equal to the page length
            if (pageInfo.recordsTotal <= pageInfo.length) {
                $(api.table().container()).find('.dataTables_filter, .dataTables_info, .dataTables_paginate').hide();
            } else {
                $(api.table().container()).find('.dataTables_filter, .dataTables_info, .dataTables_paginate').show();
            }
        }
    });
});


</script>

{% endblock %}