{% load static %}
<head>
    <link rel="canonical" href="{{ canonical_url }}">
    <title>List of {{species.binomial}} offsprings</title>
    <meta name='description' content='Offsprings of {{species.binomial}}'>
</head>
{% include "base.html" %}
{% block body %}

<style>
.progen {
    margin:0 auto;
    width:90%;
    font-size: 13px;
}

@media only screen and (max-width: 700px){
    .progen {
        width:95%;
        font-size: 11px;
    }
}
</style>

<div class="progen">
    <div style="width: 80%; margin:0 auto; text-align: center;">
        <br>
        <h4>Progeny of {{species.binomial}}</h4>
        <br>
    </div>
        <!--main section-->
    {% include "common/detail-nav.html" %}
    <div class="tab-content clearfix" style="background:white; margin:0;">
        <br>
        <h1 class="hidden-h1">Progenies of {{species.binomial}}</h1>
        <br>
        <table id="sortTable" class="table table-condensed table-sm table-hover" style="font-size:13px;">
            <thead style="background-color: #e3e3e3">
                <th>Descendants</th>
                <th>Seed Parent</th>
                <th>Pollen Parent</th>
                <th class="text-center d-none d-sm-table-cell" >pct</th>
                <th class="text-left">#img</th>
            </thead>
            {% for hybrid in result_list %}
            <tr style="text-align: left">
                <td>
                    <a href="{% url 'display:summary' app hybrid.did.pid.pid %}?role={{role}}"><i>{{hybrid.did.pid.binomial_it|safe}}</i></a>
                </td>
                <td >
                    {% if hybrid.did.seed_id.pid %}
                        <a href="{% url 'display:summary' app hybrid.did.seed_id.pid %}?role={{role}}">{{hybrid.did.registered_seed_name|safe}}</a>
                    {% else %}
                        na
                    {% endif %}
                </td>
                <td>
<!--                        Some hybrrid's parent(s) are missing-->
                    {% if hybrid.did.pollen_id.pid %}
                        <a href="{% url 'display:summary' app hybrid.did.pollen_id.pid %}?role={{role}}">{{hybrid.did.registered_pollen_name|safe}}</a>
                    {% else %}
                        na
                    {% endif %}
                </td>
                <td class="text-center d-none d-sm-table-cell">
                    {{hybrid.pct|floatformat:0}}%
                </td>
                <td class="text-left" valign="middle">
                    {% if hybrid.did.pid.speciesstat.num_image %}{{hybrid.did.pid.speciesstat.num_image}} {% endif %}
                </td>
            </tr>
            {% endfor %}
     </table>
    </div>


</div>

{% include "base-datatable.html" %}

<script>
$(document).ready(function() {
    var dataTable = $('#sortTable').DataTable({
        "pageLength": 100,
        "aLengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "bPaginate": true,
        "colReorder": true,
        "columnDefs": [
            { "type": "priority", "targets": 1 }
        ],
        "order": [[ 1, "asc" ], [0, 'asc']],
        "fnPreDrawCallback": function(oSettings) {
            $('.dataTables_filter input').attr({'name':'', 'placeholder': 'Filter results'}); //tips
        },
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        "language": {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "None"
        },
        "drawCallback": function(settings) {
            var api = this.api();
            var pageInfo = api.page.info();

            // Check if the total number of records is less than or equal to the page length
            if (pageInfo.recordsDisplay <= pageInfo.length) {
                // Hide the pagination, search filter, and info sections
                $(api.table().container()).find('.dataTables_filter, .dataTables_info, .dataTables_paginate').hide();
            } else {
                // Show them if there are more records
                $(api.table().container()).find('.dataTables_filter, .dataTables_info, .dataTables_paginate').show();
            }
        }
    });
});

</script>

{% endblock %}