{% load static %}
{% load humanize %}
{% include "base.html" %}
{% block body %}
<head>
    <title>List of {{genus}} species</title>
</head>

<style>

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    /*text-decoration: none;*/
    color: darkblue;
}

::placeholder {
  color: #bdaec6;
  opacity: 1; /* Firefox */
}

.table-condensed{
  font-size: 14px;
}
.card-body {
    padding: 10px;
}

/*.dropdown {*/
/*    display: inline-block;*/
/*}*/

td {
    font-size: 13px;
}

datalist {
  position: absolute;
  background-color: red;
  font-family: sans-serif;
  font-size: 16px;
}

option {
  background-color: blue;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

.form-check-input {
    height: 20px;
    width: 20px;
}
.btn-custom {
    width: 180px;
}
/* Pagination container */
.dataTables_paginate {
    padding-top: 10px;
}

/* Pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 1em;
    margin-left: 2px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #f9f9f9;
    color: #333;
}

/* Current/active page */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* Hover state */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* Disabled state */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
</style>
<br>
<div style="clear:both"></div>
        <!--Filter-->
<div class="justify-content-left align-items-center" style="display:block; clear:left; margin: 0 auto; width: 95%; text-align:left">
    <div class="card m-2">
        <div class="card-header">
            <h4>
                {{genus|title}}
                {% if genus.num_hybrid > 0 %}
                    <a class="btn btn-xs btn-primary p-1 m-1  border" href="{% url 'orchidaceae:hybrid' %}?family=Orchidaceae&role={{role}}&alpha={{alpha}}&genus={{genus}}&myspecies={{myspecies}}">Hybrid List</a>
                {% endif %}
                <a class="btn btn-xs btn-primary p-1 m-1 border" href="{% url 'common:newbrowse' %}?app=orchidaceae&family=Orchidaceae&role={{role}}&type=species&genus={{genus}}&display=checked&seed_genus={{seed_genus}}&pollen_genus={{pollen_genus}}&seed={{seed}}&pollen={{pollen}}">Browse</a>
                <form action="?" id="display" style="display:inline-block; margin-top: 5px;">
                    <input form="display" type="hidden" name="genus" value="{{genus}}" >
                    <input form="display" type="hidden" name="family" value="{{family|default:'Orchidaceae'}}" >
                    <input form="display" type="hidden" name="alpha" value="{{alpha}}" >
                    <input form="display" type="hidden" name="myspecies" value="{{myspecies}}" >
                    <input form="display" type="hidden" name="subgenus" value="{{subgenus}}" >
                    <input form="display" type="hidden" name="section" value="{{section}}" >
                    <input form="display" type="hidden" name="subsection" value="{{subsection}}" >
                    {% if syn == 'N' %}
                        <input form="display" type="checkbox" class="form-check-input" name="syn" value="Y" checked onchange="this.form.submit()" style="margin:10px 0 0 0;">
                        <span style="margin:0 30px;font-size:13px;">exclude synonyms</span>
                    {% else %}
                        <input form="display" type="checkbox" class="form-check-input" name="syn" value="N" onchange="this.form.submit()" style="margin:10px 0 0 0;">
                        <span style="margin:0 30px;font-size:13px;">exclude synonyms</span>
                    {% endif %}
                </form>
                <form action="?" id="myspecies" style="display:inline-block">
                    <input form="myspecies" type="hidden" name="genus" value="{{genus}}" >
                    <input form="myspecies" type="hidden" name="family" value="{{family|default:'Orchidaceae'}}" >
                    <input form="myspecies" type="hidden" name="subgenus" value="{{subgenus}}" >
                    <input form="myspecies" type="hidden" name="section" value="{{section}}" >
                    <input form="myspecies" type="hidden" name="subsection" value="{{subsection}}" >
                    <input form="myspecies" type="hidden" name="alpha" value="{{alpha}}" >
                    <input form="myspecies" type="hidden" name="role" value="{{role}}" >
                    <input form="myspecies" type="hidden" name="syn" value="{{syn}}" >
<!--                    {% if myspecies %}-->
<!--                    <input type="checkbox" class="form-check-input" name="myspecies" value="1" checked onchange="this.form.submit()" style="margin:10px 0 0 0;"><span style="margin-left:30px;font-size:13px;">My species only</span>-->
<!--                    {% else %}-->
<!--                    <input type="checkbox" class="form-check-input" name="myspecies" value="1" onchange="this.form.submit()" style="margin:10px 0 0 0;"><span style="margin-left:30px;font-size:13px;">My species only</span>-->
<!--                    {% endif %}-->
                </form>

            </h4>

            <span style="color: red;">{{msg|default:''}}</span>
        </div>

        <div class="card-body d-flex flex-wrap" style="display:inline-block">
            <!--Genus-->
            <form action="?" id="filter" style="display:inline-block; margin-top: 5px;">
                <input form="filter" type="hidden" name="family" value="{{family.|default:'Orchidaceae'}}" >
                <input form="filter" type="hidden" name="alpha" value="{{alpha}}" >
                <input form="filter" type="hidden" name="syn" value="N" >
                <input form="filter" class="btn btn-custom p-1" form="filter" name="genus" onfocus="this.select()" value="{{genus}}" placeholder="genus" data-bs-toggle="tooltip"  data-placement="top" title="Genus" style="margin-right: 3px !important;">
                <input form="filter" class="btn btn-custom p-1" form="filter" name="spc" onfocus="this.select()" value="{{spc}}" placeholder="species" data-bs-toggle="tooltip"  data-placement="top" title="Species" style="margin-right: 3px !important;">
                <button form="filter" type="submit" class="btn btn-primary btn-sm p-1 m-1" style="padding:0 5px; margin:0; width: 32px; height: 32px;">Go</button>
            </form>
            {% if subgenus_list %}
            <div>
                <button class="btn btn-custom p-1 m-1" type="button" id="subfamButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{subgenus|default:"Select new subgenus"}}
                </button>
                <div class="dropdown-menu" aria-labelledby="subfamButton">
                    <a class="dropdown-item" href="?family={{family.family|default:'Orchidaceae'}}&role={{role}}&genus={{genus}}&alpha={{alpha}}&syn=N">----</a>
                    {% for g in subgenus_list %}
                        <a class="dropdown-item" href="?family={{family.family|default:'Orchidaceae'}}&role={{role}}&genus={{genus}}&subgenus={{g.subgenus}}&alpha=All&syn=N">{{g}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if section_list %}
                    <div>
                        <button class="btn btn-custom p-1 m-1" type="button" id="SectionButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{section|default:"Select new section"}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="SectionButton">
                            <a class="dropdown-item" href="?family={{family.family|default:'Orchidaceae'}}&role={{role}}&genus={{genus}}&syn=N">----</a>
                            {% for g in section_list %}
                                <a class="dropdown-item" href="?family={{family.family|default:'Orchidaceae'}}&role={{role}}&genus={{genus}}&section={{g.section}}&alpha=All&syn=N">{{g}}</a>
                            {% endfor %}
                        </div>
                    </div>
            {% endif %}

            {% if subsection_list %}
                    <div>

                        <button class="btn btn-custom p-1 m-1" type="button" id="SubsectionButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{subsection|default:"Select new subsection"}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="SubSectionButton">
                            <a class="dropdown-item" href="?family={{family.family|default:'Orchidaceae'}}&role={{role}}&genus={{genus}}&alpha={{alpha}}&syn=N">----</a>
                            {% for g in subsection_list %}
                                <a class="dropdown-item" href="?family={{family.family|default:'Orchidaceae'}}&role={{role}}&genus={{genus}}&subsection={{g.subsection}}&alpha=All&syn=N">{{g}}</a>
                            {% endfor %}
                        </div>
                    </div>
            {% endif %}
            {% if series_list %}
                    <div>

                        <button class="btn btn-custom p-1 m-1" type="button" id="seriesButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{subseries|default:"Select new series"}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="seriesButton">
                            <a class="dropdown-item" href="?family={{family.family|default:'Orchidaceae'}}&role={{role}}&genus={{genus}}&series={{g.series}}&alpha={{alpha}}&syn=N">----</a>
                            {% for g in series_list %}
                                <a class="dropdown-item" href="?family={{family.family|default:'Orchidaceae'}}&role={{role}}&genus={{genus}}&series={{g.series}}&alpha=All&syn=N">{{g}}</a>
                            {% endfor %}
                        </div>
                    </div>
            {% endif %}
        </div>
    </div>

            <!--Main table-->
    <div class="card m-2">

    <!--Pagination        -->
    {% include "orchidaceae/alpha_list_species.html" %}
    {% if page_list %}
        <div class="flex">
        <!--main table-->

            <table id="sortTable"  class="table table-condensed table-sm  table-bordered table-hover">
                <thead  class="thead-light">
    {#                First column - All options#}
                    <tr class="center" bgcolor="#e3e3e3">
                        <th class="text-center">Binomial</th>
                        <th class="text-center">Author</th>
                        <th class="text-center">Year</th>
<!--                        <th class="text-center">Suprageneric ranks</th>-->
                        <th class="text-center">Subgeneric ranks</th>
                        <th class="text-center">Distribution</th>
                        <th class="text-center">#descendants</th>
                        <th class="text-center">#photos</th>
                    </tr>
                </thead>
                {% for species in page_list %}
                    <tr>
                        <td align="left">
                            {% if species.status == 'synonym' %}
                                <i>{{species.genus}} {{species.get_species}}</i>
                                    (syn. {% if species.getAcc %} {{species.getAccepted.pid}}
                                            <a href="{ url 'display:information' species.getAccepted.pid %}?family={{species.gen.family|default:'Orchidaceae'}}&role={{role}}">{{species.getAccepted.binomial|safe}}</a>)
                                        {% else %}
                                            {{species.getAccepted.binomial|safe}}
                                        {% endif %}
                            {% else %}
                                {% if role == 'cur' %}
                                    <a href="{% url 'display:photos' species.pid %}?family={{species.gen.family|default:'Orchidaceae'}}&role={{role}}"><i>{{species.binomial}}</i></a>
                                {% else %}
                                    <a href="{% url 'display:information' species.pid %}?family={{species.gen.family|default:'Orchidaceae'}}&role={{role}}"><i>{{species.binomial}}</i></a>
                                {% endif %}
                            {% endif %}
                            {% if species.status == 'synonym' %}
                                {% if species.subgenus %}{{species.subgenus.subgenus}}{% endif %}
                            {% endif %}
                            </td>
                        <td class="align-center">{{species.author|default:''}}</td>
                        <td class="align-center">{{species.year|default:''}}</td>
                        <td class="align-center">
                            {% if species.accepted.subgenus %}<a href="?app=orchidaceae&family={{species.gen.family|default:'Orchidaceae'}}&alpha={{alpha}}&subgenus={{species.accepted.subgenus}}&type=species&genus={{genus}}">{{species.accepted.subgenus}}</a>{% endif %}
                            {% if species.accepted.section %}<a href="?app=orchidaceae&family={{species.gen.family|default:'Orchidaceae'}}&alpha={{alpha}}&section={{species.accepted.section}}&type=species&genus={{genus}}">{{species.accepted.section}}</a>{% endif %}
                            {% if species.accepted.subsection %}<a href="?app=orchidaceae&family={{species.gen.family|default:'Orchidaceae'}}&alpha={{alpha}}&subsection={{species.accepted.subsection}}&type=species&genus={{genus}}">{{species.accepted.subsection}}</a>{% endif %}
                            {% if species.accepted.series %}<a href="?app=orchidaceae&family={{species.gen.family|default:'Orchidaceae'}}&alpha={{alpha}}&series={{species.accepted.series}}&type=species&genus={{genus}}">{{species.accepted.series}}</a>{% endif %}
                        </td>
                        <td class="align-center">
                            {% if species.status == 'synonym' %}
                                {% if species.getAccepted.distribution %}
                                    {{species.getAccepted.distribution}}
                                {% endif %}
                            {% else %}
                                {% if species.distribution %}
                                    {{species.distribution}}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="d-none d-sm-table-cell text-center">
                            {% if species.num_descendant %}
                                <a href="{% url 'orchidaceae:progeny' species.pid %}?role={{role}}">{{species.num_descendant}}</a>
                            {% endif %}
                        </td>
                        <td class="d-none d-sm-table-cell text-center">{% if species.num_image %}{{species.num_image}}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        <!--Pagination-->
        </div>
        {% if last_page > 1 %} {% include "common/paginator_brw.html" %} {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block extra-scripts %}

<script>


var toggler = document.getElementsByClassName("caret");
for (var i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    var initialFilterValue = "{{ spc | default:'' | escapejs }}";

    // $('[data-toggle="dropdown1"]').tooltip();
    // var initialFilterValue = "{{ subgenus | default:'' | escapejs }}";
    //
    // $('[data-toggle="dropdown2"]').tooltip();
    // var initialFilterValue = "{{ section | default:'' | escapejs }}";
    //
    // $('[data-toggle="dropdown3"]').tooltip();
    // var initialFilterValue = "{{ subsection | default:'' | escapejs }}";
    //
    // $('[data-toggle="dropdown4"]').tooltip();
    // var initialFilterValue = "{{ series | default:'' | escapejs }}";

    var table = $('#sortTable').DataTable({
        "info": true,
        "paging": true,  // Enable paging
        "lengthChange": false,
        "pageLength": 50,
        "lengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "colReorder": true,
        "columnDefs": [
            { "type": "priority", "targets": 1 },
            // { targets: [5, 6, 7], className: 'none' }
        ],
        "order": [[ 1, "asc" ], [0,'asc']],
        responsive: true,
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'p>>" +  // Top pagination
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-5'i><'col-sm-7'p>>",  // Bottom pagination

        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
        },
        "drawCallback": function(settings) {
            var api = this.api();
            var pageInfo = api.page.info();

            // Show/hide info and pagination
            $('.dataTables_info, .dataTables_paginate').toggle(pageInfo.pages > 1);

            // Adjust the filter and top pagination position
            if (pageInfo.pages <= 1) {
                $('.dataTables_filter').css({
                    'float': 'left',
                    'margin-bottom': '10px'
                });
                $('.dataTables_paginate:eq(0)').hide();  // Hide top pagination if only one page
            } else {
                $('.dataTables_filter').css({
                    'float': 'left',
                    'margin-bottom': '0'
                });
                $('.dataTables_paginate:eq(0)').show().css('float', 'right');  // Show top pagination
            }

            // Log info for debugging
            console.log("Total pages:", pageInfo.pages);
            console.log("Current page:", pageInfo.page);
            console.log("Total records:", pageInfo.recordsTotal);
        },

        "initComplete": function(settings, json) {
            $('.dataTables_filter input').attr('placeholder', 'Filter results');
        }
    });

    // Set initial filter value and draw table
    $('.dataTables_filter input').val(initialFilterValue);
    table.search(initialFilterValue).draw();
});

</script>


{% endblock %}
