{% load static %}
{% load humanize %}
{% include "base.html" %}
{% block body %}

<style>

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    /*text-decoration: none;*/
    color: darkblue;
}

/*.button-a {*/
/*    !*background-color: #eaeaea;*!*/
/*    height:30px;*/
/*    width: 150px;*/
/*    border:1px solid #857f7f;*/
/*    padding-top:3px;*/
/*    color: #222d2d;*/
/*    background-color: white;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 13px;*/
/*    margin: 4px;*/
/*    -webkit-transition-duration: 0.4s; !* Safari *!*/
/*    transition-duration: 0.4s;*/
/*    cursor: pointer;*/
/*  opacity: 1; !* Firefox *!*/
/*}*/


::placeholder {
  color: #bdaec6;
  opacity: 1; /* Firefox */
}

.table-condensed{
  font-size: 14px;
}

/*input {*/
/*    text-align: left;*/
/*    !*margin: 0 5px;*!*/
/*    padding:0;*/
/*    height:30px;*/
/*    width: 180px;*/
/*    border: 1px solid grey;*/
/* }*/
/*.scrollable-menu {*/
/*    height: auto;*/
/*    width:150px;*/
/*    padding:5px;*/
/*    max-height: 400px;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
/*    font-size:13px;*/
/*    color: grey;*/
/*    line-height:20px;*/
/*}*/

/*.filterinput {*/
/*    text-align: left;*/
/*    margin: 0 0 5px 5px;*/
/*    padding:0 0 0 2px;*/
/*    height:30px;*/
/*    width: 150px;*/
/*    border-radius: 3px;*/
/* }*/

/*.submit {*/
/*    height:30px;*/
/*    width: 30px;*/
/*    font-size:12px;*/
/*    !*font-color:lightgrey;*!*/
/*    text-align:center;*/
/*    float: left;*/
/*    margin: 0;*/
/*    background-color: #607951;*/
/*    color:white;*/
/*    border: 0;*/
/*}*/

/*.select-p2 {*/
/*    font-size:14px;*/
/*    color: #b9b9b9;*/
/*    text-align:left;*/
/*    width:150px;*/
/*    height:30px;*/
/*    margin:0;*/
/*    border:1px solid #768070;*/
/*    padding:5px;*/
/*    background-color:white;*/
/*    border-radius: 3px;*/
/*}*/
.card-body {
    padding: 10px;
}

/*.dropdown {*/
/*    display: inline-block;*/
/*}*/

td {
    font-size: 13px;
}

datalist {
  position: absolute;
  background-color: red;
  font-family: sans-serif;
  font-size: 16px;
}

option {
  background-color: blue;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

.form-check-input {
    height: 20px;
    width: 20px;
}
.btn-custom {
    width: 180px;
}
</style>
<br>
<div style="clear:both"></div>
        <!--Filter-->
<div class="justify-content-left align-items-center" style="display:block; clear:left; margin: 0 auto; width: 95%; text-align:left">
    <div class="card m-2">
        <div class="card-header">
            <h4>
                {{subfamily|default:''}} {{tribe|default:''}} {{subtribe|default:''}} {{genus|title}} Species
                {% if genus.num_hybrid > 0 %}
                    <a class="btn btn-xs btn-primary p-1 m-1  border" href="{% url 'orchidaceae:hybrid' %}?family=Orchidaceae&role={{role}}&alpha={{alpha}}&genus={{genus}}&myspecies={{myspecies}}">Hybrid List</a>
                {% endif %}
                <a class="btn btn-xs btn-primary p-1 m-1 border" href="{% url 'common:browse' %}?family=Orchidaceae&role={{role}}&type=species&genus={{genus}}&display=checked&seed_genus={{seed_genus}}&pollen_genus={{pollen_genus}}&seed={{seed}}&pollen={{pollen}}">Browse</a>
                <form action="?" id="display" style="display:inline-block; margin-top: 5px;">
                    <input type="hidden" name="genus" value="{{genus}}" >
                    <input type="hidden" name="family" value="{{family}}" >
                    <input type="hidden" name="subfamily" value="{{subfamily}}" >
                    <input type="hidden" name="tribe" value="{{tribe}}" >
                    <input type="hidden" name="subtribe" value="{{subtribe}}" >
                    <input type="hidden" name="alpha" value="{{alpha}}" >
                    <input type="hidden" name="myspecies" value="{{myspecies}}" >
                    {% if syn == 'N' %}
                        <input type="checkbox" class="form-check-input" name="syn" value="Y" checked onchange="this.form.submit()" style="margin:10px 0 0 0;">
                        <span style="margin:0 30px;font-size:13px;">exclude synonyms</span>
                    {% else %}
                        <input type="checkbox" class="form-check-input" name="syn" value="N" onchange="this.form.submit()" style="margin:10px 0 0 0;">
                        <span style="margin:0 30px;font-size:13px;">exclude synonyms</span>
                    {% endif %}
                </form>
                <form action="?" id="myspecies" style="display:inline-block">
                    <input type="hidden" name="genus" value="{{genus}}" >
                    <input type="hidden" name="family" value="{{family}}" >
                    <input type="hidden" name="subfamily" value="{{subfamily}}" >
                    <input type="hidden" name="tribe" value="{{tribe}}" >
                    <input type="hidden" name="subtribe" value="{{subtribe}}" >
                    <input type="hidden" name="alpha" value="{{alpha}}" >
                    <input type="hidden" name="role" value="{{role}}" >
                    <input type="hidden" name="syn" value="{{syn}}" >
                    {% if myspecies %}
                    <input type="checkbox" class="form-check-input" name="myspecies" value="1" checked onchange="this.form.submit()" style="margin:10px 0 0 0;"><span style="margin-left:30px;font-size:13px;">My species only</span>
                    {% else %}
                    <input type="checkbox" class="form-check-input" name="myspecies" value="1" onchange="this.form.submit()" style="margin:10px 0 0 0;"><span style="margin-left:30px;font-size:13px;">My species only</span>
                    {% endif %}
                </form>

            </h4>

            <span style="color: red;">{{msg|default:''}}</span>
        </div>

        <div class="card-body d-flex flex-wrap" style="display:inline-block">
            <!--Genus-->
            <form action="?" id="filter" style="display:inline-block; margin-top: 5px;">
                <input type="hidden" name="family" value="{{family.family}}" >
                <input type="hidden" name="alpha" value="{{alpha}}" >
                <input type="hidden" name="syn" value="N" >
                <input class="btn btn-custom p-1" form="filter" name="genus" onfocus="this.select()" value="{{genus}}" placeholder="genus" data-toggle="tooltip"  data-placement="top" title="Genus" style="margin-right: 3px !important;">
            </form>
            <div>
                <button class="btn btn-custom p-1 m-1" type="button" id="subfamButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{subfamily|default:"Select new Subfamily"}}
                </button>
                <div class="dropdown-menu" aria-labelledby="subfamButton">
                    <a class="dropdown-item" href="?family={{family.family}}&role={{role}}&alpha={{alpha}}&syn=N">----</a>
                    {% for g in subfamily_list %}
                        <a class="dropdown-item" href="?family={{family.family}}&role={{role}}&subfamily={{g.subfamily}}&alpha={{alpha}}&syn=N">{{g.subfamily}}</a>
                    {% endfor %}
                </div>
            </div>
            {% if subfamily %}
                {% if tribe_list %}
                    <div>
                        <button class="btn btn-custom p-1 m-1" type="button" id="tribeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{tribe|default:"Select new Tribe"}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="tribeButton">
                            <a class="dropdown-item" href="?family={{family.family}}&role={{role}}&subfamily={{g.subfamily}}&alpha={{alpha}}&syn=N">----</a>
                            {% for g in tribe_list %}
                                <a class="dropdown-item" href="?family={{family.family}}&role={{role}}&subfamily={{g.subfamily}}&tribe={{g.tribe}}&alpha={{alpha}}&syn=N">{{g.tribe}}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if subtribe_list %}
                    <div>

                        <button class="btn btn-custom p-1 m-1" type="button" id="SubtribeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{subtribe|default:"Select new Subtribe"}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="SubtribeButton">
                            <a class="dropdown-item" href="?family={{family.family}}&role={{role}}&subfamily={{g.subfamily}}&tribe={{g.tribe}}&alpha={{alpha}}&syn=N">----</a>
                            {% for g in subtribe_list %}
                                <a class="dropdown-item" href="?family={{family.family}}&role={{role}}&subfamily={{g.subfamily}}&tribe={{g.tribe}}&subtribe={{g.subtribe}}&alpha={{alpha}}&syn=N">{{g.subtribe.subtribe}}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if total == 0 %}
                <div style="margin: 10px 0 0 10px;">
                    {% if genus %}
                        No <i>{{genus|title}}</i> species {% if alpha and alpha != 'ALL' %}starts with {{alpha}}.{% endif %}
                    {% elif subftribe %}
                        No  <i>{{subftribe|title}}</i> species {% if alpha and alpha != 'ALL' %}starts with {{alpha}}.{% endif %}
                    {% elif tribe %}
                        No <i>{{tribe|title}}</i> species {% if alpha and alpha != 'ALL' %}starts with {{alpha}}.{% endif %}
                    {% elif subfamily %}
                        No <i>{{subfamily|title}}</i> species {% if alpha and alpha != 'ALL' %}}starts with {{alpha}}.{% endif %}
                    {% endif %}
                </div>
            {% endif %}






        </div>
    </div>

            <!--Main table-->
    <div class="card m-2">

    <!--Pagination        -->
    {% include "orchidaceae/alpha_list.html" %}
    {% if page_list %}
        <div class="flex">
        <!--main table-->

            <table id="sortTable"  class="table table-condensed table-sm  table-bordered table-hover">
                <thead  class="thead-light">
    {#                First column - All options#}
                    <tr class="center" bgcolor="#e3e3e3">
                        <th class="text-center">Binomial</th>
                        <th class="text-center">Author</th>
                        <th class="text-center">Year</th>
<!--                        <th class="text-center">Suprageneric ranks</th>-->
                        <th class="text-center">Subgeneric ranks</th>
                        <th class="text-center">Distribution</th>
                        <th class="text-center">#descendants</th>
                        <th class="text-center">#photos</th>
                    </tr>
                </thead>
                {% for species in page_list %}
                    <tr>
                        <td align="left">
                            {% if species.status == 'synonym' %}
                                <i>{{species.genus}} {{species.get_species}}</i>
                                    (syn. {% if species.getAcc %}
                                            <a href="{% url 'display:photos' species.getAccepted.pid %}?family={{species.gen.family}}&role={{role}}">{{species.getAccepted.binomial|safe}}</a>)
                                        {% else %}
                                            {{species.getAccepted.binomial|safe}}
                                        {% endif %}
                            {% else %}
                                {% if role == 'cur' %}
                                    <a href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&role={{role}}"><i>{{species.binomial}}</i></a>
                                {% else %}
                                    <a href="{% url 'display:information' species.pid %}?family={{species.gen.family}}&role={{role}}"><i>{{species.binomial}}</i></a>
                                {% endif %}
                            {% endif %}
                            {% if species.status == 'synonym' %}
                                {% if species.subgenus %}{{species.subgenus.subgenus}}{% endif %}
                            {% endif %}
                            </td>
                        <td class="align-center">{{species.author|default:''}}</td>
                        <td class="align-center">{{species.year|default:''}}</td>
<!--                        <td class="align-center">-->
<!--                            {% if species.gen.subfamily %}<a href="{% url 'common:browse' %}?family={{species.gen.family}}&subfamily={{species.gen.subfamily}}&type=species&display=checked">{{species.gen.subfamily}}</a>{% endif %}-->
<!--                            {% if species.gen.section %} > <a href="{% url 'common:browse' %}?family={{species.gen.family}}&tribe={{species.gen.tribe}}&type=species&display=checked">{{species.gen.tribe}}</a>{% endif %}-->
<!--                            {% if species.gen.subsection %} > <a href="{% url 'common:browse' %}?family={{species.gen.family}}&subtribe={{species.gen.subtribe}}&type=species&display=checked">{{species.gen.subtribe}}</a>{% endif %}-->
<!--                        </td>-->
                        <td class="align-center">
                            {% if species.accepted.subgenus %}<a href="{% url 'common:browse' %}?family={{species.gen.family}}&subgenus={{species.accepted.subgenus}}&type=species&display=checked">{{species.accepted.subgenus}}</a>{% endif %}
                            {% if species.accepted.section %}<a href="{% url 'common:browse' %}?family={{species.gen.family}}&section={{species.accepted.section}}&type=species&display=checked">{{species.accepted.section}}</a>{% endif %}
                            {% if species.accepted.subsection %}<a href="{% url 'common:browse' %}?family={{species.gen.family}}&subsection={{species.accepted.subsection}}&type=species&display=checked">{{species.accepted.subsection}}</a>{% endif %}
                            {% if species.accepted.series %}<a href="{% url 'common:browse' %}?family={{species.gen.family}}&series={{species.accepted.series}}&type=species&display=checked">{{species.accepted.series}}</a>{% endif %}
                        </td>
                        <td class="align-center">
                            {% if species.status == 'synonym' %}
                                {% if species.getAccepted.distribution %}
                                    {{species.getAccepted.distribution}}
                                {% endif %}
                            {% else %}
                                {% if species.distribution %}
                                    {{species.distribution}}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="d-none d-sm-table-cell text-center">
                            {% if species.num_descendant %}
                                <a href="{% url 'orchidaceae:progeny' species.pid %}?role={{role}}">{{species.num_descendant}}</a>
                            {% endif %}
                        </td>
                        <td class="d-none d-sm-table-cell text-center">{% if species.num_image %}{{species.num_image}}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        <!--Pagination-->
        </div>
        {% if last_page > 1 %} {% include "common/paginator_brw.html" %} {% endif %}
    {% endif %}
    </div>
</div>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
$(document).ready(function() {
    var dataTable = $('#sortTable').dataTable({
        "pageLength": 100,
        "aLengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "pagingType": "full",
        "bPaginate": true,
        // "pagingType": "simple", # only show previous/next
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Search table'});//tips
        },
        // "dom": '<"top"i>rt<"bottom"flp><"clear">',
        // "dom": '<"top"flp>rt<"bottom"i><"clear">',
        // "dom": '<"wrapper"flipt>',
        // "dom": "<'row'<'col-md-6'l><'col-md-6'Bf>>" + "<'row'<'col-md-6'><'col-md-6'>>" + "<'row'<'col-md-12't>><'row'<'col-md-12'ip>>",
        // "dom": "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-4'f><'col-sm-8'p>>",
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        // "dom": "<'row'<'col-sm-4'f><'col-sm-8'p>>" + "<'row'<'col-sm-12'tr>>",
        // "sDom": '<"top"flp>rt<"bottom"ip><"clear">',
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        }
    });

});


</script>

<!--<script>-->
<!--var acc = document.getElementsByClassName("accordion");-->
<!--var i;-->

<!--for (i = 0; i < acc.length; i++) {-->
<!--  acc[i].onclick = function() {-->
<!--    this.classList.toggle("active");-->
<!--    var panel = this.nextElementSibling;-->
<!--    if (panel.style.maxHeight){-->
<!--      panel.style.maxHeight = null;-->
<!--    } else {-->
<!--      panel.style.maxHeight = panel.scrollHeight + "px";-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->


{% endblock %}
