#settings.py # lets add this git, add local_settings instead
myproject/local_settings.py
__pycache__/
__init__.py
old/
src/
data/
dbview/
.coverage
.env*
.idea/
*.pyc
myproject/.env
myproject.sock
*_test*
*-test*
