#settings.py # lets add this git, add local_settings instead
myproject/local_settings.py
__pycache__/
old/
src/
venv/
dbview/
log/
.coverage
.env*
.idea/
*.pyc
myproject/settings.py
*.sock
run/
*_test*
*-test*
staticfiles/
media
static
scripts/
testfiles/
testdata_media/
gallery/
myproject/templates/robots.txt
myproject/settings.py