#settings.py # lets add this git, add local_settings instead
myproject/local_settings.py
__pycache__/
old/
src/
venv/
dbview/
.coverage
.env*
.idea/
*.pyc
myproject/.env
*.sock
run/
*_test*
*-test*
staticfiles/
media
static
swaks