<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Bootstrap Navbar with Search Box and Tabs</title>
</head>
<style>
  .logo__image-wrapper {
    max-width: 100px;
  }
.hide-button {
  display: none;
}
  /*================= If logo is above navigation ================== */
    .site-nav {
      margin-top: 30px;
    }
      .logo__image-wrapper {
        margin: 0;
      }
  /*============ If logo is on the same line as navigation ============ */
.form-wrapper {
}



</style>
<body>
<div class="wrapper">
    <div class="logo__image-wrapper supports-js">
      <a href="{% url 'gallery:index' %}" itemprop="url" style="padding-top:58.27956989247312%;">
        <img class="" src="/media/gallery/gallery_head3.jpg" data-sizes="auto" alt="Givens Gallery" itemprop="logo">
      </a>
    </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar2">
<!-- Select genre -->
        <div class="form-wrapper mr-1">
        <form action="/gallery/browse_gallery/" method="post" id="search-genre">
                {% csrf_token %}
          <select class="form-control" form="search-genre" name="genre" onchange="handleSelect(this)">
            {% if genre %}
            <option value="">{{genre}}</option>
            {% else %}
            <option value="">Select a category</option>
            {% endif %}
            <option value="">all category</option>
            {% for x in genre_list %}
              <option value="{{x}}" {% if x == genre %}active{% endif %}>{{x}}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="medium" value="{{ medium }}">
        </form>
        </div>
<!--        Select medium -->
        <div class="form-wrapper mr-1">
        <form action="/gallery/browse_gallery/" method="post" id="search-medium">
                {% csrf_token %}
          <select class="form-control" form="search-medium" name="medium" onchange="handleSelect(this)">
            {% if medium %}
            <option value="">{{medium}}</option>
            {% else %}
            <option value="">Select a medium</option>
            {% endif %}
            <option value="">all medium</option>
            {% for x in medium_list %}
              <option value="{{x}}" {% if x == medium %}active{% endif %}>{{x}}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="genre" value="{{ genre }}">
        </form>
        </div>
          <!--        Select artiist -->
<!--        <div class="form-wrapper mr-1">-->
<!--        <form class="form-inline mr-auto" id="search-artist" action="/gallery/photos/" >-->
<!--          <input class="form-control" form="search-artist" type="search" placeholder="Search artists" aria-label="Search">-->
<!--          <button class="btn btn-outline-primary my-2 my-sm-0 hide-button" form="search-artist" type="submit">Search</button>-->
<!--        </form>-->
<!--        </div>-->

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">about</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery:browse_artist' %}">Browse Artists</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <span  class="nav-link">{{user}}</span>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}">Login/register</a>
          {% endif %}
        </li>
      </ul>
      </div>
    </div>
  </nav>

  <script>
    function handleSelect(select) {
      var selectedOption = select.value;
      console.log("Selected option:", selectedOption);
      // Perform further actions based on the selected option
      // e.g., submit the form programmatically, redirect, etc.
      select.form.submit();
    }
  </script>

</div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>