{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="/static/utils/images/favicon.ico"/>
  <title>McGivens Gallery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'utils/css/lightbox.css' %}">
</head>
<style>
.image-nav {
    max-width: 300px;

}
.dropdown-toggle::after {
  content: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

</style>
<body>
<div class="wrapper">
    <div class="logo__image-wrapper supports-js">
      <a href="{% url 'gallery:index' %}" itemprop="url" style="padding-top:58.27956989247312%;">
        <img class="image-nav" src="/media/gallery/banner.jpg" data-sizes="auto" alt="McGivens Gallery" itemprop="logo">
      </a>
    </div>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar2">
<!-- Select genre -->
        <div class="form-wrapper mr-1">
        <form action="/gallery/browse_gallery/" method="post" id="search-genre">
                {% csrf_token %}
          <select class="form-control" form="search-genre" name="genre" onchange="handleSelect(this)">
            {% if genre %}
            <option value="">{{genre}}</option>
            {% else %}
            <option value="">Select a category</option>
            {% endif %}
            <option value="">all category</option>
              <option value="Givens" {% if x == genre %}active{% endif %}><b>Givens Events</b></option>
            {% for x in genre_list %}
              <option value="{{x}}" {% if x == genre %}active{% endif %}>{{x}}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="medium" value="{{ medium }}">
        </form>
        </div>
<!--        Select medium -->
        <div class="form-wrapper mr-1">
        <form action="/gallery/browse_gallery/" method="post" id="search-medium">
                {% csrf_token %}
          <select class="form-control" form="search-medium" name="medium" onchange="handleSelect(this)">
            {% if medium %}
            <option value="">{{medium}}</option>
            {% else %}
            <option value="">Select a medium</option>
            {% endif %}
            <option value="">all medium</option>
            {% for x in medium_list %}
              <option value="{{x}}" {% if x == medium %}active{% endif %}>{{x}}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="genre" value="{{ genre }}">
        </form>
        </div>
          <!--        Select artiist -->

        <ul class="navbar-nav ml-auto">
         {% if user.is_authenticated %}
             <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery:my_gallery' %}?artist={{user.artist}}">My Artworks</a>
            </li>
         {% endif %}
         <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery:browse_artist' %}">Our Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery:uploadfile' %}?artist={{artist}}">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">about</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
    <li class="nav-link">
      <a href="#" class="dropdown-toggle">{{user}}</a>
      <ul class="dropdown-menu">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
        <li><a href="#">Option 3</a></li>
      </ul>
    </li>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}">Login/register</a>
          {% endif %}
        </li>

          {% if user.is_authenticated %}
        <li><a class="nav-link" href="{% url 'logout' %}?next=/">Logout</a></li>
        <li><a class="nav-link" href="{% url 'update_profile' %}?next=/gallery">Update profile</a></li>
          {% endif %}

             <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-shopping-cart"></i> Cart
                  <span class="cart-counter">{{cart_items|default:0}}</span>
                </a>
             </li>
      </ul>
      </div>
    </div>
  </nav>

  <script>
    function handleSelect(select) {
      var selectedOption = select.value;
      console.log("Selected option:", selectedOption);
      // Perform further actions based on the selected option
      // e.g., submit the form programmatically, redirect, etc.
      select.form.submit();
    }
  </script>

</div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>