{% load static %}
{% load humanize %}
{% include "gallery/base.html" %}
{% block body %}
  <head>
    <title>Givens Gallery</title>
  </head>
<style>

.imageitem {
    display:inline;
    margin:2px;
    width : 20%;
    height: auto;
    background-color: #f7f7f7;
    border:1px solid lightgrey;
    text-align:center;
}

.image_l {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-bottom: 20px;*/
    /*margin-top: 5px;*/
    max-width: 500px;
    height: auto;

}
.image_l img {
    flex: 1;
}

.image-info {
      background-color: #f8f9fa;
      padding: 10px;
}
</style>
<div class="container-fluid" style="min-height:200px;border:0 solid grey">
    <div style="margin-top:20px;">
        <div class="card mt-3">
<!-- Display samples -->
            <div class="row">
              <div class="col-md-3 border m-1">
                <div class="image_l">
                        <img src="{{image.image_dir}}{{image.image_file}}" class="img-fluid image">
                </div>
              </div>
             <div class="col-md-3 border m-1">
                  <div class="imageitem">
                    {% if image.artist %}<p>Artist: {{image.artist}}</p>{% endif %}
                    {% if image.title %}<p>Title: {{image.title}}</p>{% endif %}
                    {% if image.medium %}<p>Medium: {{image.medium}}</p>{% endif %}
                    {% if image.genre %}<p>style: {{image.genre}}</p>{% endif %}
                    {% if image.status == 'AV' or image.status == '' and image.price > 0 %}Price: ${{image.price|intcomma}}<br>{% endif %}
                 </div>
                </div>
            </div>

        </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    </div>
</div>


{% endblock %}


