{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Email" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>{% trans "Add E-mail Address" %}</h2>

            <form method="post" action="{% url 'change_email' %}" class="add_email">
                {% csrf_token %}
                {{ form.email|as_crispy_field }}
                <button name="action_add" type="submit" class="btn btn-success">{% trans "Add E-mail" %}</button>
            </form>

            <p></p>

        </div>
    </div>



{% endblock %}