<h3>Capitalization Policy</h3>

Fixed assets are tangible pieces of property or equipment with a useful life of more than a year.
(For example: computers, printers, office furniture, vehicles, buildings and land, etc.)
Office supplies like paper and packing tape are not considered assets, because you will likely use those up within a year.
Assets may depreciate in value or break down over time, but they do not generally get “used up” like office supplies.
Fixed assets are reported on your Statement of Financial Position rather than your Statement of Activities.

1. Capitalization threshold is $3000: (Specific dollar amount at which an item is recorded as fixed asset.)
That means that if your organization bought a new laptop computer that cost $3000 or more,
it would be classified as an asset.  Otherwise, it would be treated as an expense instead.

2. Fixed assets must cost $3000 or more and have a useful life of more than a year.
Any purchases not meeting both of these criteria will be recorded as an expense.

