{% load static %}
{% include "base.html" %}
<style>
    ul{
        padding-left:10px;
        line-height: 30px;
        list-style-type:none;
    }
    li {
            display: list-item;
    }
    .card-body {
        font-size: 15px;
    }
</style>
<br>

<div class="container-fluid" style="min-height:200px;">
    <br><br>
    <div style="clear:both"></div>
    <div class="row">
        <div class="d-none d-sm-block col-sm-3 col-lg-2 ">
            {% include "side_home.html" %}
        </div>

        <div class="col-sm-8 col-lg-9" style="margin-top:7px;">
          <dev class="container" style="width:100%; margin:0 auto;">
            <h6 align="center">Thank you for your ${{donateamt_display}} contribution to OrchidRoots!</h6>
              <div style="text-align:center; margin-top:10px;">Back to <a href="/?role={{role}}">OrchidRoots</a></div>

          </dev>
		</div>
	</div>
</div>
