{% load static %}
{% include "base.html" %}

{% block extra-head %}
    <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&currency=USD"></script>
    <style>
        #donateamt{
            width:80px;
            align:center;
        }
        li {
        display:inline-block;
        /*display:inline; !*IE7*!*/
        /*zoom:1; !*IE7*!*/
        /*background:white;*/
        color:white;
        margin-right:10px;
}
        .paypal-buttons{
            width: 300px;
            margin: 15px auto;
        }
        .paypal-button-container {
            min-width: 300px!important;
            max-width: 500px!important;
            font-size: 14px;
        }
        .paypal-button.paypal-button-layout-vertical {
            margin-bottom: 14px;
        }

        .paypal-button.paypal-button-shape-rect {
            border-radius: 4px;
        }
        .paypal-button {
            height: 45px;
            min-height: 30px;
            max-height: 55px;
        }
    </style>
{% endblock %}

{% block body %}

<br><br><br>
<div class="container" style="width:100%; margin:0 auto;">
    {% if error %}
        <div class="alert alert-warning">
            <span>An error occurred while trying to charge your card, please try again {{ error }}</span>

        </div>

    {% endif %}
    {% if donateamt > 0 %}
        <h4 align="center">Thank you for your ${{donateamt_display}} contribution
        </h4>

       <form align="middle" action="{% url 'donation:donate' donateamt %}" method="post">
            {% csrf_token %}
<!--            <input type="hidden" name="donateamt" value="{{donateamt}}" />-->
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-description="Donation Charge"
                data-amount="{{donateamt}}"
                data-locale="auto">
            </script>

        </form>
        <div id="paypal-button" class="paypal-buttons">

        </div>


    {% else %}
        <h4 align="center">Thank you for your support</h4>
        <br>
        <div class="container" align="center">

            <span class="tooltiptext">Choose amount</span>
            <a class="dropdown-toggle filtbtn filtbtn1" type="button" data-toggle="dropdown" style="font-size:12px; width:150px ;border:1px solid #ccc" href="{% url 'donation:donateapp' 1000 %}">$10</a>
            <ul class="dropdown-menu" id="donateamt" style="font-size: 11px;padding:5px;" align="center">
                <li><a href="{% url 'donation:donateapp' 100 %}">$1</a></li>
                <li><a href="{% url 'donation:donateapp' 500 %}">$5</a></li>
                <li><a href="{% url 'donation:donateapp' 1000 %}">$10</a></li>
                <li><a href="{% url 'donation:donateapp' 1500 %}">$15</a></li>
                <li><a href="{% url 'donation:donateapp' 2000 %}">$20</a></li>
                <li><a href="{% url 'donation:donateapp' 5000 %}">$50</a></li>
                <li><a href="{% url 'donation:donateapp' 10000 %}">$100</a></li>
            </ul>

            <br>
       </div>

    {% endif %}
            <div style="text-align:center; margin-top:10px;"><a href="/?role={{role}}">Cancel...</a></div>
</div>

{% endblock %}

{% block extra-scripts %}

    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            // if not safe, set csrftoken
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        })
        paypal.Buttons({
          style: {
              shape: 'rect',
              color: 'gold',
              layout: 'horizontal',
              label: 'pay',

          },
          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{
                      amount: {
                          value: '{{ donateamt_display }}'
                      }
                  }]
              });
          },
          onApprove: function(data, actions) {
              return actions.order.capture().then(function(details) {

                  $.ajax({
                      url: "{%  url 'donation:paypal-done' %}",
                      type: "POST",
                      data: JSON.stringify(details),
                      dataType: 'json',
                      contentType: 'application/json; charset=utf-8',
                      success: function(res){
                          if (res.status === 'success'){
                              var url = "{% url 'donation:thankyou' donateamt=donateamt %}";
                                window.location.href = url;
                          }
                          else{
                              console.log(res.msg)
                              alert('An error occurred, please try again');
                          }

                      }
                  })

              });
          }
      }).render('#paypal-button');
  </script>

{% endblock %}