{% load static %}
{% include "base.html" %}

{% block extra-head %}
    <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&currency=USD"></script>
    <style>
       #donateamt{
            width:80px;
            align:center;
           border: 0;
        }
        .li {
            display:inline-block;
            /*display:inline; !*IE7*!*/
            /*zoom:1; !*IE7*!*/
            /*background:white;*/
            color:white;
            margin-right:10px;
        }
        .paypal-buttons{
            width: 300px;
            margin: 15px auto;
        }
        .paypal-button-container {
            min-width: 300px!important;
            max-width: 500px!important;
            font-size: 14px;
        }
        .paypal-button.paypal-button-layout-vertical {
            margin-bottom: 14px;
        }

        .paypal-button.paypal-button-shape-rect {
            border-radius: 4px;
        }
        .paypal-button {
            height: 45px;
            min-height: 30px;
            max-height: 55px;
        }

    @media only screen and (max-width: 800px) {
    }

    @media only screen and (max-width: 580px) {
    }

    .btn {
        margin:2px 0;
        width: 95%;
        font-size:13px;
        color: #272ba3;
        padding:5px 0;
        background-color: white;
        border:1px solid #c6c0c0;
        border-radius: .15rem;
    }
    .btn:hover {
        background-color: #cad4f7;
    }

        ul{
            padding-left:15px;
            font-size: 13px;
            line-height: 30px;
        }
        .partner {
            /*height:50px;*/
            width:120px;
            margin:5px;
            padding: 5px;
            line-height: 15px;
            text-align:center;
            padding:5px;
        }
        li {
            list-style: none;
        }
        .amt {
            margin: 2px;
            width: 30px;
            height:30px;
            border: 1px solid #c9c9ff;
            text-align:center;
        }
    </style>
{% endblock %}

{% block body %}
<div style="clear:both"></div>

<div class="container-fluid" style="min-height:200px;border:0 solid grey">
    <br><br>
    <div class="row">
        <div class="col-sm-2 hidden-xs m-2 p-1" style="padding-top:2px; min-height:800px; border:1px solid lightgrey">
            {% include "side_home.html" %}
        </div>

        <div class="col-xs-7 col-sm-6 border p-4 m-2">
            <p>
            OrchidRoots is a 501-(c)(3) non-profit organization.  We do not accept government funds in order to focus
            our time and energy in making OrchidRoots the best platform for any level of orchid reserch instead of forever
            keeping up with the exhaustive paper work required.
            Therefore your support is vital for our progress.
            </p>
            <p>
            We are committed to constantly improving the website to make our information more complete,
            correct and available in formats that are more acceptable to our users.
            </p>
            <p>
            We are currently raising $20,000 for a number of exciting future plans, one of which is the long awaited OrchidRoots mobile app.
        </div>

        <div class="col-xs-4 col-sm-3 border p-4 m-2">




            <div class="container" style="width:100%; margin:0 auto;">
                {% if error %}
                    <div class="alert alert-warning">
                        <span>An error occurred while trying to charge your card, please try again {{ error }}</span>

                    </div>
                {% endif %}

                {% if donateamt > 0 %}
                    <h4 align="center">Thank you for your ${{donateamt_display}} contribution
                    </h4>

                   <form align="middle" action="{% url 'donation:donate' donateamt %}" method="post">
                        {% csrf_token %}
            <!--            <input type="hidden" name="donateamt" value="{{donateamt}}" />-->
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ key }}"
                            data-description="Donation Charge"
                            data-amount="{{donateamt}}"
                            data-locale="auto">
                        </script>

                    </form>
                    <div id="paypal-button" class="paypal-buttons">

                    </div>


                {% else %}
                    <div class="container" align="center">
                        Your dopnation, even a small amount, will make a difference.
                        <br>
                        <br>
                        <h5>Choose amount</h5>
                        <ul style="font-size: 11px;padding:2px;" align="center">
                            <li class="li amt btn-outline-primary"><a href="{% url 'donation:donateapp' 100 %}">$1</a></li>
                            <li class="li amt btn-outline-primary"><a href="{% url 'donation:donateapp' 500 %}">$5</a></li>
                            <li class="li amt btn-outline-primary"><a href="{% url 'donation:donateapp' 1000 %}">$10</a></li>
                            <li class="li amt btn-outline-primary"><a href="{% url 'donation:donateapp' 1500 %}">$15</a></li>
                            <li class="li amt btn-outline-primary"><a href="{% url 'donation:donateapp' 2000 %}">$20</a></li>
                            <li class="li amt btn-outline-primary"><a href="{% url 'donation:donateapp' 5000 %}">$50</a></li>
                            <li class="li amt btn-outline-primary"><a href="{% url 'donation:donateapp' 10000 %}">$100</a></li>
                        </ul>

                        <br>
                   </div>

                {% endif %}
<!--                        <div style="text-align:center; margin-top:10px;"><a href="/?role={{role}}">Cancel...</a></div>-->
            </div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra-scripts %}

    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            // if not safe, set csrftoken
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        })
        paypal.Buttons({
          style: {
              shape: 'rect',
              color: 'gold',
              layout: 'horizontal',
              label: 'pay',

          },
          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{
                      amount: {
                          value: '{{ donateamt_display }}'
                      }
                  }]
              });
          },
          onApprove: function(data, actions) {
              return actions.order.capture().then(function(details) {

                  $.ajax({
                      url: "{%  url 'donation:paypal-done' %}",
                      type: "POST",
                      data: JSON.stringify(details),
                      dataType: 'json',
                      contentType: 'application/json; charset=utf-8',
                      success: function(res){
                          if (res.status === 'success'){
                              var url = "{% url 'donation:thankyou' donateamt=donateamt %}";
                                window.location.href = url;
                          }
                          else{
                              console.log(res.msg)
                              alert('An error occurred, please try again');
                          }

                      }
                  })

              });
          }
      }).render('#paypal-button');
  </script>

{% endblock %}