{% load static %}
{% include "base.html" %}
{% block body %}

<style>

    .table {
        width: 100%;
        font-size: 13px;
    }

    @media only screen and (max-width: 600px) {
        .table {
            font-size: 12px;
        }
    }
</style>

<br>
<br>
<div style="text-align: center; margin:0 0 0 0;">
    <span class="btn-group large" style="font-size: 16px; color:darkblue; vertical-align:middle">Search Results for "<i>{{search}}</i>"</span>
</div>
<div style="width:95%;margin:0 auto;">
    <div class="tab-content clearfix" style="background-color: white; margin:0;border-left:1px solid lightgrey;border-right:1px solid lightgrey;border-bottom:1px solid lightgrey">
        <br>
        <div class="tab-content">

             <table class="table table-sm table-condensed table-bordered table-hover">
                  <tr style="background-color: #eeeeee;">
                        {% if user == 'chariya' %}<th>PID</th>{% endif %}
                      <th class=" d-none d-sm-table-cell text-center">Score</th>
                      <th class="text-center">Matches</th>
                      <!--<th class="text-left">Status</th>-->
                      <th class="text-center">Accepted Name or Parents</th>
                      <th class="text-center">Images</th>
                  </tr>
                  {% for species in search_list %}
                      <td class=" d-none d-sm-table-cell" align="center">
                          {{ species.1 }}
                      </td>
                      <td style="padding-left: 10px;"  class="text-left">
                          {% if species.0.status == 'synonym' %}
                              <i>{{species.0.genus}} {{species.0.species}}</i>{% if species.0.infraspr %} {{species.0.infraspr}} <i>{{species.0.infraspe}}</i>{% endif %}
                                  ({{species.0.source}} {{species.0.status}}  {{species.0.type }} {% if species.0.year %}{{species.0.year}} {% endif %})
                          {% elif species.0.type %}
                              {% if role == "cur" %}
                                  <a href="{% url 'detail:photos' species.0.pid %}?role={{role}}"><i>{{species.0.genus}} {{species.0.species}}</i>{% if species.0.infraspr %} {{species.0.infraspr}} <i>{{species.0.infraspe}}</i>{% endif %}</a>
                              {% else %}
                                  <a href="{% url 'detail:information' %}?pid={{species.0.pid}}&role={{role}}"><i>{{species.0.genus}} {{species.0.species}}</i>{% if species.0.infraspr %} {{species.0.infraspr}} <i>{{species.0.infraspe}}</i>{% endif %}</a>
                              {% endif %}
                              ({{species.0.source}} {{species.0.status}}  {{species.0.type }}
                              {% if species.0.year %}
                                   {{species.0.year }})
                              {% else %}
                                    )
                              {% endif %}
                          {% endif %}
    <!--                      {{species.0.year}}-->
                      </td>
                      <td>
                          {% if species.0.status == 'synonym' %}
                              {% if species.0.getAcc %}
                                  {% if role == "cur" %}
                                       <a href="{% url 'detail:photos' species.0.pid %}?role={{role}}">{{species.0.getAccepted.abrevname|safe}}</a>
                                  {% else %}
                                       <a href="{% url 'detail:information' %}?pid={{species.0.pid}}&role={{role}}">{{species.0.getAccepted.abrevname|safe}}</a>
                                  {% endif %}
                              {% else %} na
                              {% endif %}
                          {% elif species.0.type == 'hybrid' %}
                              {% if species.0.hybrid.seed_id %}
                                   {% if role == "cur" %}
                                       <a href="{% url 'detail:photos' species.0.hybrid.seed_id.pid %}?role={{role}}">{{species.0.hybrid.seed_id.abrevname|safe}}</a>
                                   {% else %}
                                       <a href="{% url 'detail:information' %}?pid={{species.0.hybrid.seed_id.pid}}&role={{role}}">{{species.0.hybrid.seed_id.abrevname|safe}}</a>
                                   {% endif %}
                              {% else %}
                                  na
                              {% endif %}
                                ×
                              {% if species.0.hybrid.pollen_id %}
                                  {% if role == "cur" %}
                                      <a href="{% url 'detail:photos' species.0.hybrid.pollen_id.pid %}?role={{role}}">{{species.0.hybrid.pollen_id.abrevname|safe}}</a>
                                  {% else %}
                                      <a href="{% url 'detail:information' %}?pid={{species.0.hybrid.pollen_id.pid}}&role={{role}}">{{species.0.hybrid.pollen_id.abrevname|safe}}</a>
                                  {% endif %}
                              {% else %} na
                              {% endif %}
                          {% endif %}
                      </td>
                      <td class="text-center">{% if species.0.num_image %}{{species.0.num_image}}{% endif %}</td>
                      </tr>
                  {% endfor %}
             </table>
        </div>
    </div>
</div>

<script>
$('#myTab a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});


//
//// store the currently selected tab in the hash value
//$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
//  var id = $(e.target).attr("href").substr(1);
//  window.location.hash = id;
//});
//
//// on load of the page: switch to the currently selected tab
//var hash = window.location.hash;
//$('#myTab a[href="' + hash + '"]').tab('show');


</script>
{% endblock %}
