{% load static %}
{% load static %}
{% include "base.html" %}
{% block body %}
{% load testtags %}
<style>
table {
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
}
td {
    /*border: 1px solid lightgrey;*/
    padding: 10px;
}
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 100px;
   width : auto;
   margin:5px auto;
}

@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        font-size:10px;
    }
    .thumbnails {
       height: 80px;
       margin:5px auto;
    }
    td {
        border: 1px solid lightgrey;
        padding-left: 10px;
    }

}
</style>
<div style="min-height:200px;background-color:white;width: 100%;">
    <div style="clear:both"></div>
    <div class="row" style="margin:0 auto;">
        <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
            <div class="card-body"  style="width:100%; display:inline-block; padding-top:0;text-align: center;">
                <br>
                <form action="/search/search_name/" method="post">
                   {% csrf_token %}
                   <select  class="btn btn-custom" name="selected_app" onchange="handleSelect(this)">
                        <option>Select domain</option>
                        <option value="aves" {% if selected_app == 'aves' %}selected{% endif %}>Aves</option>
                        <option value="animalia"  {% if selected_app == "animalia" %}selected{% endif %}>Animalia</option>
                        <option value="fungi" {% if selected_app == "fungi" %}selected{% endif %}>Fungi</option>
                        <option value="orchidaceae" {% if selected_app == "orchidaceae" %}selected{% endif %}>Orchids</option>
                        <option value="other" {% if selected_app == "other" %}selected{% endif %}>Other Plants</option>
                        <option value="All" {% if selected_app == "All" %}selected{% endif %}>All domain</option>
                   </select>
                   <input type="hidden" name="commonname" value="{{ commonname }}">
                </form>
                <br><br>
                {% if not family_list and not genus_list and not species_list %}
                <div style="text-align: center;font-size: 16px;">
                   {% if selected_app %}
                       <h6>
                        No record found in our system matching commonname "{{commonname}}"
                            in domain {{selected_app|default:'all'|title }}
                        </h6>
                    {% else %}
                        <h6>No record found in our system matching commonname "{{commonname}}"</h6>
                   {% endif %}
                    Ensure that the "Select Domain" button is set to "All Domains" or to a specific domain relevant to your search, if known.
                    <br>
                    You may also try the "Scientific/registered name search in case "{{commonname}}" is a taxon or a registered hybrid.
                </div>

                {% else %}
                {% if family_list %}
                <div style="text-align: center;"><h5>Found families with matching common name "{{commonname}}"
                    {% if selected_app %}in domain <b>{{selected_app|default:'all'|title }}</b>{% endif %}</h5>
                </div>
                <table class="table-bordered">
                    <tr><td></td><td style="width:20%"><b>Family</b></td><td><b>common name</b></td><td><b>distribution</b></td></tr>
                    {% for family in family_list %}
                        <tr>
                            <td style="width:20%;">
                                {% if family.get_best_img %}
                                <a href="{% url 'display:photos' family.get_best_img.pid.pid %}?family={{family.family}}&role={{role}}">
                                 <img class="thumbnails" alt="{{family.get_best_img.pid}}" src="{% static family.get_best_img.image_dir %}{{family.get_best_img.image_file}}">
                                </a>
                                {% endif %}
                            </td>
                            <td style="width:10%;">
                                <a href="{% url 'common:genera' %}?family={{family.family}}&role={{role}}">{{family.family|safe}}</a>
                            </td>
                            <td style="width:25%;">{{family.common_name|default:''}}</td>
                            <td>{{family.get_best_img.pid.accepted.distribution|default:''}}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                <br><br>


                {% if genus_list %}
                <div style="text-align: center;">
                    <h5><b>{{selected_app|default:''|title }}</b> Genera with matching common name "{{commonname}}"
                    </h5>
                </div>
                <table class="table-bordered">
                    <tr><td></td><td style="width:20%"><b>Genus</b></td><td><b>common name</b></td><td><b>distribution</b></td></tr>
                    {% for genus in genus_list %}
                        <tr>
                            <td style="width:20%;">
                            {% if genus.get_best_img %}
                                <a href="{% url 'display:photos' genus.get_best_img.pid.pid %}?family={{genus.family.family}}&role={{role}}">
                                 <img class="thumbnails" alt="{{genus.get_best_img.pid}}" src="{% static genus.get_best_img.image_dir %}{{genus.get_best_img.image_file}}">
                                </a>
                            {% endif %}
                            </td>
                            <td style="width:10%;">
                                {% if genus.get_best_img %}
                                    <a href="{% url 'display:photos' genus.get_best_img.pid_id %}?family={{genus.get_best_img.pid.family}}&role={{role}}&syn=&area={{area}}&selectred_app={{selected_app}}">{{genus}}</a>
                                {% endif %}
                                {% if genus.status == 'synonym' %}<br> (syn. {{genus.getAcc}}){% endif %}
                            </td>
                            <td style="width:25%;">{{genus.common_name|default:''}}</td>
                            <td>{{genus.get_best_img.pid.accepted.distribution|default:''}}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                <br><br>

                {% if species_list %}
                <div style="text-align: center;">
                    <h5>
                        <b>{{selected_app|default:'all'|title }}</b> Species with common name contains "{{commonname}}"
                    </h5>
                </div>
                <table class="table-bordered">
                    <tr style="text-align: center;"><th>Sample image</th><th style="width:20%">Species</th><th>common name</th><th>distribution</th></tr>
                    {% for species in species_list %}
                        {% if species.1 %}
                        <tr >
                            <td style="width:20%;">
                                {% if species.2 %}
                                <a href="{% url 'display:photos' species.0.pid %}?family={{species.0.family}}&role={{role}}">
                                 <img class="thumbnails" alt="{{species.2}}" src="{% static species.2.image_dir %}{{species.2.image_file}}">
                                </a>
                                {% endif %}
                            </td>
                            <td style="width:10%;">
                                {% if role == 'cur' %}
                                    <a href="{% url 'display:photos' species.0.pid %}?family={{species.0.gen.family}}&role={{role}}">{{species.0.binomial_it|safe}}</a>
                                {% else %}
                                    <a href="{% url 'display:information' species.0.pid %}?family={{species.0.gen.family}}">{{species.0.binomial_it|safe}}</a>
                                {% endif %}
                                ({{species.0.gen.family.family}})
                                {% if species.0.pid.status == 'synonym' %}<br> (syn. {{species.0.pid.getAccepted.binomial}}){% endif %}
                            </td>
                            <td style="width:25%;">{{species.1|default:''}}</td>
                            <td>{{species.accepted.distribution|default:''}}</td>
                        </tr>
                        {% endif %}

                    {% endfor %}
                </table>
                {% endif %}
            {% endif %}


            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});

    function handleSelect(select) {
      var selectedOption = select.value;
      console.log("Selected option:", selectedOption);
      // Perform further actions based on the selected option
      // e.g., submit the form programmatically, redirect, etc.
      select.form.submit();
    }


</script>



{% endblock %}
