{% load static %}
{% include "base.html" %}
{% block body %}
<style>

    table {
        width: 95%;
        font-size: 13px;
    }

    @media only screen and (max-width: 600px) {
        table {
            font-size: 12px;
        }
        .row {
            width: 95%;
        }
    }

</style>
<div class="row" style="width:95%; margin:0 auto;">
<!--    <div class="col-3 d-none d-lg-block" style="padding:0">-->
<!--        include "common/taxonomy.html" %}-->
<!--    </div>-->
    <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
        <div style="text-align: center; margin:0;">
            {% if fuzzy %}
            <span class="btn-group large" style="font-size: 16px; color:darkblue; vertical-align:middle">Search Results "<i>{{spc_string}}</i>"</span>
                <div style="font-size: 14px;margin-bottom:10px;" align="center">
                     <a class="btn btn-primary btn-sm" type="button" href="{% url 'search:search_fuzzy' %}?family={{family.family}}&spc_string={{spc_string}}&role={{role}}"><span >APPROXIMATE SEARCH</span></a>
                </div>
            {% else %}
                <span class="btn-group large" style="font-size: 16px; color:darkblue; vertical-align:middle">"{{spc_string}}" approximate matches</span>
            {% endif %}
            <br>
        </div>
        <div style="margin:0 auto;">
            {% if fuzzy %}
                {% if result_list %}
                <table class="table table-sm table-condensed table-bordered table-hover" style="width:100%;" align="center">
<!--                     <tr style="background-color: #eeeeee;">-->
<!--&lt;!&ndash;                           <th class=" d-none d-sm-table-cell">score</th>&ndash;&gt;-->
<!--                           <th class="text-center">Matches</th>-->
<!--                           <th>Accepted Name or Parents</th>-->
<!--                           <th>Images</th>-->
<!--                     </tr>-->
                     {% for species in result_list %}
                     <tr>
<!--                          <td class=" d-none d-sm-table-cell" align="center">{{ species.1 }}</td>-->
                         <td style="padding-left: 10px; ">
                             {% if species.0.status == 'synonym' %}<span style="font-size:13px;">{{species.0.name|safe}}</span>
                             {% elif species.0.type == 'species' or species.0.type == 'hybrid' %}
                                  {% if role == "cur" %}
                             <a href="{% url 'display:photos' species.0.pid %}?family={{species.0.gen.family}}&role={{role}}&syn=Y"><span style="font-size:13px;"><strong>{{species.0.name|safe}}</strong></span></a>
                                  {% else %}
                             <a href="{% url 'display:information' species.0.pid %}?family={{species.0.gen.family}}&pid={{species.0.pid}}&role={{role}}&syn=Y"><span style="font-size:13px;"><strong>{{species.0.name|safe}}</strong></span></a>
                                  {% endif %}
                             {%  else %}
                                  {{species.0.name}}
                             {% endif %}

                             {% if species.0.author %}{{species.0.author}}{% endif %}
                             {% if species.0.status == 'synonym' %}
                                 {% if species.0.getAcc %}
                                     (syn.
                                     {% if role == "cur" %}
                                          <a href="{% url 'display:photos' species.0.getAcc %}?family={{species.0.gen.family}}&role={{role}}&syn=Y">{{species.0.getAccepted.namecasual|safe}}</a>
                                     {% else %}
                                          <a href="{% url 'display:information' species.0.getAcc %}?family={{species.0.gen.family}}&pid={{species.0.getAcc}}&role={{role}}&syn=Y">{{species.0.getAccepted.namecasual|safe}}</a>
                                      {% endif %}
                                     )
                                 {% else %}
                                     Error! Accepted name does not exist
                                 {% endif %}
                             {% endif %}
<!--                          {% if species.0.num_image %}(img: {{species.0.num_image}}){% endif %}-->
                          </td>
                     </tr>
                     {% endfor %}
                 </table>
                {% endif %}
            {% else %}
                <table class="table table-sm table-condensed table-bordered table-hover" style="width:100%;" align="center">
                     {% for species in result_list %}
                     <tr>
                         <td style="padding-left: 10px; ">
                             {% if species.status == 'synonym' %}<span style="font-size:13px;"><strong>{{species.name|safe}}</strong></span>
                                {% elif species.type == 'species' or species.type == 'hybrid' %}
                                  {% if role == "cur" %}
                             <a href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&role={{role}}&syn=Y"><span style="font-size:13px;">{{species.name|safe}}</span></a>
                                  {% else %}
                             <a href="{% url 'display:information' species.pid %}?family={{species.gen.family}}&pid={{species.pid}}&role={{role}}&syn=Y"><span style="font-size:13px;">{{species.name|safe}}</span></a>
                                  {% endif %}
                              {%  else %}
                             <span style="font-size:13px;">{{species.name}}</span>
                              {% endif %}
                              {% if species.author %}{{species.author}}{% endif %}
                              {% if species.status == 'synonym' %}
                                   {% if species.getAcc %}
                                        (syn.
                                       {% if role == "cur" %}
                                           <a href="{% url 'display:photos' species.getAcc %}?family={{species.gen.family}}&role={{role}}&syn=Y">{{species.getAccepted.namecasual|safe}}</a>
                                       {% else %}
                                           <a href="{% url 'display:information' species.getAcc %}?family={{species.gen.family}}&pid={{species.getAcc}}&role={{role}}&syn=Y">{{species.getAccepted.namecasual|safe}}</a>
                                        {% endif %}
                                        )
                                   {% else %}
                                        Error! Accepted name does not exist
                                   {% endif %}
                              {% endif %}
                          </td>
                     </tr>
                     {% endfor %}
                 </table>
            {% endif %}
        </div>
            <br>
    </div>
</div>
<script>
$('#myTab a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});


//
//// store the currently selected tab in the hash value
//$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
//  var id = $(e.target).attr("href").substr(1);
//  window.location.hash = id;
//});
//
//// on load of the page: switch to the currently selected tab
//var hash = window.location.hash;
//$('#myTab a[href="' + hash + '"]').tab('show');


</script>
{% endblock %}
