{% load static %}
{% load static %}
{% include "base.html" %}
{% block body %}
{% load testtags %}
<style>
    table {
        width: 80%;
    }
    @media only screen and (max-width: 600px) {
    table {
        width: 100%;
    }
    }
</style>
<div style="min-height:200px;background-color:white;width: 100%;">
    <div style="clear:both"></div>
    <div class="row" style="margin:0 auto;">
        <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
            <div class="card-body"  style="width:100%; display:inline-block; padding-top:0;">
                <div style="padding:0; margin: 0">
                    <a class="btn btn-custom" href="{% url 'common:genera' %}?family={{family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}">Show genera</a>
                    {% if not genus or genus.num_hybrid > 0 %}
                        <a class="btn btn-custom m1" href="{% url 'common:species' %}?family={{family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}&genus={{genus}}&alpha={{alpha}}&syn=N">Show species</a>
                    {% endif %}
                    <a class="btn btn-custom" href="{% url 'common:browse' %}?family={{family}}&genus={{genus}}&display=checked">Browse</a>
                    {% if app == 'orchidaceae' %}<a class="btn btn-custom m1" href="{% url 'orchidaceae:species' %}?family=Orchidaceae&alpha=A&syn=N">Full species list</a>{% endif %}
                </div>
                <br>
                <h5>Search results for "<i>{{spc_string}}</i>"</h5>
                        <table>
                {% if genus_list %}
                            <tr><th></th><th></th><th class="d-none d-lg-table-cell hidden-xs">#images</th></tr>
                            {% for genus in genus_list %}
                            <tr>
                                <td><i>{{genus.0.family|default:''}}</i> genus</td>
                                <td>
                                    {% if not genus.0.num_hybrid or genus.0.num_species > 0 %}
                                        <a href="/common/species/?family={{genus.0.family}}&genus={{genus.0.genus}}"><i>{{genus.0.genus}}</i></a> {{genus.0.author|default:''}} {% if genus.0.status == 'synonym' %}(syn.){% endif %}
                                    {% else %}
                                        <a href="/common/hybrid/?family={{genus.0.family}}&genus={{genus.0.genus}}"><i>{{genus.0.genus}}</i></a>  {{genus.0.author|default:''}} {% if genus.0.status == 'synonym' %}(syn.){% endif %}
                                    {% endif %}
                                    {% if genus.0.family == 'Orchidaceae' %}
                                        {% if genus.0.family != family %}
                                            (<a href="{% url 'search:search_species' %}?family={{genus.0.family}}&spc_string={{spc_string}}&role={{role}}&app={{genus.0.family}}">Search {{genus.0.family}} family</a>)
                                        {% endif %}
                                    {% elif app != 'other' %}
                                            (<a href="{% url 'search:search_species' %}?family={{genus.0.family}}&spc_string={{spc_string}}&role={{role}}&app=other">Search {{genus.0.family}} family</a>)
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr><td>&nbsp;</td></tr>
                {% endif %}
                {% if match_spc_list %}
                            {% for species in match_spc_list %}
                            <tr>
                                <td><i>{{species.0.family|default:''}}</i> species</td>
                                <td>
                                    <a href="/display/{{path}}/{{species.0.pid}}/?family={{species.0.family}}">
                                        <i>{{species.0.genus}}
                                            {% if species.0.type == 'species' %} {{species.0.species}} {{species.0.infraspr}} {{species.0.infraspe}}</i>
                                            {% else %} {{species.0.species}}{% endif %}
                                            <i>{{species.0.infraspr|default:''}} {{species.0.infraspe|default:''}}</i>
                                    </a>
                                    {{species.0.author|default:''}} {{species.0.year|default:''}} {% if species.0.status == 'synonym' %}(syn.){% endif %}

                                </td>
                                <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">
                                    {{species.0.num_image|default:''}}
                                </td>
                            </tr>
                            {% endfor %}
                {% endif %}

<!--                {% if perfect_list %}-->
<!--                        {% for x in perfect_list %}-->
<!--                        <tr>-->
<!--                            <td><i>{{x.gen.family|default:''}}</i> species</td>-->
<!--                                <td>-->
<!--                                    <a href="/display/{{path}}/{{x.pid}}/?family={{x.gen.family}}&species={{x.binomial}}"><i>{{ x.binomial_it|safe }}</i></a>-->
<!--                                {{x.author|default:''}}-->
<!--                                ({{x.gen.family}})ccc-->
<!--                                {% if x.status == 'synonym' %}-->
<!--                                   (syn. <a href="/display/{{path}}/{{x.getAcc}}/?family={{x.gen.family}}&species={{x.binomial}}">{{x.getAccepted.binomial_it|safe}}</a>)-->
<!--                                {% endif %}-->
<!--                            </td>-->
<!--                            <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">-->
<!--                                {{x.num_image|default:''}}-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        {% endfor %}-->
<!--                {% endif %}-->
<!--                {% if match_list %}-->
<!--                        {% for x in match_list %}-->
<!--                        <tr>-->
<!--                            <td><i>{{x.gen.family}}</i> species </td>-->
<!--                            <td>-->
<!--                                <a href="/display/{{path}}/{{x.pid}}/?family={{x.gen.family}}&species={{x.binomial}}">{{ x.binomial_it|safe }}</a>-->
<!--                                {{x.author|default:''}}-->
<!--                                {% if x.status == 'synonym' %}-->
<!--                                    (syn. <a href="/display/{{path}}/{{x.getAcc}}/?family={{x.gen.family}}&species={{x.binomial}}">{{x.getAccepted.binomial_it|safe}}</a>)-->
<!--                               {% endif %}-->
<!--                            </td>-->
<!--                            <td class="d-none d-lg-table-cell hidden-xs">{{x.num_image|default:''}}</td>-->
<!--                        </tr>-->
<!--                        {% endfor %}-->
<!--                {% endif %}-->
                        </table>
                {% if fuzzy_list %}
                    <br>
                        {% if match_list %}
                            fuzzy matches
                        {% endif %}
                    <table style="width:95%">
                        <tr>
                            <th style="width: 70%">Approximate matching Species from {{family.family|default:'all families'}}</th>
                            <th>Num. images</th>
                        </tr>
                    {% for x in fuzzy_list %}
                        <tr>
                            <td>
                                {% if x.0.status != 'synonym' %}
                                    <a href="/display/{{path}}/{{x.0.pid}}/?family={{x.0.gen.family}}&species={{x.0.binomial}}">{{ x.0.binomial_it|safe }}</a>
                                    {{x.0.author|default:''}}
                                    {{x.0.year|default:''}}
                                    {{x.0.description|default:''}}
                                {% else %}
                                    {{ x.0.binomial_it|safe }}
                                    {{x.0.author|default:''}}
                                    {{x.0.year|default:''}}
                                    (syn. <a href="/display/{{path}}/{{x.0.getAcc}}/?family={{x.0.family}}&species={{x.0.binomial}}">{{x.0.getAccepted.binomial_it|safe}}</a>)
                                {% endif %}
                                ({{x.0.gen.family}})
                            </td>
                            <td>
                                {{x.0.num_image|default:''}}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <br><b>
                    {% if not genus_list and not perfect_list and not match_list %}
                        Your search returned no matches for
                        {{family.family|default:app}} families. Switch to another family or choose "All Other families" to expand the search to families other than Orchidaceae.
                         or click on the "Aproximate search" button for imprecise matching
                    {% endif %}
                    </b><br>
                {% endif %}
                {% if not fuzzy %}
                    <div style="padding: 0; margin-top: 20px;">
                        Didn't see what you are looking for?<br>
                        <a class="btn btn-custom" style="width: 150px;" href="{% url 'search:search_species' %}?family={{family}}&spc_string={{spc_string}}&role={{role}}&app={{app}}&fuzzy=1">Aproximate search</a>
                    </div>
                {% endif %}
                <br>
                <div class="btn btn-custom" onclick="history.back()">
                    Go back
                </div>
            </div>
        </div>
    </div>
</div>
<script>

$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


</script>



{% endblock %}
