{% load static %}
{% include "base.html" %}
{% block body %}
<style>

    .table {
        width: 100%;
        font-size: 13px;
    }

    @media only screen and (max-width: 600px) {
        .table {
            font-size: 12px;
        }
    }
</style>

<br>
<br>
<div style="text-align: center; margin:10px 0 5px 0;">
    <span class="btn-group large" style="font-size: 16px; color:darkblue; vertical-align:middle">Search Results for "<i>{{search}}</i>"</span>
</div>

<div style="margin:0 auto;border-left:1px solid lightgrey;border-right:1px solid lightgrey;border-bottom:1px solid lightgrey">

    {% if result_list %}
         <div style="font-size: 14px;margin-bottom:10px;" align="center">
             <a class="btn btn-primary btn-sm" type="button" href="{% url 'search:search_fuzzy' %}?search={{search}}&role={{role}}"><span >MORE RESULTS</span></a>
         </div>
         <table class="table table-sm table-condensed table-bordered table-hover" style="width:90%;" align="center">
             <tr style="background-color: #eeeeee;">
                   <th class=" d-none d-sm-table-cell">score</th>
                   <th class="text-center">Matches</th>
                   <!--<th>status</th>-->
                   <th>Accepted Name or Parents</th>
                   <th>Images</th>
             </tr>
             {% for species in result_list %}
             <tr>
                  <td class=" d-none d-sm-table-cell" align="center">{{ species.1 }}</td>
                  <td style="padding-left: 10px; ">
                       {% if species.0.status == 'synonym' %}{{species.0.name|safe}}
                       {% elif species.0.type == 'species' or species.0.type == 'hybrid' %}
                          {% if role == "cur" %}
                               <a href="{% url 'detail:photos' species.0.pid %}?role={{role}}">{{species.0.name|safe}}</a>
                          {% else %}
                               <a href="{% url 'detail:information' %}?pid={{species.0.pid}}&role={{role}}">{{species.0.name|safe}}</a>
                          {% endif %}
                            {% if species.author %}<i>{{species.author}}</i>{% endif %}
                       {%  else %}
                           {{species.0.name}}
                       {% endif %}
                       {% if species.0.year %}{{species.0.year}}{% endif %}
                       ({{species.0.status}} {{species.0.type}})
                  </td>

                  <td>
                       {% if species.0.status == 'synonym' %}
                           {% if species.0.getAcc %}
                               {% if role == "cur" %}
                                   <a href="{% url 'detail:photos' species.0.getAcc %}?role={{role}}">{{species.0.getAccepted.namecasual|safe}}</a>
                               {% else %}
                                   <a href="{% url 'detail:information' %}?pid={{species.0.getAcc}}&role={{role}}">{{species.0.getAccepted.namecasual|safe}}</a>
                                {% endif %}
                           {% else %}
                                Error! Accepted name does not exist
                           {% endif %}
                       {% elif species.0.type == 'hybrid' %}
                           {% if species.0.hybrid.seed_id %}
                               {% if role == "cur" %}
                                   <a href="{% url 'detail:photos' species.0.hybrid.seed_id.pid %}?role={{role}}">{{species.0.hybrid.seed_id.namecasual|safe}}</a>
                               {% else %}
                                   <a href="{% url 'detail:information' %}?pid={{species.0.hybrid.seed_id.pid}}&role={{role}}">{{species.0.hybrid.seed_id.namecasual|safe}}</a>
                              {% endif %}

                            {%  else %}
                               {{species.0.hybrid.seed_id.name}}
                           {%  endif %}
                           x
                           {% if species.0.hybrid.pollen_id %}
                               {% if role == "cur" %}
                                   <a href="{% url 'detail:photos' species.0.hybrid.pollen_id.pid %}?role={{role}}">{{species.0.hybrid.pollen_id.namecasual|safe}}</a>
                               {% else %}
                                   <a href="{% url 'detail:information' %}?pid={{species.0.hybrid.pollen_id.pid}}&role={{role}}">{{species.0.hybrid.pollen_id.namecasual|safe}}</a>
                              {% endif %}

                           {%  else %}
                               {{species.0.hybrid.pollen_id.name}}
                           {%  endif %}
                       {% endif %}

                  </td>
                  <td align="center">{% if species.0.num_image %}{{species.0.num_image}}{% endif %}</td>
<!--                  <td class=" d-none d-sm-table-cell" align="center">{% if species.0.num_image %}{{species.0.num_image}}{% endif %}</td>-->
             </tr>
             {% endfor %}
         </table>
    {% else %}
        <br>
        <div style="text-align:center; font-size:18px;">For more results, try fuzzy search. The search string must include genus<br><br>
            <a class="btn btn-primary btn-sm" type="button" href="{% url 'search:search_fuzzy' %}?search={{search}}&role={{role}}"><span >Partial search</span></a>
            <br><br>
        </div>
    {% endif %}
</div>
<script>
$('#myTab a').click(function(e) {
  e.preventDefault();
  $(this).tab('show');
});


//
//// store the currently selected tab in the hash value
//$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
//  var id = $(e.target).attr("href").substr(1);
//  window.location.hash = id;
//});
//
//// on load of the page: switch to the currently selected tab
//var hash = window.location.hash;
//$('#myTab a[href="' + hash + '"]').tab('show');


</script>
{% endblock %}
