{% load static %}
{% load static %}
{% include "base.html" %}
{% block body %}
{% load testtags %}

<style>
table {
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
}
td {
    /*border: 1px solid lightgrey;*/
    padding: 10px;
}
tr {
    /*border: 1px solid lightgrey;*/
}
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 100px;
   width : auto;
   margin:5px auto;
}
@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        font-size:10px;
    }
    .thumbnails {
       height: 80px;
       margin:5px auto;
    }
    td {
        border: 1px solid lightgrey;
        padding-left: 10px;
    }

}
</style>

<div style="min-height:200px;background-color:white;width: 100%;">
    <div class="row">
        <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
            <div class="card-body"  style="width:100%; display:inline-block; padding-top:0;">
                <div style="text-align: center;">
                    <h5>Search results for "{{search_string}}" in {{selected_app|default:'all domain'}}</h5>
                </div>
                <form action="{% url 'search:search_name' %}" method="post">
                   {% csrf_token %}
                    <select class="btn btn-custom" name="selected_app" onchange="handleSelect(this)">
                        <option value="">Select domain</option>
                        {% for option in options %}
                            <option value="{{ option.value }}" {% if selected_app  == option.value %}selected{% endif %}>
                                {{ option.text }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="commonname" value="{{ commonname }}">
                </form>


                    <table>
                {% if genus_list %}
                    {% for genus in genus_list %}
                        <tr><th><b>Genus</b></th></tr>
                        <tr style="border: 1px solid lightgrey;">
<!--                            <td style="min-width:100px; text-align: center">-->
<!--                                {% if genus.get_best_img %}-->
<!--                                 <img class="thumbnails" alt="{{genus.genus}}" src="{% static genus.get_best_img.image_dir %}{{genus.get_best_img.image_file}}">-->
<!--                                {{genus.get_best_img.pid.name|safe}}-->
<!--                                {% endif %}-->
<!--                            </td>-->
                            <td>
                                {% if not genus.genusstat.num_hybrid or genus.genusstat.num_species > 0 %}
                                    <a href="/common/species/?role={{role}}&family={{genus.family|default:'Orchidaceae'}}&genus={{genus.genus}}"><i>{{genus}}</i></a> {{genus.author|default:''}} {{genus.year|default:''}}{% if genus.status == 'synonym' %}(syn.){% endif %}
                                {% else %}
                                    <a href="/common/hybrid/?role={{role}}&family={{genus.family|default:'Orchidaceae'}}&genus={{genus.genus}}"><i>{{genus}}</i></a>  {{genus.author|default:''}} {% if genus.status == 'synonym' %}(syn.){% endif %}
                                {% endif %}
                                (<a href="/common/genera/?role={{role}}&app={{app}}&family={{genus.family|default:'Orchidaceae'}}"><i>{{genus.family|default:''}}</i></a> -
                                {% if genus.family.application == 'other' %}{{genus.family.kingdom}}{% else %}{{genus.family.application}}{% endif %})
                            </td>
                            {% if user.tier.tier > 3 %}
                            <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">
                                {{genus.genusstat.num_spcimage|default:''}}
                            </td>
                            {% endif %}
<!--                            <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">{{genus.genusstat.num_spcimage|default:''}}</td>-->
                                <td>{{genus.common_name|default:''}}</td>
                        </tr>
                    {% endfor %}
                        <tr><td></td></tr>
                {% endif %}
                {% if match_spc_list %}
                        <tr style="border: 1px solid lightgrey;">
                            <th>Sample Image</th>
                            <th>Species/Grex</th>
                            <th>Common name</th>
                        </tr>
                    {% for species in match_spc_list %}
                        <tr style="border: 1px solid lightgrey;">
                            <td style="min-width:100px; text-align: center">
                                {% if species.get_best_img %}
                                <a href="/display/{{path}}/{{species.pid}}/?family={{species.family|default:'Orchidaceae'}}&role={{role}}&related=ALL&syn=Y&searchdata={{searchdata}}">
                                 <img class="thumbnails" alt="{{species.name|safe}}" src="{% static species.get_best_img.thumb_dir %}{{species.get_best_img.image_file}}">
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/display/{{path}}/{{species.pid}}/?family={{species.family|default:'Orchidaceae'}}&role={{role}}&related=ALL&syn=Y&searchdata={{searchdata}}">
                                    <i>{{species.binomial|safe}}</i>
                                </a>
                                {{species.author|default:''}} {{species.year|default:''}} {% if species.status == 'synonym' %}(syn. {{species.getAccepted.binomial_it|safe}}){% endif %}
                                    (<i>{{species.family|default:''}}</i>)
                            </td>
                            <td style="border-left: 1px solid lightgrey;">{{species.accepted.common_name|default:''}}</td>
                            {% if user.tier.tier > 3 %}
                            <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">
                                {{species.pid}}
                            </td>
                            <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">
                                {{species.speciesstat.num_image|default:''}}
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% elif other_genus_spc %}
                        <tr><td></td></tr>
                       <tr style="border: 1px solid lightgrey;">
                            <th>Sample Image</th>
                            <th>Species/Grex</th>
                            <th>Common name</th>
                        </tr>
                    {% for species in other_genus_spc %}
                        <tr style="border: 1px solid lightgrey;">
                            <td style="min-width:100px; text-align: center">
                                {% if species.get_best_img %}
                                 <img class="thumbnails" alt="{{species.name|safe}}" src="{% static species.get_best_img.thumb_dir %}{{species.get_best_img.image_file}}">
                                {% endif %}
                            </td>
                            <td>
                                <a href="/display/{{path}}/{{species.pid}}/?family={{species.family|default:'Orchidaceae'}}&role={{role}}&related=ALL&syn=Y&searchdata={{searchdata}}">
                                    <i>{{species.binomial|safe}}</i>
                                </a>
                                {{species.author|default:''}} {{species.year|default:''}} {% if species.status == 'synonym' %}(syn. {{species.getAccepted.binomial_it|safe}}){% endif %}
                                    (<i>{{species.family|default:''}}</i>)
                            </td>
                            <td style="border-left: 1px solid lightgrey;">
                                    {{species.accepted.common_name|default:''}}
                            </td>
                            {% if user.tier.tier > 3 %}
                            <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">{{species.speciesstat.num_image|default:''}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                    </table>

            </div>
        </div>
    </div>
</div>
<script>

$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});

    function handleSelect(select) {
      var selectedOption = select.value;
      console.log("Selected option:", selectedOption);
      // Perform further actions based on the selected option
      // e.g., submit the form programmatically, redirect, etc.
      select.form.submit();
    }


</script>



{% endblock %}
