                <div id="Help" class="collapse" data-parent="#accordion" style="text-align: left;">
                    <div class="card-body" style="width:80%; margin:0 auto;">
                        Our search function is still under development, so the results for your search terms may not always be accurate.
                        We recognize that the accuracy of our search function is a critical feature in OrchidRoots,
                        second only to the accuracy and completeness of our data.
                        As our system evolves, we'll be making adjustments to the search function to accommodate new additions.
                        You might encounter irrelevant names or, at times, no results at all.
                        If there are no misspellings in your search term, you will likely get results. However, if the search term is incomplete,
                        the search logic may not be able to find what you are looking for.

                        To improve your search results, consider the following tips:


                        <ul style="font-size: 16px; list-style-type: disc; text-align: left; width: 70%; margin-left: 50px; margin-top: 20px;">
                            <li>Remove a few characters from the end of your search term.</li>
                            <li>Check the spelling of the search term.</li>
                            <li>Include a genus or its formal abbreviation (even if it's just your best guess)
                                in your search term if you haven't already done so. This adjustment can help refine your search effectively.</li>
                            <li>Omit the variety from your search term. The search function automatically returns all varieties regardless.</li>
                            <li>If a genus is returned in the "Genus" section, click on it to view the complete list of species within that genus.</li>
                        </ul>

                    </div>
                </div>
