{% load static %}
{% include "base.html" %}
{% block body %}
<style>
table {
      padding-top: 2px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      margin-left: auto;
      margin-right: auto;
       width: 100%;
}
td {
    border: 0;
    padding: 10px;
}
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 70px;
   width : 70px;
   margin:5px auto;
}

@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        font-size: 12px;
    }

    .thumbnails {
        height: 80px;
        margin: 5px auto;
    }

    td {
        border: 0;
        padding-left: 10px;
        min-height: 50px;
    }
}
.dataTables_wrapper .row {
    width: 90%;
    margin: 0 auto; /* Center the row if necessary */
}
.dataTables_wrapper .dataTables_info {
    padding-bottom: 5px;  /* Adds padding below the table info and above pagination controls */
    text-align: center;
    float: none;
    clear: both;
    margin: 10px auto; /* Add some margin for better spacing */
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    text-align: center;
    float: none;
    clear: both;
    padding: 2px 8px; /* Increase padding to make buttons larger */
    font-size: 14px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height for better vertical alignment */
}

/* You might also want to adjust the hover and active states */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #f0f0f0; /* Example hover background color */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: inset 0 0 3px #666; /* Example active state shadow */
    text-align: center;
    float: none; /* Override default floating */
}
.no-border-bg {
    background: none !important;
    border: none !important;
}

.dataTables_filter label {
    font-size: 14px; /* Adjust the size as needed */
}
    @keyframes flash {
      0%, 100% { opacity: 1; }
      50% { opacity: 0.5; }
    }
    .flashing-button {
      animation: flash 1s linear infinite;
    }


</style>
<div style="min-height:200px;background-color:white;width: 100%;">
    <br>
    <div>
        <form class="form-inline" id="displaysearch" action="/search/search_name/{{app}}/" style="margin-top: 5px;">
            <input type="hidden" form="displaysearch" name="role" value="{{ role }}">

            <input class="searchbox" form="displaysearch" value="{{search_string}}"
                   type="text" name="search_string" pattern=".{3,}"
                   placeholder="Search scientific name" title="Include genus for better results"
                   style="border: 1px solid #ccc; border-right: 0; padding: 8px 12px; width: 300px; border-radius: 4px 0 0 4px;margin:0 auto">

            <button form="displaysearch" type="submit" style="display:none;"></button>
        </form>
    </div>
    <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
        <div class="card-body"  style="width:100%; display:inline-block; padding-top:0;text-align: center;">
            <h5 class="card-title" style="margin-bottom: 0">
                {% if search_string %}
                    Common name in the {{app|title}} domain matching "<i>{{search_string}}</i>"
                {% else %}
                    Please submit a common name to search in the {{app|title}} domain
                {% endif %}
            </h5>
            To search scientific name, try: <a class="btn btn-primary" href="{% url 'search:search' app %}?role={{role}}&search_string={{search_string}}">Search by scientific name</a>
        </div>
    </div>
    <br>
    <div>
        {% if species_list %}
            <table id="sortTable" class="table table-condensed table-sm table-hover" style="font-size: 13px;" >
                <thead style="text-align: center;">
                    <th>Sample image</th><th>Species</th><th>common name</th><th>distribution</th>
                </thead>
                {% for species in species_list %}
                    <tr >
                        <td style="width:20%;">
                            {% if species.speciesstat.best_image %}
                            <a href="{% url 'display:summary' species.family.application species.pid %}">
                             <img class="thumbnails" alt="{{species}}" src="{% static species.speciesstat.best_image %}">
                            </a>
                            {% endif %}
                        </td>
                        <td style="text-align: left;">
                            <a href="{% url 'display:summary' species.family.application species.pid %}">
                            {{species.binomial|safe}}
                            </a>
                            {% if app != 'orchidaceae' %}
                                ({{species.family.family}})
                            {% endif %}
                            {% if species.status == 'synonym' %} (syn. {{species.acc.binomial}}){% endif %}
                        </td>
                        <td style="text-align: left;">{{species.common_name|default:''}}</td>
                        <td style="text-align: left;">{{species.accepted.distribution|default:''}}</td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>

{% include "base-datatable.html" %}


<script>


$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    var initialFilterValue = "{{ spc | default:'' | escapejs }}";
    var table = $('#sortTable').DataTable({
        "info": true,
        "paging": true,  // Enable paging
        "lengthChange": false,
        "pageLength": 50,
        "lengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "colReorder": true,
        "columnDefs": [
            { "type": "priority", "targets": 1 },
            // { targets: [5, 6, 7], className: 'none' }
        ],
        "order": [[1,'asc'],],
        responsive: true,
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'p>>" +  // Top pagination
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-5'i><'col-sm-7'p>>",  // Bottom pagination

        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
        },
        "drawCallback": function(settings) {
            var api = this.api();
            var pageInfo = api.page.info();

            // Show/hide info and pagination
            $('.dataTables_info, .dataTables_paginate').toggle(pageInfo.pages > 1);

            // Adjust the filter and top pagination position
            if (pageInfo.pages <= 1) {
                $('.dataTables_filter').css({
                    'float': 'left',
                    'margin-bottom': '10px'
                });
                $('.dataTables_paginate:eq(0)').hide();  // Hide top pagination if only one page
            } else {
                $('.dataTables_filter').css({
                    'float': 'left',
                    'margin-bottom': '0'
                });
                $('.dataTables_paginate:eq(0)').show().css('float', 'right');  // Show top pagination
            }

            // Log info for debugging
            console.log("Total pages:", pageInfo.pages);
            console.log("Current page:", pageInfo.page);
            console.log("Total records:", pageInfo.recordsTotal);
        },

        "initComplete": function(settings, json) {
            $('.dataTables_filter input').attr('placeholder', 'Filter results');
        }
    });

    // Set initial filter value and draw table
    $('.dataTables_filter input').val(initialFilterValue);
    table.search(initialFilterValue).draw();
});

</script>

</script>
{% endblock %}
