{% load static %}
{% load static %}
{% include "base.html" %}
{% block body %}
{% load testtags %}
<style>
    table {
        width: 80%;
    }
    @media only screen and (max-width: 600px) {
    table {
        width: 100%;
    }
    }
</style>
<div style="min-height:200px;background-color:white;width: 100%;">
    <div style="clear:both"></div>
    <div class="row" style="margin:0 auto;">
        <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
            <div class="card-body"  style="width:100%; display:inline-block; padding-top:0;">
<!--                <div style="padding:0; margin: 0">-->
<!--                    <a class="btn btn-custom" href="{% url 'common:genera' %}?family={{family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}">Show genera</a>-->
<!--                    {% if not genus or genus.num_hybrid > 0 %}-->
<!--                        <a class="btn btn-custom m1" href="{% url 'common:species' %}?family={{family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}&genus={{genus}}&alpha={{alpha}}&syn=N">Show species</a>-->
<!--                    {% endif %}-->
<!--                    <a class="btn btn-custom" href="{% url 'common:newbrowse' %}?app={{app}}&family={{family}}&genus={{genus}}&display=checked">Browse</a>-->
<!--                    {% if app == 'orchidaceae' %}<a class="btn btn-custom m1" href="{% url 'orchidaceae:species' %}?family=Orchidaceae&alpha=A&syn=N">Full species list</a>{% endif %}-->
<!--                </div>-->
                <br>
                <h5>Search results for "<i>{{search_string}}</i>"</h5>
                    <table>
                {% if genus_list %}
                    <tr><th>Family</th><th>genedra</th><th class="d-none d-lg-table-cell hidden-xs">#images</th></tr>
                    {% for genus in genus_list %}
                        <tr>
                            <td>
                                <a href="/common/genera/?family={{genus.family}}"><i>{{genus.family|default:''}}</i></a> ({{genus.family.application}})</td>
                            <td>
                                {% if not genus.num_hybrid or genus.num_species > 0 %}
                                    <a href="/common/species/?family={{genus.family}}&genus={{genus.genus}}"><i>{{genus.genus}}</i></a> {{genus.author|default:''}} {% if genus.status == 'synonym' %}(syn.){% endif %}
                                {% else %}
                                    <a href="/common/hybrid/?family={{genus.family}}&genus={{genus.genus}}"><i>{{genus.genus}}</i></a>  {{genus.author|default:''}} {% if genus.status == 'synonym' %}(syn.){% endif %}
                                {% endif %}
                            </td>
                            <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">{{genus.num_spcimage}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                            <tr><td><b></b></td><td><b>Species</b></td></tr>
                {% if match_spc_list %}
                    {% for species in match_spc_list %}
                        <tr>
                            <td><i>{{species.family|default:''}}</i> ({{species.gen.family.application}})</td>
                            <td>
                                <a href="/display/{{path}}/{{species.pid}}/?family={{species.family}}">
                                    <i>{{species.genus}}
                                        {% if species.type == 'species' %} {{species.species}} </i>
                                        {% else %} {{species.species}}{% endif %}
                                        <i>{{species.infraspr|default:''}} {{species.infraspe|default:''}}</i>
                                </a>
                                {{species.author|default:''}} {{species.year|default:''}} {% if species.status == 'synonym' %}(syn.){% endif %}

                            </td>
                            <td class="d-none d-lg-table-cell hidden-xs" style="text-align: center;">
                                {{species.num_image|default:''}}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

                        </table>
<!--                    <div style="padding: 0; margin-top: 20px;">-->
<!--                        Didn't see what you are looking for?<br>-->
<!--                        <a class="btn btn-custom" style="width: 150px;" href="/other/search_species/?family={{family}}&search_string={{search_string}}&role={{role}}&app={{app}}&fuzzy=1">Aproximate search</a>-->
<!--                    </div>-->
                <br>
                <div class="btn btn-custom" onclick="history.back()">
                    Go back
                </div>
            </div>
        </div>
    </div>
</div>
<script>

$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


</script>



{% endblock %}
