{% load static %}
{% load static %}
{% include "base.html" %}
{% block body %}
{% load testtags %}
<style>
table {
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
}
td {
    /*border: 1px solid lightgrey;*/
    padding: 10px;
}
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 100px;
   width : auto;
   margin:5px auto;
}

@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        font-size:10px;
    }
    .thumbnails {
       height: 80px;
       margin:5px auto;
    }
    td {
        border: 1px solid lightgrey;
        padding-left: 10px;
    }

}
</style>
<div style="min-height:200px;background-color:white;width: 100%;">
    <div style="clear:both"></div>
    <div class="row" style="margin:0 auto;">
        <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
            <div class="card-body"  style="width:100%; display:inline-block; padding-top:0;">
                <br>
                <div style="text-align: center;">
                    <h5>Search results in <b>Orchidaceae family</b> for "{{query}}"</h5>
                </div>
                <table class="table-bordered">
                    <tr><td><b>Species</b></td><td><b></b></td></tr>
                    {% if result_list %}
                    {% for species in result_list %}
                        <tr>
                            <td style="width:20%;">
                                <a href="{% url 'display:summary' species.match.family.application species.match.pid %}?family={{species.match.family|default:'Orchidaceae'}}&role={{role}}">
                                    {{species.match.binomial}}</a>  {{species.match.author|default:''}} {{species.match.year|default:''}}
                            </td>
                            <td style="width:10%;">
                                {% if species.match.status == 'synonym' %}<br> syn.
                                    {% if species.match.getAcc %}
                                        <a href="{% url 'display:summary' species.match.family.application species.match.getAcc %}?family={{species.match.family|default:'Orchidaceae'}}&role={{role}}">
                                            {{species.match.getAccepted.binomial}}
                                        </a>
                                    {% else %}
                                        {{species.match.getAccepted.binomial}} (syn)
                                    {% endif %}
                                {% elif species.match.type == 'hybrid' %}  {{species.match.hybrid.seed_id.name|safe}} x {{species.match.hybrid.pollen_id.name|safe}}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
<script>

$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});

    function handleSelect(select) {
      var selectedOption = select.value;
      console.log("Selected option:", selectedOption);
      // Perform further actions based on the selected option
      // e.g., submit the form programmatically, redirect, etc.
      select.form.submit();
    }


</script>



{% endblock %}
