{% load static %}
{% load testtags %}
{% include "base.html" %}
{% block body %}
<style>
.card {
    background-color: white;
}
.card-header {
    background-color:lightgrey;
}

.custom-select{
    margin:1px 1px 1px 3px !important;
    /*margin-right:200px;*/
    /*background-color: #f9f9f9;*/
    color: #100d0d;
    /*margin-left:3px;*/
    width:200px;
    /*height:50px;*/
    font-size:13px;
    display: inline-block;
}

.card-subheader {
    height: 40px;
    margin: 20px 0;
    background-color: #e9e9e9;
}

.custom-select:hover {
    text-decoration: none;
    /*background-color: #8887bd;*/
    color: black;
}

.custom-select:active {
    text-decoration: none;
    background-color: #8887bd;
    color: black;
}

.custom-link{
    margin:1px 1px 1px 3px !important;
    background-color: #f9f9f9;
    color: #292929;
    min-width:120px;
    border: 1px solid lightgrey;
    /*height:50px;*/
    font-size:13px;
    width: 200px !important;
}

.custom-link:hover {
    padding:0;
    margin:0 auto;
    text-decoration: none;
    background-color: #8887bd;
    border: 1px solid lightgrey;
}

    @media only screen and (max-width: 600px) {
    }
    ul{
        padding-left:15px;
        /*font-size: 13px;*/
        padding-left:10px;
        line-height: 30px;
        list-style-type:square;
    }
    li {
            display: list-item;
    }
    .card-body {
        font-size: 15px;
        margin: 10px 5px;
    }
form {
    display: inline-block; //Or display: inline;
}
.dropdown {
    display:inline-block;
}
.dropdown-item {
    width: 180px;
}

    .li-side {
        list-style:none;
        width:100%;
        padding: 0 5px;
    }

.bannerfont {
    font-size:14px;
}
.sidebtn {
    margin:2px 0;
    width: 95%;
    font-size:13px;
    color: #272ba3;
    padding:5px;
    border:1px solid darkgrey;
}
.family {
    margin:2px 0;
    width: 95%;
    font-size:13px;
    color: #272ba3;
    background-color: #cbe5e5;
    padding:5px;
    border:1px solid darkgrey;
}

.btn {
    width:95%;
}
.btn:hover {
    background-color: #cad4f7 !important;
    font-weight: bold;
}
.card-body {
    padding:10px;
}

</style>
<br>

<div style="min-height:200px;background-color:white;">
<!--<div style="min-height:200px;background-color:#495360;">-->
   <div style="clear:both"></div>
   <div class="row">
        <div class="d-none d-sm-block col-sm-4 col-lg-3" >
            <div class="card" style="border:1px solid pink;">
                <div class="card-body" >
                    Family<br>
                    <div class="dropdown" style="display:inline-block;">
                        <button class="custom-select btn-outline-primary btn-xs select-p2" data-toggle="dropdown">{% if f %}<b>{{f}}</b>{% else %}Select a family{% endif %}</button>
                        <div class="dropdown-menu scrollable-menu" style="font-size: 11px;max-height:300px;overflow:auto;">
                            <a class="dropdown-item" href="?role={{role}}">---</a>
                            {% for s in family_list %}
                                <a class="dropdown-item" href="{% url 'search:taxonomy' %}?role={{role}}&f={{s.family}}">{{s.family}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <br><br>Subfamily<br>
                    <div class="dropdown" style="display:inline-block;">
                        <button class="custom-select btn-outline-primary btn-xs select-p2" data-toggle="dropdown">{% if sf %}<b>{{sf}}</b>{% else %}Select a subfamily{% endif %}</button>
                        <div class="dropdown-menu scrollable-menu" style="font-size: 11px;max-height:300px;overflow:auto;">
                            <a class="dropdown-item" href="?role={{role}}&f={{f}}"><b>---</b></a>
                            {% for s in subfamily_list %}
                                <a class="dropdown-item" href="?role={{role}}&f={{s.family}}&sf={{s.subfamily}}">{{s.family}} {{s.subfamily}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <br><br>Tribe<br>
                    <div class="dropdown" style="display:inline-block;">
                        <button class="custom-select btn-outline-primary btn-xs select-p2" data-toggle="dropdown">{% if t %}<b>{{t}}</b>{% else %}Select a tribe{% endif %}</button>
                        <div class="dropdown-menu scrollable-menu" style="font-size: 11px;max-height:300px;overflow:auto;">
                            <a class="dropdown-item" href="?role={{role}}&f={{f}}&sf={{sf}}"><b>---</b></a>
                            {% for s in tribe_list %}
                                <a class="dropdown-item" href="{% url 'search:taxonomy' %}?role={{role}}&f={{s.family}}&sf={{s.subfamily}}&t={{s.tribe}}">{{s.subfamily}} {{s.tribe}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <br><br>Subtribe<br>
                    <div class="dropdown" style="display:inline-block;">
                        <button class="custom-select btn-outline-primary btn-xs select-p2" data-toggle="dropdown">{% if st %}<b>{{st}}</b>{% else %}Select a subtribe{% endif %}</button>
                        <div class="dropdown-menu scrollable-menu" style="font-size: 11px;max-height:300px;overflow:auto;">
                            <a class="dropdown-item" href="?role={{role}}&f={{f}}&sf={{sf}}&t={{t}}"><b>---</b></a>
                            {% for s in subtribe_list %}
                                <a class="dropdown-item" href="{% url 'search:taxonomy' %}?role={{role}}&f={{s.family}}&sf={{s.subfamily}}&t={{s.tribe}}&st={{s.subtribe}}">{{s.tribe}} {{s.subtribe}}</a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-8 col-lg-9 border" style="text-align:left;font-size:13px;">
<ul>
    <li>{{ family_list.1.created_date}}</li>
    <li>{% current_time "%Y/%m/%d %I:%M %p" as the_time %}<p>The time is {{ the_time }} Yes!.</p></li>
    <li>{% gohome %}</li>
</ul>

        </div>

   </div>
</div>
                <br>
                <br>

{% endblock %}