<style>

/*  .btn-group-xs > .btn, .btn-xs {*/
/*    padding  : 8px 30px;*/
/*    !*padding  : .5rem .5rem;*!*/
/*    font-size  : .8rem;*/
/*    line-height  : .65;*/
/*    border-radius : .2rem;*/
/*  }*/

.nav2 {
    font-size: 13px;
}
.nav-link {
    color: black !important;
}
.nav3 {
    font-size: 12px;
}
@media only screen and (max-width: 500px) {
    .nav-link {
        font-size: 11px;
        width: 45px;
        color: black !important;
    }
}
</style>

    <div class="nav3">
        <ul class="nav nav-tabs navbar-expand-lg" >
            {% if species %}
                <li class="nav-item"><a class="nav-link {{tax}}" href="{% url 'display:information' species.pid %}?family={{species.gen.family}}&role={{role}}">Summary<br></a></li>
                <li class="nav-item"><a class="nav-link {{pho}}" href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&role={{role}}&related:{{related}}&syn={{syn}}">Photos<br></a></li>
                <li class="nav-item"><a class="nav-link {{vid}}" href="{% url 'display:videos' species.pid %}?family={{species.gen.family}}&role={{role}}&related:{{related}}&syn={{syn}}">Videos<br></a></li>
                <li class="nav-item"><a class="nav-link {{sbs}}" href="/{{species.gen.family.application}}/compare/{{species.pid}}/?family={{species.gen.family}}&role={{role}}">Compare<br></a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link {{loc}} {{web}} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if loc == 'active' %}Upload URL{% elif web == 'active' %}Upload FIle{% else %}Upload{% endif %}
                    </a>
                    <div class="nav2 dropdown-menu">
                    {% if family.family == 'Orchidaceae' %}
<!--                        <span style="color: red">You will be redirected to OrchidRoots</span>-->
                        <a class="dropdown-item" href="https://orchidroots.com/detail/uploadweb/{{species.pid}}/?role={{role}}"><span style="color:#575757;;">upload url</span></a>
                        {% if user.tier.tier > 1 %}
                            <a class="dropdown-item" href="https://orchidroots.com/detail/uploadfile/{{species.pid}}/?role={{role}}"><span style="color:#575757;">upload file</span></a>
                        {% endif %}
                    {% else %}
                        <!--                        Fix common.uploadfile to use family specific form -->
                        {% if app == 'animalia' %}
                            <a class="dropdown-item" href="{% url 'animalia:uploadfile' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;;">upload file</span></a>
                            {% if user.tier.tier > 1 %}
                            <a class="dropdown-item" href="{% url 'animalia:uploadweb' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;">upload url</span></a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'animalia:uploadvid' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;;">upload video</span></a>
                        {% elif app == 'aves' %}
                            <a class="dropdown-item" href="{% url 'aves:uploadfile' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;;">upload file</span></a>
                            {% if user.tier.tier > 1 %}
                            <a class="dropdown-item" href="{% url 'aves:uploadweb' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;">upload url</span></a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'aves:uploadvid' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;;">x upload video</span></a>
                        {% elif app == 'fungi' %}
                            <a class="dropdown-item" href="{% url 'fungi:uploadfile' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;;">upload file</span></a>
                            {% if user.tier.tier > 1 %}
                            <a class="dropdown-item" href="{% url 'fungi:uploadweb' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;">upload url</span></a>
                            {% endif %}
                        {% elif app == 'other' %}
                            <a class="dropdown-item" href="{% url 'other:uploadfile' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;;">upload file</span></a>
                            {% if user.tier.tier > 1 %}
                            <a class="dropdown-item" href="{% url 'other:uploadweb' species.pid %}?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;">upload url</span></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </div>
                </li>
                {% if related_list and species.type != 'hybrid' %}
                <li class="nav-item dropdown">
                    <a class="nav-link {{rel}} {{proimg}} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Infraspecific</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/display/photos/{{species.pid}}/?family={{species.gen.family}}&related=ALL&role={{role}}&syn=Y"><span style="color:#575757;">All Infraspecific</span></a>
                        {% for spc in related_list %}
                            <a class="dropdown-item" href="/display/photos/{{spc.pid}}/?family={{spc.gen.family}}&role={{role}}&related={{spc.pid}}&role={{role}}&syn=Y"><span style="color:#575757;">{{spc.binomial_it|safe}}</span></a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}

                {% if syn_list %}
                <li class="nav-item dropdown">
                    <a class="nav-link {{rel}} {{proimg}} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Include Synonyms</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/display/photos/{{species.pid}}/?family={{species.gen.family}}&related=ALL&role={{role}}&syn=Y"><span style="color:#575757;">All synonyms</span></a>
                        {% for spc in syn_list %}
                            <a class="dropdown-item" href="/display/photos/{{spc.spid.pid}}/?family={{spc.spid.gen.family}}&role={{role}}&related={{spc.spid.pid}}"><span style="color:#575757;">{{spc.spid.binomial_it|safe}}</span></a>
                        {% endfor %}
                    </div>

                </li>
                {% endif %}

                {% if species.gen.family.family == 'Orchidaceae' %}
                <li class="nav-item dropdown">
                    <a class="nav-link {{pro}} {{proimg}} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if tab == 'pro' %}Progeny list{% elif tab == 'proimg' %}Progeny images{% else %}Progeny{% endif %}
                    </a>
                    <div class="nav3 dropdown-menu">
                            <a class="dropdown-item" href="/{{species.gen.family.application}}/progeny/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&tab=pro"><span style="color:#575757;;">Progeny list</span></a>
                            <a class="dropdown-item" href="/{{species.gen.family.application}}/progenyimg/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&tab=proimg"><span style="color:#575757;">Progeny images</span></a>
                    </div>
                </li>

                    {% if species.type == 'hybrid' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link {{anc}} {{tree}} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                {% if tab == 'anc' %}Ancestry list{% elif tab == 'tree' %}Ancestry Tree{% else %}Ancestry{% endif %}
                            </a>
                            <div class="nav2 dropdown-menu">
                            {% if species.gen.family.family == 'Orchidaceae' %}
                                <a class="dropdown-item" href="/{{species.gen.family.application}}/ancestor/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&tab=anc"><span style="color:#575757;">Ancestry list</span></a>
                                <a class="dropdown-item" href="/{{species.gen.family.application}}/ancestrytree/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&tab=tree"><span style="color:#575757;">Ancestry tree</span></a>
                            {% endif %}
                           </div>

                        </li>
                    {% endif %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
