<style>

/*  .btn-group-xs > .btn, .btn-xs {*/
/*    padding  : 8px 30px;*/
/*    !*padding  : .5rem .5rem;*!*/
/*    font-size  : .8rem;*/
/*    line-height  : .65;*/
/*    border-radius : .2rem;*/
/*  }*/

.nav2 {
    font-size: 13px;
}
.nav3 {
    font-size: 12px;
}
.nav-link {
    color: black !important;
}
@media only screen and (max-width: 600px) {

.nav-link {
        font-size: 10px;
    color: black !important;
}
}
</style>

    <div class="nav3">
        <ul class="nav nav-tabs navbar-expand-lg" >
            {% if species %}
                <li class="nav-item"><a class="nav-link {{tax}}" href="{% url 'common:information' species.pid %}?family={{species.gen.family}}&role={{role}}">Summary<br></a></li>
                <li class="nav-item"><a class="nav-link {{pho}}" href="{% url 'common:photos' species.pid %}?family={{species.gen.family}}&role={{role}}">Photos<br></a></li>
                <li class="nav-item"><a class="nav-link {{sbs}}" href="/{{species.gen.family.application}}/compare/{{species.pid}}/?family={{species.gen.family}}&role={{role}}">Compare<br></a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link {{loc}} {{web}} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if loc == 'active' %}Upload URL{% elif web == 'active' %}Upload FIle{% else %}Upload{% endif %}
                    </a>
                    <div class="nav2 dropdown-menu">
                    {% if family.family != 'Orchidaceae' %}
                        <a class="dropdown-item" href="/{{species.gen.family.application}}/uploadweb/{{species.pid}}/?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;;">upload url</span></a>
                        {% if user.tier.tier > 2 %}
                            <a class="dropdown-item" href="/{{species.gen.family.application}}/uploadfile/{{species.pid}}/?family={{species.gen.family}}&role={{role}}"><span style="color:#575757;">upload file</span></a>
                        {% endif %}
                    {% else %}
                        <span style="color: red">You will be redirected to OrchidRoots</span>
                        <a class="dropdown-item" href="https://orchidroots.com/detail/uploadweb/{{species.pid}}/?role={{role}}"><span style="color:#575757;;">upload url</span></a>
                        {% if user.tier.tier > 2 %}
                            <a class="dropdown-item" href="https://orchidroots.com/detail/uploadfile/{{species.pid}}/?role={{role}}"><span style="color:#575757;">upload file</span></a>
                        {% endif %}
                    {% endif %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link {{pro}} {{proimg}} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if tab == 'pro' %}Progeny list{% elif tab == 'proimg' %}Progeny images{% else %}Progeny{% endif %}
                    </a>
                    <div class="nav3 dropdown-menu">
                        {% if species.gen.family.family == 'Orchidaceae' %}
                            <a class="dropdown-item" href="/{{species.gen.family.application}}/progeny/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&tab=pro"><span style="color:#575757;;">Progeny list</span></a>
                            <a class="dropdown-item" href="/{{species.gen.family.application}}/progenyimg/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&tab=proimg"><span style="color:#575757;">Progeny images</span></a>
                        {% else %}
                            IN PROGRESS
                        {% endif %}
                    </div>
                </li>

                {% if species.type == 'hybrid' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link {{anc}} {{tree}} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            {% if tab == 'anc' %}Ancestry list{% elif tab == 'tree' %}Ancestry Tree{% else %}Ancestry{% endif %}
                        </a>
                        <div class="nav2 dropdown-menu">
                        {% if species.gen.family.family == 'Orchidaceae' %}
                            <a class="dropdown-item" href="/{{species.gen.family.application}}/ancestor/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&tab=anc"><span style="color:#575757;;">Ancestry list</span></a>
                            <a class="dropdown-item" href="/{{species.gen.family.application}}/ancestrytree/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&tab=tree"><span style="color:#575757;">Ancestry tree</span></a>
                        {% endif %}
                       </div>

                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
