            <ul>
                <li>{{ family_list.1.created_date}}</li>
                <li>{% simple_time "%Y/%m/%d %I:%M %p" as the_time %}<p>The time is {{ the_time }} Yes!.</p></li>
                <li>{% gohome %}</li>
                <li>{% do_current_time "%Y-%m-%d %I:%M %p" as my_current_time %}
                    <p>The current time here is {{ my_current_time }}.</p>
                </li>
                <li>
                    {% created_date family_list.1.created_date "%Y-%m-%d %I:%M %p" %}
                    Created date is {{format_time}}
                </li>
                <li>
                    {% created_date family_list.1.modified_date "%Y-%m-%d %I:%M %p" %}
                    Modified date is {{format_time}}
                </li>
            </ul>
