{% load static %}
{% load testtags %}
{% include "base.html" %}
{% block body %}
<head>
   <link rel="canonical" href="{{ canonical_url }}">
   <title>List of selected families</title>
   <meta name='description' content='The list of Plants and animal families'>
</head>

<div style="min-height:200px;background-color:white;width: 90%; margin: 0 auto;">
   <div style="clear:both"></div>
<!--Main table       -->
        <div style="text-align:left;font-size:13px;margin-top: 20px;">
<!--            If family is requested, then populate right section with genus list-->
<!--            Display list of genus in the family (subfamily/tribe or subtribe) -->
                <h1 class="hidden-h1">{{app|title}} {{family|title}} Genera</h1>
                <div class="card m-1">
                    <div class="card-header border">
                        <div class="card-title" style="margin-bottom: 0; color:green; font-size:24px;">
                                {% if app == 'other' %} Plantae (except Orchidaceae)
                                {% else %}{{app|title}}
                                {% endif %}
                                {% if subfamily %} subfamily <i>{{subfamily}}</i>
                                {% endif %}
                                {% if tribe %} tribe <i>{{tribe}}</i>
                                {% endif %}
                                {% if subtribe %} subtribe <i>{{subtribe}}</i>
                                {% endif %}
                                Families
                        </div>
                    </div>
                    <div class="card-body border-top"  style="display:inline-block">
                        <!--   Main table-->
                        {% include "common/alpha_list_family.html" %}
                        {% if family_list %}
                            <div style="clear: both"></div>
                            <div>
                                <table id="sortTable" class="table table-condensed table-sm  table-bordered table-hover">
                                    <thead>
                                        <th>Family</th>
                                        <th>Common name</th>
                                        <th class="d-none d-lg-table-cell hidden-xs">Order</th>
                                    </thead>
                                        {% for family in family_list %}
                                        <tr><td>
                                                <a href="{% url 'common:genera' app %}?app={{app}}&family={{family.family}}"><i>{{family.family}}</i></a>
                                                {{family.author|default:""}}
                                            </td>
                                            <td>{{family.common_name|default:''}}</td>
                                            <td class="d-none d-lg-table-cell hidden-xs">{{family.order}}</td>
                                        </tr>
                                        {% endfor %}
                                </table>
                                <!--Pagination-->
                            </div>
<!--                            {% if last_page > 1 %}-->
<!--                                <div style="float:left">-->
<!--                                    {% include "common/paginator_genus.html" %}-->
<!--                                </div>-->
<!--                            {% endif %}-->
                        {% else %}
                            None!
                        {% endif %}
                    </div>
                </div>
        </div>
   </div>
</div>
<br>
<br>
{% endblock %}

{% block extra-scripts %}

{% include "base-datatable.html" %}

<script>
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip();
    var initialFilterValue = "{{ family | default:'' | escapejs }}";

    var table = $('#sortTable').dataTable({
        "pageLength": 100,
        "aLengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "pagingType": "simple",
        "colReorder": true,  // Enable column reordering
        "bPaginate": true,
        // "pagingType": "simple", # only show previous/next
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Filter results'});//tips
        },
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        }
    });
    $('.dataTables_filter input').val(initialFilterValue);
    table.search(initialFilterValue).draw();

});

</script>
{% endblock %}