{% load static %}
{% load testtags %}
{% include "base.html" %}
{% block body %}
<head>
    <link rel="canonical" href="{{ canonical_url }}">
    <title>List of {{family}} genera</title>
    <meta name='description' content='genera of the family {{family}}'>.
</head>

<div style="min-height:200px;background-color:white;width: 90%; margin: 0 auto;">
   <div style="clear:both"></div>
<!--Main table       -->
        <div style="text-align:left;font-size:13px;margin-top: 20px;">
<!--            If family is requested, then populate right section with genus list-->
<!--            Display list of genus in the family (subfamily/tribe or subtribe) -->
                <div class="card m-1">
                    <div class="card-header border">
                        <h1 class="hidden-h1">{{app|title}} genera</h1>
                        <h4 class="card-title" style="margin-bottom: 0; color:green; font-size:24px;">
                            Genera of the
                            {% if app == 'other' %} Plantae (except Orchidaceae)
                            {% else %}{{app|title}}
                            {% endif %}
                            {% if subtribe %} subtribe <i>{{subtribe}}</i>
                            {% elif tribe %} tribe <i>{{tribe}}</i>
                            {% elif subfamily %} subfamily <i>{{subfamily}}</i>
                            {% elif family %} family <i>{{family}}</i>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="card-body border-top"  style="display:inline-block">
                        <div style="padding: 5px;">
                            <a class="btn btn-custom" href="{% url 'common:newbrowse' app %}?family={{family|default:''}}&genus={{genus}}&myspecies={{myspecies}}">Browse</a>
                            {% if app == 'orchidaceae' %}
                                <a class="btn btn-custom" href="{% url 'orchidaceae:genera' %}?family=Orchidaceae&role={{role}}">Detailed list</a>
                            {% endif %}
                        </div>
                        <!--   Main table-->
                        {% include "common/alpha_list_common.html" %}
                        {% if genus_list %}
                            <div style="clear: both"></div>
                            <div class="flex">
                                <table id="sortTable" class="table table-striped table-condensed table-sm  table-bordered table-hover">
                                    <thead>
                                        <th>Genus</th>
                                        {% if app == 'aves' %}
                                        <th>Common name</th>
                                        {% endif %}
                                        <th class="d-none d-lg-table-cell hidden-xs">suprageneric ranks</th>
                                        <th>#images</th>
                                    </thead>
                                        {% for genus in genus_list %}
                                        <tr>
                                            <td>
                                            {% if not app or app == 'orchidaceae' %}
                                                <a href="{% url 'common:species' 'orchidaceae' %}?genus={{genus.genus}}&year={{ year }}&family={{genus.family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}&syn=N"><i>{{genus.genus}}</i></a>
                                            {% else %}
                                                <a href="{% url 'common:species' app %}?genus={{genus.genus}}&year={{ year }}&family={{genus.family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}&syn=N"><i>{{genus.genus}}</i></a>
                                            {% endif %}
                                                {{genus.author|default:""}}
                                            </td>
                                            {% if app == 'aves' %}
                                            <td>
                                                {{genus.common_name| default:''}}
                                            </td>
                                            {% endif %}

                                            <td class="d-none d-lg-table-cell hidden-xs">
                                            {% if tribe %}
                                                {% if genus.subtribe %}subtribe
                                                    <a href="{% url 'common:genera' app %}?family={{family.family}}&subtribe={{genus.subtribe}}"><i>{{genus.subtribe|title}}</i></a>
                                                {% endif %}
                                            {% elif subfamily %}
                                                {% if genus.tribe %}tribe
                                                    <a href="{% url 'common:genera' app %}?family={{family.family}}&tribe={{genus.tribe}}"><i>{{genus.tribe|title}}</i></a>
                                                {% endif %}
                                            {% elif family %}
                                                {% if genus.subfamily %}subfamily
                                                    <a href="{% url 'common:genera' app %}?family={{family.family}}&subfamily={{genus.subfamily}}"><i>{{genus.subfamily|title}}</i></a>
                                                {% endif %}
                                                {% if genus.tribe %}tribe
                                                    <a href="{% url 'common:genera' app %}?family={{family.family}}&tribe={{genus.tribe}}"><i>{{genus.tribe|title}}</i></a>
                                                {% endif %}
                                                {% if genus.subtribe %}subtribe
                                                    <a href="{% url 'common:genera' app %}?family={{family.family}}&subtribe={{genus.subtribe}}"><i>{{genus.subtribe|title}}</i></a>
                                                {% endif %}
                                            {% endif %}
                                            </td>
                                            <td class="align-center">{% if genus.genusstat.num_spcimage > 0 or genus.genusstat.num_hybimage > 0 %}{%  add genus.genusstat.num_spcimage genus.genusstat.num_hybimage %}{% endif %}</td>
        <!--                                            <td class="align-center d-none d-sm-block d-none d-sm-table-cell">{{genus.source}}</td>-->
                                        </tr>
                                        {% endfor %}
                                </table>
                                <!--Pagination-->
                            </div>
<!--                            {% if last_page > 1 %}-->
<!--                                <div style="float:left">-->
<!--                                    {% include "common/paginator_genus.html" %}-->
<!--                                </div>-->
<!--                            {% endif %}-->
                        {% else %}
                            None!
                        {% endif %}
                    </div>
                </div>
        </div>
   </div>
</div>
<br>
<br>
<script>
$(document).ready(function() {
    var dataTable = $('#sortTable').dataTable({
        "pageLength": 100,
        "aLengthMenu": [[50,100,150,200,-1], [50,100,150,200,"All"]],
        "lengthChange": false,
        "order": [[0,'asc'],],
        "bPaginate": true,
        "pagingType": "simple",
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Filter results'});//tips
        },
        // "dom": '<"top"i>rt<"bottom"flp><"clear">',
        // "dom": '<"top"flp>rt<"bottom"i><"clear">',
        // "dom": '<"wrapper"flipt>',
        // "dom": "<'row'<'col-md-6'l><'col-md-6'Bf>>" + "<'row'<'col-md-6'><'col-md-6'>>" + "<'row'<'col-md-12't>><'row'<'col-md-12'ip>>",
        // "dom": "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-4'f><'col-sm-8'p>>",
        // "dom": "<'row'<'col-sm-4'f><'col-sm-8'p>>" + "<'row'<'col-sm-12'tr>>",
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        // "sDom": '<"top"flp>rt<"bottom"ip><"clear">',
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        }
    });
});

</script>
{% endblock %}