
<style>
.btn-group-xs > .btn, .btn-xs {
    padding  : 8px 5px;
    width: 147px;
    /*padding  : .5rem .5rem;*/
    font-size  : .8rem;
    line-height  : .65;
    border-radius : .2rem;
}
.mybtn {
    font-size:13px;
    width:200px;
    background-color: white;
    border: 1px solid grey;
    margin: 3px;
}
.dropdown {
    margin-top: 5px;
}
.mynav {
    clear: left;
    height: 30px !important;
    display: inline-block;
    padding: 0;
    margin: 0;

}
.mybtn1 {
    font-size: 12px;
    width: 100px;
}


@media only screen and (max-width: 800px) {
.mybtn1 {
    font-size: 10px;
}
}
</style>

    <div class="d-flex justify-content-center mynav" >
        <a class="btn btn-xs btn-outline-primary m-1 mybtn1 {{mylist}}" href="{% url 'common:myphoto_list' %}?app={{app}}&family={{family}}&role={{role}}">My List</a>
        <a class="btn btn-xs btn-outline-primary m-1 mybtn1 {{myspc}}" href="{% url 'common:myphoto_browse_spc' %}?app={{app}}&family={{family}}&role={{role}}">My Species</a>
        <a class="btn btn-xs btn-outline-primary m-1 mybtn1 {{myhyb}}" href="{% url 'common:myphoto_browse_hyb' %}?app={{app}}&family={{family}}&role={{role}}">My Hybrids</a>
        {% if species %}
            <a class="btn btn-xs btn-outline-primary m-1 mybtn1 {{mylist}}" href="{% url 'display:photos' species.pid %}?app={{app}}&family={{family}}&role={{role}}">All photos</a>
        {% else %}
            <a class="btn btn-xs btn-outline-primary m-1 mybtn1 {{mylist}}" href="{% url 'common:newbrowse' app %}?family={{family}}&role={{role}}">All photos</a>
        {% endif %}
        {% if species %}
                {% if author.author_id == 'anonymous' %}
                    <div style="text-align:center; width:100%;padding:0 20%; font-size:14px;">
                        <br>
                        <b>Alert!</b>
                        {{user}}, your profile is not synchronized with the current credit attribution name.
                        If this is the first time you upload your photo, please contact 'admin@bluenanta.com' to create an author id for you.
                        Otherwise, if your credit attribution author name already exists, please click on the link "update profile" in the dropdown menu under your user name and select your attribute the name we use to attribute your photos from the drop down menu in the update profile form"
                        to <a href="https://www.facebook.com/Orchidrootscom-306266603228487/inbox/?mailbox_id=306266603228487&selected_item_id=631912977">OrchidRoots In-Box</a>
                    </div>
                {% else %}
                    {% if app != 'orchidaceae' %}
                        <a class="btn btn-xs btn-outline-primary m-1" style="width:100px;" href="/{{app}}/uploadfile/{{species.pid}}/?family={{family}}&role={{role}}">upload file</a>
                    {% endif %}
                {% endif %}
            {% endif %}
    </div>
