{% load static %}
{% include "base.html" %}
{% block body %}
<style>
.card {
    background-color: rgba(246, 244, 248, 0.99);
}
.card-header {
    background-color: #e8e8e8;
}

.custom-select{
    margin:1px 1px 1px 3px !important;
    /*margin-right:200px;*/
    /*background-color: #f9f9f9;*/
    color: #100d0d;
    /*margin-left:3px;*/
    width:200px;
    /*height:50px;*/
    font-size:13px;
    background: none;
    display: inline-block;
}

.custom-select:hover {
    text-decoration: none;
    /*background-color: #8887bd;*/
    color: black;
}

.custom-select:active {
    text-decoration: none;
    background-color: white;
    color: black;
}

.custom-link{
    margin:1px 1px 1px 3px !important;
    background-color: #f9f9f9;
    color: #292929;
    min-width:120px;
    border: 1px solid lightgrey;
    /*height:50px;*/
    font-size:13px;
    width: 200px !important;
}

.custom-link:hover {
    padding:0;
    margin:0 auto;
    text-decoration: none;
    background-color: #8887bd;
    border: 1px solid lightgrey;
}

@media only screen and (max-width: 600px) {

}
.card-body {
    font-size: 13px;
    margin: 10px 5px;
    text-align: center;
}
form {
    display: inline-block; //Or display: inline;
}
  /*label {*/
  /*  display: inline-block;*/
  /*  width: 200px;*/
  /*  text-align: right;*/
  /*}*/
  resformcontrol {
      width: 100%;

  }
  resinput {
      width: 210px;
      text-align:left;
  }
.abtn {
    width: 205px !important;
    margin: auto;
    height: 40px !important;
    text-align:center;
}
.labelfor {
    text-align:center;

}
</style>


<div class="container-fluid" style="margin: 0 auto;width: 90%">
    <br>
<!--ORCHID-->
        <div class="card">
            <div class="card-header">
                <a href="{% url 'common:genera' 'orchidaceae' %}?family=Orchidaceae" style="text-align:center"><h4>Orchidaceae</h4></a>
            </h4>
            </div>
            <div class="card-body" style="margin: auto;">
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:taxonomy_app' 'orchidaceae' %}?" style="text-align:center">Show taxonomy tree</a>
                <a class="btn btn-xs p-3 custom-link border abtn" href="{% url 'common:newbrowse' 'orchidaceae' %}?family=Orchidaceae">Browse Orchidaceae genera</a>
                <a class="btn btn-xs p-3 custom-link border abtn" href="{% url 'common:genera' 'orchidaceae' %}?family=Orchidaceae">List Orchidaceae genera</a>
                <br>
                <form class="rescontrol" id="orsearch" action="{% url 'common:species' 'orchidaceae' %}" style="display:inline-block;">
                    <div class="form-floating">
                    <input type="hidden" form="orsearch" name="app" value="orchidaceae" >
                    <input type="hidden" form="orsearch" name="family" value="Orchidaceae" >
                    <input class="form-control resinput" form="orgen" id="orgen" name="genus" placeholder="Search genus" style="margin: 4px 0">
                    <label for="orgen">&nbsp;Enter a genus to list species</label>
                    </div>
                </form>
                <form class="rescontrol" action="{% url 'common:species' 'orchidaceae' %}" style="display:inline-block;">
                    <div class="form-floating">
                    <input type="hidden" name="app" value="orchidaceae" >
                    <input type="hidden" name="family" value="Orchidaceae" >
                    <input class="form-control resinput" id="orhyb" name="genus" placeholder="Search genus" style="margin: 4px 0">
                    <label for="orhyb">&nbsp;Enter a genus to list hybrids</label>
                    </div>
                </form>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:distribution' %}?app=orchidaceae&family=Orchidaceae" style="text-align:center">Search Orchid distribution</a>
                <br>
            </div>
        </div>
<!--OTHER-->
        <div class="card">
            <div class="card-header">
                <a href="{% url 'common:genera' 'other' %}?family={{family}}" style="text-align:center">
                    <h4>Other Plant Families</h4></a>
            </div>
            <div style="margin: auto;">
                <br>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:taxonomy_app' 'other' %}?" style="text-align:center">Show taxonomy tree</a>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:newbrowse' 'other' %}" style="text-align:center">Browse Plantae families</a>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:genera' 'other' %}?" style="text-align:center">List genera</a>
                <br>
                    <form class="rescontrol" id="otgenus" action="{% url 'common:species' 'other' %}" style="display:inline-block;" >
<!--                        <div class="form-floating">-->
                        <input type="hidden" form="otgenus" name="app" value="other" >
                        <input type="hidden" form="otgenus" name="family" value="{{family|default:'other'}}" >
                        <input type="hidden" form="otgenus" name="from_path" value="{{from_path}}" >
                        <input class="form-control abtn" form="otgenus" id="otgen" name="genus" placeholder="List species by selecting a genus" style="margin: 4px 0;">
<!--                        <label for="otgen">&nbsp;Enter a genus to list species</label>-->
<!--                        </div>-->
                    </form>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:distribution' %}?app=other" style="text-align:center">Search Native Plant distribution</a>
                <br>
            </div>
                <br>
        </div>
<!--FUNGI-->
        <div class="card">
            <div class="card-header">
                <a href="{% url 'common:genera' 'fungi' %}?family={{family}}" style="text-align:center">
                    <h4>Fungi</h4></a>
            </div>
            <div style="margin: auto;">
                <br>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:taxonomy_app' 'fungi' %}?" style="text-align:center">Show taxonomy tree</a>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:newbrowse' 'fungi' %}?family={{family}}" style="text-align:center">Browse Fungi families</a>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:genera' 'fungi' %}?family={{family}}" style="text-align:center">List genera</a>
                <br>
                    <form class="rescontrol" id=fugenus action="{% url 'common:species' 'fungi' %}" style="display:inline-block;" >
<!--                        <div class="form-floating">-->
                        <input type="hidden" form="fugenus" name="family" value="{{family|default:''}}" >
                        <input type="hidden" form="fugenus" name="app" value="{{family.application|default:'fungi'}}" >
                        <input type="hidden" form="fugenus" name="from_path" value="{{from_path}}" >
                        <input class="form-control abtn" form="fugenus" id="fugen" name="genus" placeholder="List species by selecting a genus" style="margin: 4px 0;">
<!--                        <label for="fugen">&nbsp;Enter a genus to list species</label>-->
<!--                        </div>-->
                    </form>
                <a class="btn btn-xs custom-link border abtn" href="{% url 'common:distribution' %}?app=fungi" style="text-align:center">Search Fungi distribution</a>
                <br>
            </div>
                <br>
        </div>
<!--AVES-->
        <div class="card">
        <div class="card-header">
            <a href="{% url 'common:genera' 'aves' %}?family={{family}}" style="text-align:center">
                <h4>Aves</h4></a>
        </div>
        <div style="margin: auto;">
            <br>
            <a class="btn btn-xs custom-link border abtn" href="{% url 'common:taxonomy_app' 'aves' %}?" style="text-align:center">Show taxonomy tree</a>
            <a class="btn btn-xs custom-link border abtn" href="{% url 'common:newbrowse' 'aves' %}?family={{family}}" style="text-align:center">Browse Aves families</a>
            <a class="btn btn-xs custom-link border abtn" href="{% url 'common:genera' 'aves' %}?family={{family}}" style="text-align:center">List genera</a>
            <br>
                <form class="rescontrol" id=avgenus action="{% url 'common:species' 'aves' %}" style="display:inline-block;" >
<!--                        <div class="form-floating">-->
                    <input type="hidden" form="avgenus" name="family" value="{{family|default:''}}" >
                    <input type="hidden" form="avgenus" name="app" value="{{family.application|default:'fungi'}}" >
                    <input type="hidden" form="avgenus" name="from_path" value="{{from_path}}" >
                    <input class="form-control abtn" form="avgenus" id="avgen" name="genus" placeholder="List species by selecting a genus" style="margin: 4px 0;">
<!--                        <label for="fugen">&nbsp;Enter a genus to list species</label>-->
<!--                        </div>-->
                </form>
            <a class="btn btn-xs custom-link border abtn" href="{% url 'common:distribution' %}?app=aves" style="text-align:center">Native Aves distribution</a>
            <br>
        </div>
            <br>
    </div>
<!--ANIMALIA-->
        <div class="card">
        <div class="card-header">
            <a href="{% url 'common:genera' 'animalia' %}?family={{family}}" style="text-align:center">
                <h4>Animalia</h4></a>
        </div>
        <div style="margin: auto;">
            <br>
            <a class="btn btn-xs custom-link border abtn" href="{% url 'common:taxonomy_app' 'animalia'  %}?" style="text-align:center">Show taxonomy tree</a>
            <a class="btn btn-xs custom-link border abtn" href="{% url 'common:newbrowse' 'animalia'  %}?family={{family}}&genus={{genus}}" style="text-align:center">Browse Animalia families</a>
            <a class="btn btn-xs custom-link border abtn" href="{% url 'common:genera' 'animalia' %}?family={{family}}" style="text-align:center">List genera</a>
            <br>
                <form class="rescontrol" id=angenus action="{% url 'common:species' 'animalia' %}" style="display:inline-block;" >
<!--                        <div class="form-floating">-->
                    <input type="hidden" form="angenus" name="family" value="{{family|default:''}}" >
                    <input type="hidden" form="angenus" name="app" value="{{family.application|default:'fungi'}}" >
                    <input type="hidden" form="angenus" name="from_path" value="{{from_path}}" >
                    <input class="form-control abtn" form="angenus" id="angen" name="genus" placeholder="List species by selecting a genus" style="margin: 4px 0;">
<!--                        <label for="fugen">&nbsp;Enter a genus to list species</label>-->
<!--                        </div>-->
                </form>
            <a class="btn btn-xs custom-link border abtn" href="{% url 'common:distribution' %}?app=animalia" style="text-align:center">Search Animalia Distribution</a>
            <br>
        </div>
            <br>
    </div>

</div>

{% endblock %}