{% load static %}
{% include "base.html" %}
{% block body %}
{% load testtags %}
<style>
    .btn_result {
        font-size: 20px;
        color: #0a6aa1;
        font-weight: bold;
    }
</style>
<div style="min-height:200px;background-color:white;width: 100%;">
    <div style="clear:both"></div>
    <div class="row" style="width:100%; margin:0 auto;">
        <div class="col-xs-12 col-sm-3 col-lg-2" style="padding:0">
           {% include "common/taxonomy.html" %}
        </div>

        <div class="col-sm-9 col-lg-10" style="text-align:left;font-size:13px;margin-top:30px;">
            <div class="card-body"  style="width:100%; display:inline-block; padding-top:0;">
                <div style="padding:0; margin: 0">
                    <a class="btn btn-custom" href="{% url 'common:genera' %}?family={{family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}">Show genera</a>
                    {% if not genus or genus.num_hybrid > 0 %}
                        <a class="btn btn-custom m1" href="{% url 'common:species' %}?family={{family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}&genus={{genus}}&alpha={{alpha}}&syn=N">Show species</a>
                    {% endif %}
                    <a class="btn btn-custom" href="{% url 'common:browse' %}?family={{family}}&genus={{genus}}&display=checked">Browse</a>
                    {% if app == 'orchidaceae' %}<a class="btn btn-custom m1" href="{% url 'orchidaceae:species' %}?alpha=A">Full species list</a>{% endif %}
                </div>
                <br>
                <h6>Searching for "<i>{{spc_string}}</i>" in {% if family %}{{family.family}} Family {% else %}All {{app|title}} Families (other than Cactaceae, Orchidaceae and Bromeliaceae){% endif %}</h6>
                {% if genus_list or match_list or perfect_list %}
                    {% if genus_list %}
                    <br>
                    <table style="width:95%">
                        <tr>
                            <th width="85%">Genus</th>
                            <th>Family</th>
                        </tr>
                        <tr><td>Top {{ genus_total }} approximate matches found for genera</td></tr>
                        {% for genus in genus_list %}
                        <tr>
                            <td>
                                {% if not genus.0.num_hybrid or genus.0.num_species > 0 %}<a href="/common/species/?family={{genus.0.family}}&genus={{genus.0.genus}}"><i>{{genus.0.genus}}</i></a> {{genus.0.author|default:''}} {{genus.0.year|default:''}} {% if genus.0.status == 'synonym' %}(syn.){% endif %} {% if genus.0.type == 'hybrid' %} ({{genus.0.description|default:''}}) {% endif %}</a>
                                {% else %}<a href="/common/hybrid/?family={{genus.0.family}}&genus={{genus.0.genus}}"><i>{{genus.0.genus}}</i></a>  {{genus.0.author|default:''}} {{genus.0.year|default:''}} {% if genus.0.status == 'synonym' %}(syn.){% endif %} {% if genus.0.type == 'hybrid' %} ({{genus.0.description|default:''}}) {% endif %}
                                {% endif %}
                                species: {{genus.0.num_species|default:"0"}}
                                hybrid: {{genus.0.num_hybrid|default:"0"}}
                            </td>
                            <td>{{genus.0.family}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    <br>
                    <table width="95%">
                        <tr>
                            <th width="85%">species</th>
                            <th>Family</th>
                        </tr>

                    {% if match_list or perfect_list %}
                        {% if perfect_list %}
                            {% for x in perfect_list %}
                            <tr>
                                <td>
                                   {% if x.status == 'synonym' %}
                                      {{ x.binomial }}
                                   {% else %}
                                      <a href="/common/{{path}}/{{x.pid}}/?family={{x.family}}&species={{x.binomial}}">{{ x.binomial }}</a>
                                   {% endif %}
                                   {{x.author|default:''}}
                                   {% if x.status == 'synonym' %}
                                      (syn. <a href="/common/{{path}}/{{x.getAcc}}/?family={{x.family}}&species={{x.binomial}}">{{x.getAccepted.binomial}}</a>)
                                   {% endif %}
                                   {{x.num_image|default:''}} images
                                </td>
                                <td>{{x.family}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr><td>No match found for {{spc_string}}</td></tr>
                        {% endif %}
                        <tr><td><br></td></tr>
                        {% if match_list %}
                            <tr><td>{{ match_total}} other possibilities</td></tr>
                            {% for x in match_list %}
                            <tr>
                                <td>
                                   {% if x.status == 'synonym' %}
                                      {{ x.binomial }}
                                   {% else %}
                                      <a href="/common/{{path}}/{{x.pid}}/?family={{x.family}}&species={{x.binomial}}">{{ x.binomial }}</a>
                                   {% endif %}
                                   {{x.author|default:''}}
                                   {% if x.status == 'synonym' %}
                                      (syn. <a href="/common/{{path}}/{{x.getAcc}}/?family={{x.family}}&species={{x.binomial}}">{{x.getAccepted.binomial}}</a>)
                                   {% endif %}
                                   {{x.num_image|default:''}}
                                </td>
                                <td>{{x.family}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <tr><td>No smatching species found</td></tr>
                    {% endif %}
                    </table>
                {% else %}
                    {% if fuzzy_list %}
                        <br>
                        {{ fuzzy_total }} approximate matches retrieved</td></tr>
                            {% if match_list %}
                                fuzzy matches
                            {% endif %}
                        <table width="95%">
                            <tr>
                                <th width="85%">Species</th>
                                <th>Num. species</th>
                                <th>Family</th>
                            </tr>
                        {% for x in fuzzy_list %}
<!--                            <li>{{x.1}} - -->
                            <tr>
                                <td>
                                   {% if x.0.status == 'synonym' %}
                                      {{ x.0.binomial }}
                                   {% else %}
                                      <a href="/common/{{path}}/{{x.0.pid}}/?family={{x.0.family}}&species={{x.0.binomial}}">{{ x.0.binomial }}</a>
                                   {% endif %}
                                   {{x.0.author|default:''}}
                                   {% if x.0.status == 'synonym' %}
                                      (syn. <a href="/common/{{path}}/{{x.0.getAcc}}/?family={{x.0.family}}&species={{x.0.binomial}}">{{x.0.getAccepted.binomial}}</a>)
                                   {% else %}
                                      {{x.0.description|default:''}}
                                   {% endif %}
                                   {% if x.0.num_image %}
                                       ({{x.0.num_image}} images)
                                   {% endif %}

                                </td>
                                <td>{{x.0.family}}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        <br><b>
                        {% if not fuzzy %}
                            Your search returned no matches for
                            {{family.family|default:app}} families. Please try switch to another family or choose "All Other families" to expand the search to families other than Orchidaceae, Cactaceae and Bromeliaceae.
                             or click on the "Aproximate search" button for imprecise matching
                        {% else %}
                            Sorry, even imprecise search couldn't find close enough matches for your search criteria.  Please select a different family.
                        {% endif %}
                        </b><br>
                    {% endif %}
                    </table>
                {% endif %}
                {% if not fuzzy %}
                    <div style="padding: 0; margin-top: 20px;">
                        Didn't see what you are looking for?<br>
                        <a class="btn btn-custom" style="width: 150px;" href="{% url 'common:search_species' %}?family={{family}}&spc_string={{spc_string}}&role={{role}}&app={{app}}&fuzzy=1">Aproximate search</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}

</script>
{% endblock %}
