{% load static %}
{% load static %}
{% include "base.html" %}
{% block body %}
{% load testtags %}
<style>
    .btn_result {
        font-size: 20px;
        color: #0a6aa1;
        font-weight: bold;
    }
</style>
<div style="min-height:200px;background-color:white;width: 100%;">
    <div style="clear:both"></div>
    <div class="row" style="width:80%; margin:0 auto;">
        <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
            <div class="card-body"  style="width:100%; display:inline-block; padding-top:0;">
                <div style="padding:0; margin: 0">
                    <a class="btn btn-custom" href="{% url 'common:genera' %}?family={{family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}">Show genera</a>
                    {% if not genus or genus.num_hybrid > 0 %}
                        <a class="btn btn-custom m1" href="{% url 'common:species' %}?family={{family}}&subfamily={{subfamily}}&tribe={{tribe}}&subtribe={{subtribe}}&genus={{genus}}&alpha={{alpha}}&syn=N">Show species</a>
                    {% endif %}
                    <a class="btn btn-custom" href="{% url 'common:browse' %}?family={{family}}&genus={{genus}}&display=checked">Browse</a>
                    {% if app == 'orchidaceae' %}<a class="btn btn-custom m1" href="{% url 'orchidaceae:species' %}?family=Orchidaceae&alpha=A&syn=N">Full species list</a>{% endif %}
                </div>
                <br>
                <h5>Searching for "<i>{{spc_string}}</i>" species</h5>
                {% if genus_list %}
                        <table style="width:95%">
                            {% for genus in genus_list %}
                            <tr>
                                <td>&nbsp;&nbsp;</td>
                                <td>
                                    {% if not genus.0.num_hybrid or genus.0.num_species > 0 %}
                                        <a href="/common/species/?family={{genus.0.family}}&genus={{genus.0.genus}}"><i>{{genus.0.genus}}</i></a> {{genus.0.author|default:''}} {{genus.0.year|default:''}} {% if genus.0.status == 'synonym' %}(syn.){% endif %}
                                    {% else %}
                                        <a href="/common/hybrid/?family={{genus.0.family}}&genus={{genus.0.genus}}"><i>{{genus.0.genus}}</i></a>  {{genus.0.author|default:''}} {{genus.0.year|default:''}} {% if genus.0.status == 'synonym' %}(syn.){% endif %}
                                    {% endif %}
                                    {% if genus.0.family != family.family %}
                                        (<a href="{% url 'common:search_species' %}?family={{genus.0.family}}&spc_string={{spc_string}}&role={{role}}&app={{app}}">Search {{genus.0.family}} family</a>)
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                {% endif %}

                {% if match_spc_list %}
                <i>{{spc_string}}</i> species in BlueNanta
                        <table style="width:95%">
                            <tr><td>&nbsp;&nbsp;</td></tr>
                            {% for species in match_spc_list %}
                            <tr>
                                <td>&nbsp;&nbsp;</td>
                                <td><a href="/common/display/{{path}}/{{species.0.pid}}/?family={{species.0.family}}"><i>{{species.0.genus}}{%if species.o.type == 'species' %}} {{species.0.species}}</i>{% else %}</i> {{species.0.species}}{% endif %}
                                </a> {{species.0.author|default:''}} {{species.0.year|default:''}} {% if species.0.status == 'synonym' %}(syn.){% endif %}
                                    ({{species.0.family}})
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                {% endif %}

                {% if perfect_list %}
                    <table >
                        <tr>
                            <th >Matching species</th>
                            <th> num images</th>
                        </tr>
                        {% for x in perfect_list %}
                        <tr>
                            <td>
                                {% if x.status == 'synonym' and x.type == 'species' %}
                                    <i>{{ x.binomial }}</i>
                                {% elif x.status == 'synonym' %}
                                    {{ x.binomial }}
                                {% else %}
                                    <a href="/display/{{path}}/{{x.pid}}/?family={{x.gen.family}}&species={{x.binomial}}"><i>{{ x.binomial_it|safe }}</i></a>
                                {% endif %}
                                {{x.author|default:''}}
                                ({{x.gen.family}})
                                {% if x.status == 'synonym' %}
                                   (syn. <a href="/display/{{path}}/{{x.getAcc}}/?family={{x.gen.family}}&species={{x.binomial}}">{{x.getAccepted.binomial_it|safe}}</a>)
                                {% endif %}
                            </td>
                            <td style="text-align: center;">
                                {{x.num_image|default:''}}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                {% elif match_list %}
                    <table >
                        <tr><td>No match found. Here are some approximately matched species</td></tr>
                        {% for x in match_list %}
                        <tr>
                            <td>
                                <a href="/display/{{path}}/{{x.pid}}/?family={{x.gen.family}}&species={{x.binomial}}">{{ x.binomial_it|safe }}</a>
                                {{x.author|default:''}}
                                ({{x.gen.family}})
                                {% if x.status == 'synonym' %}
                                    (syn. <a href="/display/{{path}}/{{x.getAcc}}/?family={{x.gen.family}}&species={{x.binomial}}">{{x.getAccepted.binomial_it|safe}}</a>)
                               {% endif %}
                               {{x.num_image|default:''}}
                            </td>
                            <td>{{x.gen.family.num_image}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <table>
                        <tr><td>No match found.
                        </td></tr>
                    </table>
                {% endif %}
<!--                <div style="padding: 0; margin-top: 20px;">-->
<!--                    Don't see what you are looking for?<br>-->
<!--                    <a class="btn btn-custom" style="width: 150px;" href="{% url 'common:search_species' %}?family={{family}}&spc_string={{spc_string}}&role={{role}}&app={{app}}&fuzzy=1">Aproximate search</a>-->
<!--                </div>-->

                {% if fuzzy_list %}
                    <br>
                        {% if match_list %}
                            fuzzy matches
                        {% endif %}
                    <table style="width:95%">
                        <tr>
                            <th style="width: 70%">Approximate matching Species from {{family.family|default:'all families'}}</th>
                            <th>Num. images</th>
                        </tr>
                    {% for x in fuzzy_list %}
                        <tr>
                            <td>
                                {% if x.0.status != 'synonym' %}
                                    <a href="/display/{{path}}/{{x.0.pid}}/?family={{x.0.gen.family}}&species={{x.0.binomial}}">{{ x.0.binomial_it|safe }}</a>
                                    {{x.0.author|default:''}}
                                    {{x.0.year|default:''}}
                                    {{x.0.description|default:''}}
                                {% else %}
                                    {{ x.0.binomial_it|safe }}
                                    {{x.0.author|default:''}}
                                    {{x.0.year|default:''}}
                                    (syn. <a href="/display/{{path}}/{{x.0.getAcc}}/?family={{x.0.family}}&species={{x.0.binomial}}">{{x.0.getAccepted.binomial_it|safe}}</a>)
                                {% endif %}
                                ({{x.0.gen.family}})
                            </td>
                            <td>
                                {{x.0.num_image|default:''}}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <br><b>
                    {% if not fuzzy %}
                        Your search returned no matches for
                        {{family.family|default:app}} families. Please try switch to another family or choose "All Other families" to expand the search to families other than Orchidaceae, Cactaceae and Bromeliaceae.
                         or click on the "Aproximate search" button for imprecise matching
                    {% else %}
                        Sorry, even imprecise search couldn't find close enough matches for your search criteria.  Please try searching in a different family .
                    {% endif %}
                    </b><br>
                {% endif %}
                {% if not fuzzy %}
                    <div style="padding: 0; margin-top: 20px;">
                        Didn't see what you are looking for?<br>
                        <a class="btn btn-custom" style="width: 150px;" href="{% url 'common:search_species' %}?family={{family}}&spc_string={{spc_string}}&role={{role}}&app={{app}}&fuzzy=1">Aproximate search</a>
                    </div>
                {% endif %}
                <br>
                <div class="btn btn-custom" onclick="history.back()">
                    Go back
                </div>
            </div>
        </div>
    </div>
</div>
<script>

$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


</script>



{% endblock %}
