{% extends "base.html" %}
{% load static %}
<head>
    <link rel="canonical" href="{{ canonical_url }}">
    <title>List of {{family}} species</title>
    <meta name='description' content='Species of the genus {{genus}}'>
</head>
{% block body %}
<style>
    .form-inline .my-hidden { display: none; }
    .table {
        font-size: 14px;
    }
.thumbnails {
    object-fit: cover;
    overflow: hidden;
    height: 70px;
    width : 70px;
    margin:5px auto;
}
@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        font-size:12px;
    }
    .thumbnails {
       height: 80px;
       margin:5px auto;
    }
    td {
        border: 1px solid lightgrey;
        padding-left: 10px;
    }

}

</style>
<div style="min-height:200px;background-color:white;width: 100%;">
   <div style="clear:both"></div>
   <div class="row" style="width:98%; margin:0 auto;">
        <div class="col" style="text-align:left;margin-top:25px;">
<!--            If family is requested, then populate right section with genus list-->
<!--                Display list of genus in the family (subfamily/tribe or subtribe) -->
            <div class="card m-1">
                <div class="card-header border">
                    <h1 class="hidden-h1">List of species or hybrid of {{app}} category</h1>
                    <div class="card-title" style="margin-bottom: 0; color:green; font-size:24px;">
                        {% if type == 'species' %}
                            {{genus|title}} species:
                            {% if genus.genusstat.num_hybrid > 0 %}
                                <a class="btn btn-xs btn-primary p-1 m-1  border" href="{% url 'common:species' %}?role={{role}}&alpha={{alpha}}&genus={{genus}}&type=hybrid">Show Hybrids</a>
                            {% endif %}
                        {% else %}
                            {{genus|title}} hybrid:
                            {% if genus.genusstat.num_species > 0 %}
                                <a class="btn btn-xs btn-primary p-1 m-1  border" href="{% url 'common:species' %}?role={{role}}&alpha={{alpha}}&genus={{genus}}&type=species">Show Species</a>
                            {% endif %}
                        {% endif %}
                        {% if app != 'orchidaceae' %}
                            in the family
                            <form class="form-inline" id="family" action="?" style="display:inline-block; margin-top: 5px;">
                                <input type="hidden" form="family" name="type" value="{{type}}" >
                                <input class="searchbox border" form="family" value="{{genus.family|default:''}}" type="text" name="family"  pattern=".{3,}" placeholder="family" style="font-size: 16px;width:150px;text-align: center">
                            genus
                                <input class="searchbox border" form="family" value="{{genus|default:''}}" type="text" name="genus"  pattern=".{3,}" placeholder="genus" style="font-size: 16px;width:150px;text-align: center">
                                <button class="my-hidden" form="family" style="height:27px;margin:0;background-color: #1d6c6c; color:white">Submit</button>
                            </form>
                        {% else %}
                            Select genus
                            <form class="form-inline" id="genus" action="?" style="display:inline-block; margin-top: 5px;">
                                <input type="hidden" form="genus" name="type" value="{{type}}" >
                                <input class="searchbox border" form="genus" value="{{genus|default:''}}" type="text" name="genus"  pattern=".{3,}" placeholder="genus" style="font-size: 16px;width:150px;text-align: center">
                                <button class="my-hidden" form="genus" style="height:27px;margin:0;background-color: #1d6c6c; color:white">Submit</button>
                            </form>
                        {% endif %}
                        <br><span style="color: red;font-size: 13px;">{{msg|default:''}}</span>
                    </div>
                </div>

                <div class="card-body border-top"  style="display:inline-block; padding-top: 0;">
                    <a class="btn border btn-primary" style="height: 30px; font-size:13px;" href="{% url 'common:newbrowse' app %}?genus={{genus}}&type={{type}}">Browse images</a>
                    {% if type == 'species' %}
                        <a class="btn border btn-primary" style="height: 30px; font-size:13px;" href="{% url 'orchidaceae:species' %}?alpha={{alpha}}&role={{role}}">View more detail</a>
                    {% else %}
                        <a class="btn border btn-primary" style="height: 30px; font-size:13px;" href="{% url 'orchidaceae:hybrid' %}?alpha={{alpha}}&role={{role}}">View more detail</a>
                    {% endif %}
                    <form action="?" id="display" style="display:inline-block; margin-top: 5px;">
                        <input type="hidden" form="display" name="type" value="{{type}}" >
                        <input type="hidden" form="display" name="alpha" value="{{alpha}}" >
                        <input type="hidden" form="display" name="family" value="{{genus.family}}" >
                        <input type="hidden" form="display" name="genus" value="{{genus}}" >
                        <input type="checkbox" form="display" class="form-check-input" name="syn" value="Y" onchange="this.form.submit()" {% if syn == 'Y' %}checked{% endif %} style="margin-left:25px;"> <span style="margin-left:50px;font-size:13px;">Include synonyms</span>
                    </form>
                    <div style="clear:left">{% include "common/alpha_list_common.html" %}</div>
                        <!--main table-->
                    {% if species_list %}
                    <div>
                        <table id="sortTable" class="table table-condensed table-sm  table-bordered table-hover">
                                <thead>
                                    <tr style="background-color: #e3e3e3">
                                        <th>sample img</th>
                                        <th class="spc_column">Species</th>
                                        {% if app == 'orchidaceae' %}
                                            {% if type == 'hybrid' %}
                                                <th class="d-none d-md-table-cell">parents</th>
                                            {% else %}
                                                <th class="d-none d-md-table-cell">Regions</th>
                                            {% endif %}
                                        {% endif %}
                                        {% if app == 'aves' %}
                                            <th>Common Name</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                    {% for species in species_list %}
                                    <tr>
                                        <td>{% if species.speciesstat.best_image %}
                                            <img class="thumbnails" alt="{{species.speciesstat.best_image}}" src="{% static species.speciesstat.best_image %}">
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if species.status == 'synonym' %}
                                                {% if species.getAcc %}
                                                    <a href="/display/summary/{{app}}/{{species.pid}}/">{{species.binomial_it|safe}}</a>
                                                    (syn.)
                                                    {% if user.tier.tier > 3 %} {{species.getAcc}} {% endif %}
                                                {% else %}
                                                    {{species.binomial_it|safe}} (syn.)
                                                {% endif %}
                                                {% if species.year %} ({{species.year}}) {% endif %}
                                            {% else %}
                                                <a href="/display/summary/{{app}}/{{species.pid}}/">{{species.binomial_it|safe}}</a>
                                                {% if user.tier.tier > 3 %} {{species.pid}} {% endif %}
                                            {% endif %}
                                            {{species.author|default:""}}
                                            {% if species.year %}({{species.year}}){% endif %}
                                        </td>

                                        {% if app == 'orchidaceae' %}
                                            {% if species.type == 'hybrid' %}
                                                <td class="d-none d-md-table-cell">
                                                {% if species.status == 'synonym' %}
                                                    <span style="color:#918f8f">Accepted:</span> <a href="/display/summary/{{app}}/{{species.getAccepted.pid}}/">{{species.getAccepted.binomial_it|safe}}</a>
                                                {% elif species.type == 'hybrid' %}
                                                    {% if species.hybrid.seed_id.pid %}
                                                        <a href="{% url 'display:summary' app species.hybrid.seed_id.pid %}">{{species.hybrid.seed_id.name|default:'na'|safe}}</a>
                                                    {% else %}
                                                        na
                                                    {% endif %}
                                                    x
                                                    {% if species.hybrid.pollen_id.pid %}
                                                        <a href="{% url 'display:summary' app species.hybrid.pollen_id.pid %}">{{species.hybrid.pollen_id.name|default:'na'|safe}}</a>
                                                    {% else %}
                                                        na
                                                    {% endif %}
                                                {% endif %}
                                                </td>
                                            {% elif species.type == 'species' %}
                                                <td class="d-none d-md-table-cell">
                                                    {{species.accepted.distribution|default:''}}
                                                </td>
                                            {% endif %}
                                        {% endif %}

                                        {% if app == 'aves' %}
                                            <td>{% if species.common_name %}{{species.common_name}}{% endif %}</td>
                                        {% endif %}
<!--                                            <td style="text-align:center">{{species.speciesstat.num_image|default:""}}</td>-->
<!--                                            <td class="align-center d-none d-sm-block d-none d-sm-table-cell">{{genus.source}}</td>-->
                                    </tr>
                                    {% endfor %}
                            </table>
                    {% else %}
                        <br><br>No <i>{{genus}}</i> {{type}} {% if alpha %} begins with {{alpha}}{% endif %} found.
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
<br>
<br>
{% endblock %}

{% block extra-scripts %}

{% include "base-datatable.html" %}

<script>
$(document).ready(function() {
    var dataTable = $('#sortTable').dataTable({
        "pageLength": 50,
        "pagingType": "numbers",

        "LengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "order": [[1,'asc'],],
        "bPaginate": true,
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Filter species list'});//tips
        },
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            "paginate": {
                "first": "First",
                "last": "Last",
                "next": "Next",
                "previous": "Previous"
            }
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        }
    });

    var dataTable = $('#sortTable1').dataTable({
        "pageLength": 50,
        "pagingType": "numbers",

        "LengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "order": [[0,'asc'],],
        "bPaginate": true,
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Filter species list'});//tips
        },
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            "paginate": {
                "first": "First",
                "last": "Last",
                "next": "Next",
                "previous": "Previous"
            }
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        }
    });

});
</script>


{% endblock %}