{% load static %}
<head>
    <link rel="canonical" href="{{ canonical_url }}">
    <title>List of {{family}} species</title>
    <meta name='description' content='Species of the genus {{genus}}'>
</head>
{% include "base.html" %}
{% block body %}
<style>
    .form-inline .my-hidden { display: none; }
    .table {
        font-size: 14px;
    }

</style>
<div style="min-height:200px;background-color:white;width: 100%;">
   <div style="clear:both"></div>
   <div class="row" style="width:98%; margin:0 auto;">
        <div class="col" style="text-align:left;margin-top:25px;">
<!--            If family is requested, then populate right section with genus list-->
<!--                Display list of genus in the family (subfamily/tribe or subtribe) -->
                <div class="card m-1">
                    <div class="card-header border">
                        <h1 class="hidden-h1">List of species or hybrid of {{app}} category</h1>
                        <div class="card-title" style="margin-bottom: 0; color:green; font-size:24px;">
                            List of {{app|title}}
                               <form class="form-inline" id="type" action="?" style="display:inline-block; margin-top: 5px;">
                                    <input type="hidden" form="type" name="family" value="{{family}}" >
                                    <input type="hidden" form="type" name="genus" value="{{genus}}" >
                                    <input class="searchbox border" form="type" value="{{type}}" type="text"  onchange="this.form.submit()" name="type" placeholder="species or hybrid" style="font-size: 16px;width:150px;text-align: center">
                                </form>
                            {% if app != 'orchidaceae' %}
                                in the family
                                <form class="form-inline" id="family" action="?" style="display:inline-block; margin-top: 5px;">
                                    <input type="hidden" form="family" name="type" value="{{type}}" >
                                    <input class="searchbox border" form="family" value="{{family|default:''}}" type="text" name="family"  pattern=".{3,}" placeholder="family" style="font-size: 16px;width:150px;text-align: center">
                                genus
                                    <input class="searchbox border" form="family" value="{{genus|default:''}}" type="text" name="genus"  pattern=".{3,}" placeholder="genus" style="font-size: 16px;width:150px;text-align: center">
                                    <button class="my-hidden" form="family" style="height:27px;margin:0;background-color: #1d6c6c; color:white">Submit</button>
                                </form>
                            {% else %}
                                genus
                                <form class="form-inline" id="genus" action="?" style="display:inline-block; margin-top: 5px;">
                                    <input type="hidden" form="genus" name="type" value="{{type}}" >
                                    <input class="searchbox border" form="genus" value="{{genus|default:''}}" type="text" name="genus"  pattern=".{3,}" placeholder="genus" style="font-size: 16px;width:150px;text-align: center">
                                    <button class="my-hidden" form="genus" style="height:27px;margin:0;background-color: #1d6c6c; color:white">Submit</button>
                                </form>
                            {% endif %}
                            <br><span style="color: red;font-size: 13px;">{{msg|default:''}}</span>
                        </div>
                    </div>

                    <div class="card-body border-top"  style="display:inline-block; padding-top: 0;">
                        <a class="btn border btn-primary" style="height: 30px; font-size:13px;" href="{% url 'common:newbrowse' app %}?family={{family}}&genus={{genus}}&type={{type}}">Browse images</a>
                        {% if type == 'species' %}
                            <a class="btn border btn-primary" style="height: 30px; font-size:13px;" href="{% url 'orchidaceae:species' %}?alpha={{alpha}}&role={{role}}">View more detail</a>
                        {% else %}
                            <a class="btn border btn-primary" style="height: 30px; font-size:13px;" href="{% url 'orchidaceae:hybrid' %}?alpha={{alpha}}&role={{role}}">View more detail</a>
                        {% endif %}
                        <form action="?" id="display" style="display:inline-block; margin-top: 5px;">
                            <input type="hidden" form="display" name="type" value="{{type}}" >
                            <input type="hidden" form="display" name="family" value="{{family.family}}" >
                            <input type="hidden" form="display" name="genus" value="{{genus}}" >
                            <input type="checkbox" form="display" class="form-check-input" name="syn" value="Y" onchange="this.form.submit()" {% if syn == 'Y' %}checked{% endif %} style="margin-left:25px;"> <span style="margin-left:50px;font-size:13px;">Include synonyms</span>
                        </form>
                        <div style="clear:left">{% include "common/alpha_list_common.html" %}</div>
                            <!--main table-->
                        {% if species_list %}
                            <table id="sortTable" class="table table-condensed table-sm  table-bordered table-hover">
                                    <thead>
                                        <tr style="background-color: #e3e3e3">
                                            <th class="spc_column">Species</th>
                                            {% if app == 'orchidaceae' %}
                                                {% if type == 'hybrid' %}
                                                    <th class="d-none d-md-table-cell">parents</th>
                                                {% else %}
                                                    <th class="d-none d-md-table-cell">Classification</th>
                                                {% endif %}
                                            {% endif %}
                                            {% if app == 'aves' %}
                                                <th>Common Name</th>
                                            {% endif %}
                                            <th>#images</th>
                                        </tr>
                                    </thead>
                                        {% for species in species_list %}
                                        <tr>
                                            <td>
                                                {% if species.status == 'synonym' %}
                                                    {% if species.getAcc %}
                                                        <a href="/display/summary/{{app}}/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&related=ALL&syn=Y">{{species.binomial_it|safe}}</a>
                                                        (syn.)
                                                        {% if user.tier.tier > 3 %} {{species.getAcc}} {% endif %}
                                                    {% else %}
                                                        {{species.binomial_it|safe}} (syn.)
                                                    {% endif %}
                                                {% else %}
                                                    <a href="/display/summary/{{app}}/{{species.pid}}/?family={{species.gen.family}}&role={{role}}&related=ALL&syn=Y"><i>{{species.binomial_it|safe}}</i></a>
                                                    {% if user.tier.tier > 3 %} {{species.pid}} {% endif %}
                                                {% endif %}
                                                {{species.author|default:""}}
                                            </td>

                                            {% if app == 'orchidaceae' %}
                                                <td class="d-none d-md-table-cell">
                                                {% if species.status == 'synonym' %}
                                                    <span style="color:#918f8f">Accepted:</span> <a href="/display/summary/{{app}}/{{species.getAccepted.pid}}/?family={{species.gen.family}}"><i>{{species.getAccepted.binomial_it|safe}}</i></a>
                                                {% elif species.type == 'hybrid' %}
                                                    {% if species.hybrid.seed_id.pid %}
                                                        <a href="{% url 'display:summary' app species.hybrid.seed_id.pid %}?role={{role}}">{{species.hybrid.seed_id.name|default:'na'|safe}}</a>
                                                    {% else %}
                                                        na
                                                    {% endif %}
                                                    x
                                                    {% if species.hybrid.pollen_id.pid %}
                                                        <a href="{% url 'display:summary' app species.hybrid.pollen_id.pid %}?role={{role}}">{{species.hybrid.pollen_id.name|default:'na'|safe}}</a>
                                                    {% else %}
                                                        na
                                                    {% endif %}
                                                {% else %}
                                                    {% if species.accepted.subgenus %}
                                                       <a href="{% url 'common:species' app %}?role={{role}}&genus={{genus}}&subgenus={{species.accepted.subgenus}}&syn={{syn}}"><span style="color:#918f8f">subgenus:</span> {{species.accepted.subgenus|default:''}}</a>
                                                    {% endif %}
                                                    {% if species.accepted.section %}
                                                       <a href="{% url 'common:species' app %}?role={{role}}&genus={{genus}}&section={{species.accepted.section}}&syn={{syn}}"><span style="color:#918f8f">section:</span> {{species.accepted.section|default:''}}</a>
                                                    {% endif %}
                                                    {% if species.accepted.subsection %}
                                                       <a href="{% url 'common:species' app %}?role={{role}}&genus={{genus}}&subsection={{species.accepted.subsection}}&syn={{syn}}"><span style="color:#918f8f">subsection:</span> {{species.accepted.subsection|default:''}}</a>
                                                    {% endif %}
                                                    {% if species.accepted.series %}
                                                       <a href="{% url 'common:species' app %}?role={{role}}&genus={{genus}}&series={{species.accepted.series}}&syn={{syn}}"><span style="color:#918f8f">series:</span> {{species.accepted.series|default:''}}</a>
                                                    {% endif %}
                                                {% endif %}
                                                </td>
                                            {% endif %}
                                            {% if app == 'aves' %}
                                                <td>{% if species.accepted.common_name %}{{species.accepted.common_name}}{% endif %}</td>
                                            {% endif %}
                                            <td style="text-align:center">{{species.speciesstat.num_image|default:""}}</td>
<!--                                            <td class="align-center d-none d-sm-block d-none d-sm-table-cell">{{genus.source}}</td>-->
                                        </tr>
                                        {% endfor %}
                                </table>
                        {% else %}
                            <br><br>No <i>{{genus}}</i> {{type}} {% if alpha %} begins with {{alpha}}{% endif %} found.
                        {% endif %}

                    </div>
                </div>
        </div>
   </div>
</div>
<br>
<br>
{% endblock %}

{% block extra-scripts %}

{% include "base-datatable.html" %}

<script>
$(document).ready(function() {
    var dataTable = $('#sortTable').dataTable({
        "pageLength": 50,
        "pagingType": "numbers",

        "LengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "order": [[0,'asc'],],
        "bPaginate": true,
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Filter species list'});//tips
        },
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            "paginate": {
                "first": "First",
                "last": "Last",
                "next": "Next",
                "previous": "Previous"
            }
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        }
    });

    var dataTable = $('#sortTable1').dataTable({
        "pageLength": 50,
        "pagingType": "numbers",

        "LengthMenu": [[50,100,150,200,250,300,-1], [50,100,150,200,250,300,"All"]],
        "lengthChange": false,
        "order": [[0,'asc'],],
        "bPaginate": true,
 	    "fnPreDrawCallback": function( oSettings ) {
            $('.dataTables_filter input').attr({'name':'','placeholder': 'Filter species list'});//tips
        },
        "dom": "<'row'<'col-sm-4'f><'col-sm-4'i><'col-sm-4'p>>" + "<'row'<'col-sm-12'tr>>",
        language: {
            search: "_INPUT_",
            "sProcessing": "Processing...",
            "sZeroRecords": "No match results",
            "paginate": {
                "first": "First",
                "last": "Last",
                "next": "Next",
                "previous": "Previous"
            }
            // "sSearch": "Searching:",
            // searchPlaceholder: "Search this page"
        }
    });

});
</script>


{% endblock %}