<style>
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}
.indent {
  text-indent: 18px;
}

.nested {
  display: none;
    margin-left: 8px;
}

.active {
  display: block;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B7";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  content: "\25BD";
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}

a {
        text-decoration: none;
    /*color: blue;*/
}

a:hover {
    /*text-decoration: none;*/
    color: darkblue;
}

.fam a {
    color: #1697f8;
}
.subfam a {
    color: #114db7;
}
.tribe a {
    color: green;
}
.subtribe a {
    color: purple;
}


.taxtree {
    overflow-y:auto;
    height:1000px;
    margin: 10px 10px;
    padding: 10px 10px;
}
@media only screen and (max-width: 600px) {
    .taxtree {
        height: 300px;
        width: 100%;
    }
}

</style>
            <div class="dropdown taxtree border" style="width:100%">
                {% include "common/alpha_list_core.html" %}
                <ul id="myUL">
                    {% for fam in family_list %}
                        {% if forloop.counter == 1 %}<div class="indent">favorites</div>{% endif %}
                        {% if forloop.counter == 4 %}<li class="indent fam"><a class="fam" href="{% url 'common:genera' %}?family=other&spc_string={{spc_string}}&spckeyword={{spckeyword}}&display=checked">All other families</a></li><hr>{% endif %}

                        {% if fam.subfamily_set.all or fam.tribe_set.all %}
                        <li><span class="caret fam"><a href="{% url 'common:genera' %}?family={{fam.family}}{% if fam.family == 'Orchidaceae' %}&talpha=A{% endif %}&alpha={{alpha}}&spc_string={{spc_string}}&spckeyword={{spckeyword}}&display=checked" >{{fam.family}}</a></span>
                            <ul class="nested" style="color:#a20850">
                                {% if fam.subfamily_set.all %}
                                    {% for subfam in fam.subfamily_set.all %}
                                        {% if subfam.tribe_set.all %}
                                            <li><span class="caret subfam"><a href="{% url 'common:genera' %}?subfamily={{subfam.subfamily}}&family={{subfam.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked">{{subfam.subfamily}}</a></span>
                                            <ul class="nested" style="color:green">
                                                {% if subfam.tribe_set.all %}
                                                    {% for tribe in subfam.tribe_set.all %}
                                                        {% if tribe.subtribe_set.all %}
                                                        <li><span class="caret tribe"><a href="{% url 'common:genera' %}?tribe={{tribe.tribe}}&subfamily={{tribe.subfamily}}&family={{tribe.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked">{{tribe.tribe}}</a></span>
                                                            <ul class="nested" style="color:purple">
                                                               {% for subtribe in tribe.subtribe_set.all %}
                                                                    <li class="indent subtribe"><a href="{% url 'common:genera' %}?subtribe={{subtribe.subtribe}}&tribe={{subtribe.tribe}}&subfamily={{subtribe.subfamily}}&family={{subtribe.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked">{{subtribe.subtribe}}</a></li>
                                                               {% endfor %}

                                                            </ul>
                                                        </li>
                                                        {% else %}
                                                        <li class="indent tribe"><a href="{% url 'common:genera' %}?tribe={{tribe.tribe}}&subfamily={{tribe.subfamily}}&family={{tribe.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked">{{tribe.tribe}}</a></li>
                                                        {% endif %}
                                                   {% endfor %}
                                                {% else %}
                                                    <li class="indent tribe"><a href="{% url 'common:genera' %}?tribe={{tribe.tribe}}&subfamily={{tribe.subfamily}}&family={{tribe.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked">2 {{tribe.tribe}}</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% else %}
                                        <li class="indent subfam"><a href="{% url 'common:genera' %}?subfamily={{subfam.subfamily}}&family={{subfam.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked">{{subfam.subfamily}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% elif fam.tribe_set.all %}
                                    <li>
                                        <ul class="nested">
                                            <li><span class="caret tribe"><a href="{% url 'common:genera' %}?tribe={{tribe.tribe}}&subfamily={{tribe.subfamily}}&family={{tribe.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked">{{tribe.tribe}}</a></span>
                                                <ul class="nested">
                                                    {% for subtribe in tribe.subtribe_set.all %}
                                                        <li class="subtribe"><a href="{% url 'common:genera' %}?subtribe={{subtribe.subtribe}}&tribe={{subtribe.tribe}}&subfamily={{subtribe.subfamily}}&family={{subtribe.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked">{{subtribe.subtribe}}</a></li>
                                                   {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% else %}
                        <li class="indent fam"><a class="fam" href="?family={{fam.family}}&alpha={{alpha}}&spc_string={{spc_string}}&display=checked"  >{{fam.family}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

<script type="text/javascript">
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}


</script>

