{% load static %}
{% include "base.html" %}
{% block body %}

<style>
  table.center {
      width:80%;
      margin-left:auto;
      margin-right:auto;
      font-size:13px;
  }
</style>
<br><br><br>

<div style="margin:0 0 0 0; padding:5px 0 5px 0; text-align: center; border:0 solid grey">
    <div class="container" style="text-align:center;">
        <h4><b>Subfamilies of {{f}}</b></h4>
    </div>
</div>

 {% if subfamily_list %}
    <div>
        <table class="table table-bordered table-sm table-condensed table-hover center">
            <tr>
                <th>Subfamily </th><th>year</th><th># genus</th><th> Description</th>
            {% for subfamily in subfamily_list %}
            <tr>
                <td><a href="{% url 'orchidaceae:genera' %}?sf={{subfamily.subfamily}}&genustype=species">
                    <i>{{ subfamily.subfamily}}</i> {% if subfamily.author %}{{ subfamily.author }}{% endif %}</td>
                <td align=center>{% if subfamily.year %}{{subfamily.year}}{% endif %}</td>
                <td align="center">{% if subfamily.num_genus %}{{subfamily.num_genus}}{% endif %}</td>
                <td>{% if subfamily.description %}{{subfamily.description}}{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
     </div>
 {% else %}
     <p>None</p>
 {% endif %}	
{% endblock %}
