<!--Title-->
{% load custom_filters %}
<style>

  .form-inline {
    display: flex;
    align-items: center;
    justify-content: center; /* Center form horizontally */
    margin: 20px 0;
  }

  .searchbox {
    padding: 8px 12px; /* Padding inside the search box */
    border: 1px solid #ccc;
    border-right: none; /* Remove right border */
    border-radius: 4px 0 0 4px; /* Rounded corners for the left side */
    width: 300px; /* Width of the search box */
    font-size: 16px; /* Text size */
    transition: border-color 0.3s ease-in-out;
  }

  .searchbox:focus {
    border-color: #007bff; /* Change border color when focused */
    outline: none; /* Remove default outline */
  }
    .info {
        font-size: 16px;
        width: 90%;
        padding: 20px;
        margin: 0 auto;
        text-align: left;
    }

  .form-inline button {
    background-color: #007bff;
    border: none;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0; /* Rounded corners for the right side */
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  .form-inline button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  @media only screen and (max-width: 830px) {
      .info {
          font-size: 12px;

      }
  }
.info-collapse {
    text-align: left;
    padding-left: 15px;
    width: 200px;
}


</style>
<br>
        <div class="nav2 detail-title" style="text-align:center">
            <div>
                {% if app == 'aves' %}
                <form class="form-inline" id="displaysearch1" action="/search/search_name/aves/" style="margin-top: 5px;">
                    <input type="hidden" form="displaysearch1" name="role" value="{{ role }}">

                    <input class="searchbox" form="displaysearch1" value="{{search_string}}"
                           type="text" name="search_string"
                           placeholder="Search..." title="Include genus for better results"
                           style="border: 1px solid #ccc; border-right: 0; padding: 8px 12px; width: 300px; border-radius: 4px 0 0 4px;">

                    <button form="displaysearch1" type="submit" style="display:none;"></button>
                </form>
                {% else %}
                <form class="form-inline" id="displaysearch" action="/search/search/{{app|default:'orchidaceae'}}/" style="margin-top: 5px;">
                    <input type="hidden" form="displaysearch" name="role" value="{{ role }}">

                    <input class="searchbox" form="displaysearch" value="{{search_string}}"
                           type="text" name="search_string"
                           placeholder="Search..." title="Include genus for better results"
                           style="border: 1px solid #ccc; border-right: 0; padding: 8px 12px; width: 300px; border-radius: 4px 0 0 4px;">

                    <button form="displaysearch" type="submit" style="display:none;"></button>
                </form>
                {% endif %}

            </div>
            {% if species.status == 'synonym' %}
            <h1 class="hidden-h1">{{species.binomial}} (synonym of {{species.getAccepted.name|safe}})</h1>
            {% elif species.type == 'hybrid' %}
            <h1 class="hidden-h1">{{species.binomial}} ({{species.hybrid.registered_seed_name_long|default:'na'|safe}} × {{species.hybrid.registered_pollen_name_long|default:'na'|safe}})</h1>
            {% else %}
            <h1 class="hidden-h1">{{species.common_name|default:''}} ({{species.binomial}})</h1>
            {% endif %}
            <h4>
                {% if species.type == 'species' or species.is_hybrid %}<i>{{species.binomial}}</i>{% else %}{{species.binomial}}{% endif %},
                {{species.author|default:""}} {{species.year|default:''}}
                {% if species.sourceurl != None %}
                <a href="{{species.sourceurl}}" target="_blank"><normal>({{species.source}})</normal></a>
                {% else %}
                ({{species.source}})
                {% endif %}
            {% if user.tier.tier > 2 %}
                <a type="button" class="btn btn-primary"  href="{% url 'common:refresh' species.pid %}?tribe={{species.gen.tribe}}&role={{role}}">refresh</a>
            {%  endif %}
            </h4>
            <div class="info">
                {% if species.type == 'species' %}
                    {{species.binomial}} is a species in the <a href="{% url 'common:species' app %}?genus={{species.genus}}&type={{species.type}}&alpha={{species.species|firstletter|upper}}">{{ species.genus }}</a> genus.
                    {% if species.common_name %}
                        It is commonly known as <b>{{species.common_name}}</b>
                    {% endif %}
                    {% if species.status == 'synonym' %}
                        This name is a synonym of <a href="{% url 'display:summary' app species.getAcc %}?role={{role}}&syn=Y">{{species.getAccepted.name|safe}}</a>
                    {% else %}
                        This name is {{species.status}} name for the {{species.type}} in
                        the family <a href="{% url 'common:newbrowse' app %}?family={{species.gen.family}}">{{species.gen.family}}</a>
                        {% if species.gen.subfamily %}
                            subfamily <a href="{% url 'common:genera' app %}?subfamily={{species.gen.subfamily}}&role={{role}}">{{species.gen.subfamily}}</a>,
                        {% endif %}
                        {% if species.gen.tribe %}
                            tribe <a href="{% url 'common:genera' app %}?tribe={{species.gen.tribe}}&role={{role}}">{{species.gen.tribe}}</a>,
                        {% endif %}
                        {% if species.gen.subtribe %}
                            subtribe <a href="{% url 'common:genera' app %}?subtribe={{species.gen.subtribe}}&role={{role}}">{{species.gen.subtribe}}</a>,
                        {% endif %}
{#                        {% if species.accepted.subgenus or species.accepted.section or species.accepted.subsection or species.accepted.series %}#}
{#                            It is in the#}
{#                            {% if species.accepted.subgenus %}#}
{#                                subgenus <a href="{% url 'orchidaceae:species' %}?genus={{species.genus}}&role={{role}}&subgenus={{species.accepted.subgenus}}&alpha=All">{{species.accepted.subgenus}}</a>#}
{#                            {% endif %}#}
{#                            {% if species.accepted.section %}#}
{#                                section: <a href="{% url 'orchidaceae:species' %}?genus={{species.genus}}&role={{role}}&section={{species.accepted.section}}&alpha=All">{{species.accepted.section}}</a>#}
{#                            {% endif %}#}
{#                            {% if species.accepted.subsection %}#}
{#                                subsection: <a href="{% url 'orchidaceae:species' %}?genus={{species.genus}}&role={{role}}&subsection={{species.accepted.subsection}}&alpha=All">{{species.accepted.subsection}}</a>#}
{#                            {% endif %}#}
{#                            {% if species.accepted.series %}#}
{#                                series: <a href="{% url 'orchidaceae:species' %}?genus={{species.genus}}&role={{role}}&series={{species.accepted.series}}&alpha=All">{{species.accepted.series}}</a>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
                        {% if species.accepted.distribution %}. This species is found in {{species.accepted.distribution }}.{% endif %}
                    {% endif %}
                {% else %}
                    This orchid is a
                    <a href="{% url 'common:species' app %}?genus={{species.genus}}&type={{species.type}}&alpha={{species.species|firstletter|upper}}">{{species.genus}}</a> hybrid
                    {% if species.common_name %}
                        commonly known as <b>{{species.common_name}}.</b>
                    {% endif %}
                    {% if species.status == 'synonym' %}
                        It is a synonym of <a href="{% url 'display:summary' app species.getAcc %}?role={{role}}">{{species.getAccepted.name|safe}}.</a>
                    {% else %}
                        {% if species.source == 'RHS' %}registered with the RHS.

                            {% if species.originator == 'na' or species.originator == '' %} Its originator is unknown.{% elif species.originator != species.author %} It is originated by {{species.originator}}{% endif %}
                        {% elif  species.source == 'INT' %}.
                            This orchid hybrid lacks official registration. The name is an internal designation created within the orchidroots system.
                        {% endif %}
                        {% if app == 'orchidaceae' and species.status != 'synonym' %}
                        The key influencing species of this hybrid are
                            {% for item in ancspc_list|slice:":3" %}
                                {{item.aid.binomial}} ({{item.pct|floatformat:2 }}%
                                {% if item.aid.accepted.subgenus %}
                                subgenus <a href="{% url 'orchidaceae:species' %}?genus={{item.aid.genus}}&role={{role}}&subgenus={{item.aid.accepted.subgenus}}&alpha=All">{{item.aid.accepted.subgenus}}</a>
                                {% endif %}
                                {% if item.aid.accepted.section %}
                                section: <a href="{% url 'orchidaceae:species' %}?genus={{item.aid.genus}}&role={{role}}&section={{item.aid.accepted.section}}&alpha=All">{{item.aid.accepted.section}}</a>
                                {% endif %}
                                {% if item.aid.accepted.subsection %}
                                subsection: <a href="{% url 'orchidaceae:species' %}?genus={{item.aid.genus}}&role={{role}}&subsection={{item.aid.accepted.subsection}}&alpha=All">{{item.aid.accepted.subsection}}</a>
                                {% endif %}
                                {% if item.aid.accepted.series %}
                                series: <a href="{% url 'orchidaceae:species' %}?genus={{item.aid.genus}}&role={{role}}&series={{item.aid.accepted.series}}&alpha=All">{{item.aid.accepted.series}}</a>
                                {% endif %}
                                )
                            {% empty %}
                                No items in the list.
                            {% endfor %}

                    {% endif %}
                    {% endif %}
                {% if species.hybrid.comment %}<br><b>NOTE:</b> {{species.hybrid.comment}} {% endif %}

                {% endif %}
                {% if species.comment %}
                <div id="shrinkMe" class="shrinkable" style="margin: 0 auto; text-align: left;">
                    {{species.comment|truncatewords_html:50|safe}}
                </div>
                {% endif %}

                <br>
            </div>
        </div>

<script>
function showMore(id){
    document.getElementById(id+'Overflow').className='';
    document.getElementById(id+'MoreLink').className='hidden';
    document.getElementById(id+'LessLink').className='';
}

function showLess(id){
    document.getElementById(id+'Overflow').className='hidden';
    document.getElementById(id+'MoreLink').className='';
    document.getElementById(id+'LessLink').className='hidden';
}

var len = 200;
var shrinkables = document.getElementsByClassName('shrinkable');
if (shrinkables.length > 0) {
    for (var i = 0; i < shrinkables.length; i++){
        var fullText = shrinkables[i].innerHTML;
        if(fullText.length > len){
            var trunc = fullText.substring(0, len).replace(/\w+$/, '');
            var remainder = "";
            var id = shrinkables[i].id;
            remainder = fullText.substring(len, fullText.length);
            shrinkables[i].innerHTML = '<span>' + trunc + '<span class="hidden" id="' + id + 'Overflow">'+ remainder +'</span></span>&nbsp;<a id="' + id + 'MoreLink" href="#!" onclick="showMore(\''+ id + '\');">... More</a><a class="hidden" href="#!" id="' + id + 'LessLink" onclick="showLess(\''+ id + '\');">Less</a>';
        }
    }
}
</script>