<!--Title-->

<style>
.nav2 {
    font-size: 13px;
}
   h1 {
        font-size: 24px;
    }

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 18px;

    }
    .nav2 {
        font-size: 11px;
        font-weight: bold;
        /*height: 20px;*/
        /*margin-bottom:30px;*/
    }
}
.btn-custom {
    width: 120px;
}
.btn-current {
    background-color: blue;
    color: white;
}
.hidden {
    display: none;
}
.adcaption {
    font-size: 12px;
    text-align: left;
    height:70px;
    /*overflow: hidden;*/
}

.sponsorimg {
    width: 100%;
    height: 150px;
    border: 1px solid blue
}
</style>
<br>
    <div class="row">
        <div class="col">
            <div class="nav2 detail-title" style="text-align:center">
                <h1 style="display:none">{{species.genus}} {{species.species}}</h1>
                <h1>

<!--                    <a href="{% url 'common:genera' %}?family={{species.gen.family}}&role={{role}}"><i>{{species.gen.family}}</i></a>:-->
                            <a href="{% url 'common:newbrowse' %}?app={{family.application}}&family={{species.gen.family}}&genus={{species.genus}}&role={{role}}&display=checked"><i>{{species.genus}}</i></a>
                    {% if species.type == 'species' or species.is_hybrid %}<i>{{species.get_species}}</i>{% else %}{{species.get_species}}{% endif %} {{species.author|default:""}}
                    {% if species.year %}{{species.year}}{% endif %}
                    {% if species.sourceurl != None %}
                        <a href="{{species.sourceurl}}" target="_blank"><normal>({{species.source}})</normal></a>
                    {% else %}
                        ({{species.source}})
                    {% endif %}
                    </h1>
                {% if species.status == 'synonym' %}
                    syn. <a href="{% url 'display:photos' species.getAcc %}?family={{species.gen.family}}&role={{role}}">{{species.getAccepted.name|safe}}</a>
                    <br>
                {% endif %}
                {% if species.type == 'hybrid' and species.status != 'synonym' %}
                    {% if species.hybrid.seed_id.pid %}
                        {{species.hybrid.registered_seed_name_long|safe}}</a>
                    {% else %}
                        na
                    {% endif %}
                    ×
                    {% if species.hybrid.pollen_id.pid %}
                        {{species.hybrid.registered_pollen_name_long|safe}}</a>
                    {% else %}
                        na
                    {% endif %}
                    <br>
                {% endif %}
                {% if species.accepted.common_name %}
                    <h5>{{species.accepted.common_name}}</h5>
                {% endif %}
                {% if species.accepted.comment %}
                    <div id="shrinkMe" class="shrinkable" style="width: 70%; margin: 0 auto; text-align: left;">
                        {{species.accepted.comment|safe}}
                    </div>
                {% endif %}
                <br>
                {% if species.pid %}
                    {% if user.tier.tier > 2 %}
                         <a class="btn btn-custom {% if role == 'pub' %}btn-current{% endif %}" href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pub">Public</a>
                         <a class="btn btn-custom {% if role == 'pri' %}btn-current{% endif %}" href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pri">Private</a>
                         <a class="btn btn-custom {% if role == 'cur' %}btn-current{% endif %}" href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=cur">Curate</a>
                    {% elif user.tier.tier > 1 %}
                         <a class="btn btn-custom {% if role == 'pub' %}btn-current{% endif %}" href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pub">Public</a>
                         <a class="btn btn-custom {% if role == 'pri' %}btn-current{% endif %}" href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pri">Private</a>
                    {% else %}
                         <a class="btn btn-custom {% if role == 'pub' %}btn-current{% endif %}" href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pub">Public</a>

                    {% endif %}
<!--                    {% if family.family == 'Orchidaceae' %}-->
<!--                        <br>-->
<!--                        <h7 style="color: red;text-align: center">To upload a {{species.name|safe}} photo, click here <a href="https://orchidroots.com/detail/photos/{{species.pid}}/?family=Orchidaceae&role=pri">OrchidRoots</a></h7>-->
<!--                    {% endif %}-->
                {% endif %}
            </div>
        </div>

        {% if sponsor %}
        <div class="col d-none d-md-block" style="max-width:20%">
            <div style="width:150px; height:150px; border: 1px solid white">
                <div class="imgtitle"><span style="font-size:15px;"><a href="{% url 'documents:sponsor' %}">ADVERTISEMENT</a></span></div>
                <a href="{{sponsor.sponsor_url}}" target="_blank">
                    <div  class="sponsorimg">
                         <img alt="Sample advertisement" class="img-fluid" src="/static/{{sponsor.image_file_path}}{{sponsor.image_file}}">
                   </div>
                </a>
                <div class="adcaption">
                    <a href="{{sponsor.sponsor_url}}" target="_blank">
                        {{sponsor.title}}
                    </a>

                </div>
            </div>
        </div>
    {% endif %}
</div>
<br>
<div style="clear:left;"></div>

<script>
function showMore(id){
    document.getElementById(id+'Overflow').className='';
    document.getElementById(id+'MoreLink').className='hidden';
    document.getElementById(id+'LessLink').className='';
}

function showLess(id){
    document.getElementById(id+'Overflow').className='hidden';
    document.getElementById(id+'MoreLink').className='';
    document.getElementById(id+'LessLink').className='hidden';
}

var len = 200;
var shrinkables = document.getElementsByClassName('shrinkable');
if (shrinkables.length > 0) {
    for (var i = 0; i < shrinkables.length; i++){
        var fullText = shrinkables[i].innerHTML;
        if(fullText.length > len){
            var trunc = fullText.substring(0, len).replace(/\w+$/, '');
            var remainder = "";
            var id = shrinkables[i].id;
            remainder = fullText.substring(len, fullText.length);
            shrinkables[i].innerHTML = '<span>' + trunc + '<span class="hidden" id="' + id + 'Overflow">'+ remainder +'</span></span>&nbsp;<a id="' + id + 'MoreLink" href="#!" onclick="showMore(\''+ id + '\');">... More</a><a class="hidden" href="#!" id="' + id + 'LessLink" onclick="showLess(\''+ id + '\');">Less</a>';
        }
    }
}
</script>