<!--Title-->

<style>
.nav2 {
    font-size: 13px;
}
   h1 {
        font-size: 24px;
    }

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 18px;

    }
    .nav2 {
        font-size: 11px;
        font-weight: bold;
        /*height: 20px;*/
        /*margin-bottom:30px;*/
    }
}
.btn-custom {
    width: 120px;
}
.btn-current {
    background-color: blue;
    color: white;
}
.hidden {
    display: none;
}
</style>
<br>
        {% if title != 'curate_newupload' and title != 'curate_pending' and title != 'myphoto_browse' %}
            <div class="nav2 detail-title" style="text-align:center">
                <h1 style="display:none">{{species.genus}} {{species.species}}</h1>
                <h1>

<!--                    <a href="{% url 'common:genera' %}?family={{species.gen.family}}&role={{role}}"><i>{{species.gen.family}}</i></a>:-->
                    {% if species.type == 'hybrid' %}
                        {% if family.family == 'Orichidaceae' %}
                            <a href="{% url 'common:browse' %}?family={{species.gen.family}}&genus={{species.genus}}&role={{role}}&display=checked"><i>{{species.genus}}</i></a>
                        {% else %}
                            <a href="{% url 'common:browse' %}?family={{species.gen.family}}&genus={{species.genus}}&role={{role}}&syn=N&display=checked"><i>{{species.genus}}</i></a>
                        {% endif %}
                    {% else %}
                        {% if family.family == 'Orichidaceae' %}
                            <a href="{% url 'common:browse' %}?family={{species.gen.family}}&genus={{species.genus}}&role={{role}}&display=checked"><i>{{species.genus}}</i></a>
                        {% else %}
                            <a href="{% url 'common:browse' %}?family={{species.gen.family}}&genus={{species.genus}}&role={{role}}&syn=N&display=checked"><i>{{species.genus}}</i></a>
                        {% endif %}
                    {% endif %}
                    {% if species.type == 'species' or species.is_hybrid %}<i>{{species.get_species}}</i>{% else %}{{species.get_species}}{% endif %} {{species.author|default:""}}
                    {% if species.year %}{{species.year}}{% endif %}
                    {% if species.sourceurl != None %}
                        <a href="{{species.sourceurl}}" target="_blank"><normal>({{species.source}})</normal></a>
                    {% else %}
                        ({{species.source}})
                    {% endif %}
                    </h1>
                {% if species.type == 'hybrid' %}
                    {% if species.hybrid.seed_id.pid %}
                        {{species.hybrid.registered_seed_name_long|safe}}</a>
                    {% else %}
                        na
                    {% endif %}
                    ×
                    {% if species.hybrid.pollen_id.pid %}
                        {{species.hybrid.registered_pollen_name_long|safe}}</a>
                    {% else %}
                        na
                    {% endif %}
                    <br>
                {% endif %}
                {% if species.accepted.common_name %}
                    <h6>Common names: {{species.accepted.common_name}}</h6>
                {% endif %}
                {% if species.accepted.comment %}
                    <div id="shrinkMe" class="shrinkable" style="width: 70%; margin: 0 auto; text-align: left;">
                        {{species.accepted.comment|safe}}
                    </div>
                {% endif %}
                <br>

                    {% if user.tier.tier > 2 %}
                         <a class="btn btn-custom {% if role == 'pub' %}btn-current{% endif %}" href="{% url 'display:information' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pub">Public</a>
                         <a class="btn btn-custom {% if role == 'pri' %}btn-current{% endif %}" href="{% url 'common:myphoto' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pri">Private</a>
                         <a class="btn btn-custom {% if role == 'cur' %}btn-current{% endif %}" href="{% url 'display:photos' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=cur">Curate</a>
                    {% elif user.tier.tier > 1 %}
                         <a class="btn btn-custom {% if role == 'pub' %}btn-current{% endif %}" href="{% url 'display:information' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pub">Public</a>
                         <a class="btn btn-custom {% if role == 'pri' %}btn-current{% endif %}" href="{% url 'common:myphoto' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pri">Private</a>
                    {% else %}
                         <a class="btn btn-custom {% if role == 'pub' %}btn-current{% endif %}" href="{% url 'display:information' species.pid %}?family={{species.gen.family}}&genus={{genus}}&role=pub">Public</a>

                    {% endif %}
<!--                    {% if family.family == 'Orchidaceae' %}-->
<!--                        <br>-->
<!--                        <h7 style="color: red;text-align: center">To upload a {{species.name|safe}} photo, click here <a href="https://orchidroots.com/detail/photos/{{species.pid}}/?family=Orchidaceae&role=pri">OrchidRoots</a></h7>-->
<!--                    {% endif %}-->
               </div>
                <br>
            </div>
        {% endif %}
        <div style="clear:left;"></div>

<script>
function showMore(id){
    document.getElementById(id+'Overflow').className='';
    document.getElementById(id+'MoreLink').className='hidden';
    document.getElementById(id+'LessLink').className='';
}

function showLess(id){
    document.getElementById(id+'Overflow').className='hidden';
    document.getElementById(id+'MoreLink').className='';
    document.getElementById(id+'LessLink').className='hidden';
}

var len = 200;
var shrinkables = document.getElementsByClassName('shrinkable');
if (shrinkables.length > 0) {
    for (var i = 0; i < shrinkables.length; i++){
        var fullText = shrinkables[i].innerHTML;
        if(fullText.length > len){
            var trunc = fullText.substring(0, len).replace(/\w+$/, '');
            var remainder = "";
            var id = shrinkables[i].id;
            remainder = fullText.substring(len, fullText.length);
            shrinkables[i].innerHTML = '<span>' + trunc + '<span class="hidden" id="' + id + 'Overflow">'+ remainder +'</span></span>&nbsp;<a id="' + id + 'MoreLink" href="#!" onclick="showMore(\''+ id + '\');">... More</a><a class="hidden" href="#!" id="' + id + 'LessLink" onclick="showLess(\''+ id + '\');">Less</a>';
        }
    }
}
</script>