{% load static %}
{% include "base.html" %}
{% block body %}
<style>

.imageitem {
    display:inline-block;
    border:1px solid red;
    margin:10px 20px;
    width : 18vw;
    background-color: #f7f7f7;
    border:1px solid lightgrey;
    text-align:center;
}

.aditem {
    /*border:3px solid lightgreen;*/
    background-color: #f7f7f7;
}
.box {
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    margin: 5px auto;
    width:100%;
}
        /*Display square image*/
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 16vw;
   width : 16vw;
   padding:2px;
    margin:0 auto;
}

.imgcaption {
    font-size: 12px;
    height:60px;
    text-align: left;
    padding:0 10px;
    width: 100%;
    color: #0a6aa1;
}

.imgtitle {
    font-size: 18px;
    font-weight: bold;
    height:40px;
    text-align: center;
    padding-top:5px;
    background-color:#eee;
    color: #0a6aa1;
    /*overflow: hidden;*/
}


div.text-br {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.box {
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    margin: 4px;
    font-size:12px;
}



@media only screen and (max-width: 800px){
   .imageitem {
        width: 30vw;
        /*height : 250px;*/
    }
    .imgcaption {
        font-size: 12px;
    }
   .box {
        /*width: 35vw;*/
        font-size: 10px;
        margin-left:-3px;
    }
    .thumbnails {
       height: 190px !important;
       width : 95% !important;
    }

    div.text {
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px){
    .imageitem {
        width: 36vw;
    }
    .box {
        width: 35vw;
        font-size: 10px;
        margin-left:-3px;
    }
    .thumbnails {
       height: 110px !important;
       width : 95% !important;
    }

    .imgcaption {
       width : 34vw;
        font-size: 11px;
        height: 59px;
    }
    div.text {
        font-size: 10px;
    }
}


img{
    width:100%;
}


/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
    ul{
        padding-left:15px;
        font-size: 13px;
        padding-left:10px;
        line-height: 30px;
        list-style-type:none;
    }


</style>

<div class="container-fluid">
            <div class="card mt-3">
                <div class="card-body" style="font-size:15px">
                    <h6 class="card-title d-inline-block">Welcome! to OrchidRoots</h6>
                    <div class="d-inline-block p-1" style="font-size:16px">
                        We at OrchidRoots are committed to serving you for many years to come.
                        To make this possible, we are asking for your support.
                        You can explore orchids and other life forms on orchidroots.com.
                        Any amount you are able to contribute would be greatly appreciated.
                        <a class="btn btn-primary border" style="width: 120px;" href="{% url 'donation:donateapp' %}">Donate</a>
                        <a class="btn btn-primary border" href="{% url 'documents:list' %}">Documents</a>

                    <br>
                    </div>
                    <br><br>
                    <div class="d-flex justify-content-center">
                        <h5>Orchids</h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <form action="/search/search_binomial/">
                           <input value="{{search_string}}" type="text" name="query" pattern=".{3,}" size="50" placeholder="Search Orchids" height="10px">
                           <input type="hidden" name="app" value="orchidaceae" >
                           <input type="hidden" name="role" value="{{ role }}" >
                        </form>
                    </div>
                    {% for image in orcimage %}
                        <div class="imageitem">
                            <div class="imgtitle">
                                <a href="{% url 'common:newbrowse' %}?app={{image.pid.gen.family.application}}&family={{image.gen.family}}&role={{role}}&display=checked">{{image.pid.genus}}</a></div>
                                <a href="{% url 'display:information' image.pid_id %}?family={{image.gen.family}}&role={{role}}&display=checked">
                                <div class="box">
                                    <img class="thumbnails" alt="{{image.pid.pid.textname}}" src="{% static image.image_dir %}{{image.image_file}}">
                                </div>
                                </a>
                            <div class="imgcaption">
                                <a href="{% url 'display:information' image.pid_id %}?family={{image.gen.family}}&role={{role}}">
                                    {{image.pid.name|safe}} {% if cacfamily.application == 'other' %}({{image.gen.family}}){% endif %}
                                </a>
                                <br><a href="{{image.source_url}}" target="_blank" >{{image.get_displayname}},</a>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                    <br>
                    <div class="d-flex justify-content-center">
                        <h5>Other Families <span style="color:blue;"><b>(NEW!)</b></span></h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <form action="/search/search_name/">
                            <input type="hidden" name="selected_app" value="{{ selected_app }}">
                            <input value="{{commonname}}" type="text" name="commonname"  pattern=".{3,}" size="30" placeholder="common name" height="10px">
                        </form>
                        &nbsp;
                        &nbsp;
                        <form action="/search/search/">
                            <input type="hidden" form="search" name="app" value="{% if app %}{{app}}{% else %}{{ family.application }}{% endif %}" >
                            <input type="hidden" form="search" name="role" value="{{ role }}" >
                            <input value="{{search_string}}" type="text" name="search_string"  pattern=".{3,}" size="30" placeholder="scientific name" height="10px">
                        </form>
                    </div>
                    {% for othimage in all_list %}
                        {% if othimage.1 %}
                        <div class="imageitem">
                            <div class="imgtitle"><a href="{% url 'common:newbrowse' %}?app={{othimage.1.pid.gen.family.application}}&family={{othimage.1.gen.family}}&role={{role}}&display=checked">{{othimage.1.pid.gen.family}}</a></div>
                                <a href="{% url 'common:newbrowse' %}?app={{othimage.1.pid.gen.family.application}}&role={{role}}&display=checked">
                                <div class="box">
                                    <img class="thumbnails" alt="{{othimage.1.pid.pid.textname}}" src="{% static othimage.1.image_dir %}{{othimage.1.image_file}}">
                                </div>
                                </a>
                            <div class="imgcaption">
                                <a href="{% url 'display:information' othimage.1.pid_id %}?family={{othimage.1.gen.family}}&role={{role}}">
                                    {{othimage.1.pid.name|safe}} {% if cacfamily.application == 'other' %}({{othimage.1.gen.family}}){% endif %}
                                </a>
                                <br><a href="{{othimage.1.source_url}}" target="_blank" >{{othimage.1.get_displayname}},</a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
<!--                <div class="card-body" style="text-align: left;font-size: 13px;">-->
<!--                   <p>-->
<!--                       You are invited to submit an advertisement about your plant related business, a meeting announcement,-->
<!--                    or anything else related to plants that you want the world to know about.  See the example above.-->
<!--                   </p>-->
<!--                    <p>-->
<!--                    To submit your ad, email the following information to admin@bluenanta.com:-->
<!--    -->
<!--                    The name of your business, Title, Brief description, your orchidroots account name,-->
<!--                    a jpg file (see example in the home page above), url of your website,-->
<!--                    Brief address (country, state, city), Type of plants involved (genus, general, cactus, etc.),-->
<!--                    start and end date (or indefinitely).-->
<!--                    </p>-->
<!--                    This ad is currently free. However, we encourage advertisers to donate to orchidRoots to support our work.-->
<!--                </div>-->

               </div>
            </div>
            <br>
</div> <!--Summary-->


<script type="text/javascript">

</script>





{% endblock %}
