{% load static %}
{% include "base.html" %}
{% block body %}

<style>
.custom-select{
    /*margin-right:200px;*/
    /*background-color: #f9f9f9;*/
    color: #100d0d;
    width:200px;
    /*height:50px;*/
    font-size:13px;
    background: none;
}

.select-p2 {
    font-size: 13px;
    color: white;
}
.card {
    background-color: white;
}

.custom-select:hover {
    text-decoration: none;
    /*background-color: #8887bd;*/
    color: black;
}

.custom-select:active {
    text-decoration: none;
    background-color: #8887bd;
    color: black;
}

.custom-link{
    margin-right:3px;
    background-color: #f9f9f9;
    color: #292929;
    width:200px;
    border: 1px solid lightgrey;
    /*height:50px;*/
    font-size:13px;
}

.infra-filter{
    width:120px;
    height:28px;
    font-size:12px;
}

ul.b {list-style-type: disc;}

label {
    display: inline-block;
    /*float: left;*/
    width: 250px;
    margin-right: 5px;
}
.imgcaption_top {
    font-size: 11px;
    color: #0b51af;
    height: 20px;
    overflow: hidden;
    margin:2px;
    text-align:center;
}

.text-n {
    font-size:13px;
}
.check {
    margin:0;
    padding:0;
}
            /*Display square image*/
.thumbnails {
   object-fit: cover;
   overflow: hidden;
   height: 15vw;
   width : 15vw;
   /*padding:2px;*/
   padding:4px 1px 2px 1px;
   margin:2px 0;
}

.imageitem {
    display:inline-block;
    border:1px solid grey;
    margin: 2px;
    width : 16vw;
    /*height : 22vw;*/
    background-color: #eaeaea;
    border:1px solid lightgrey;
    text-align:center;
}

img{
    width:100%;
}

.selected {
    background-color: #bac4e8;
    border: 1px solid #808080;
    color: black;
}


.btn {
    padding-top: 10px;
    /*padding  : 10px 10px 8px 10px;*/
    /*padding  : .5rem .5rem;*/
    font-size  : .8rem;
    line-height  : .65;
    border-radius : .2rem;
}

@media only screen and (max-width: 830px) {
    .text-n {
        font-size:11px;
    }

    .thumbnails {
       height: 18vw;
       width : 18vw;
       padding:2px 1px 3px 1px;
    }
    .imgcaption_top {
        font-size: 12px;
    }
    .imageitem {
        width : 20vw;
    }
    /*.btn {*/
    /*    font-size:11px;*/
    /*}*/
}

@media only screen and (max-width: 600px) {
    .custom-select{
        line-height:12px;
    }
    .custom-link{
        line-height:12px;
    }
     .text-n {
        font-size:11px;
        padding: 0;
    }

    .thumbnails {
       height: 26vw;
       width : 26vw;
       padding:2px 1px 3px 1px;
    }
    .imgcaption_top {
        font-size: 11px;
    }
   .imageitem {
        width : 28vw;
       /*height: 28px;*/
    }
    /*.btn {*/
    /*    font-size:11px;*/
    /*    padding:2px;*/
    /*}*/
}

    .dropdown-item {
        font-size: 11px;
        color: #606060;
        line-height: 1.6;
    }
    .dropdown-item > a {
        color: #606060;
        line-height: normal;
    }
.card {
    background-color: white;
}
.card-header {
    /*background-color:lightgrey;*/
}
.pagination {
    font-size:11px;
    padding:2px 6px;
    /*margin-top: 5px;*/
    margin-block-end: 5px;
}
.pagination a{
    padding:2px 6px;
    /*margin-top: 5px;*/
}
.pagination a.hover {
    background-color: #f5f9f9;
}


.pagination a.active {
    background-color: #4CAF50;
    color: white;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

</style>

<div style="min-height:200px;background-color:white;width: 98%;">
        <div class="col" style="text-align:left;font-size:13px;margin-top:25px;">
            <div class="card">
                <div class="card-header" style="background-color: black; color: white;height:100px;">
                    <h6 class="card-title" style="font-size:22px; margin-top: 10px; text-align: center">To the Memory of <br>James Alexander Fowler - 06/24/2021</h6>
                </div>
                <div class="card-body" style="background-color: black; color: white;">
                <!-- Display -->
                    <div class="container justify-content-left align-items-center" style="margin-top:10px; padding:0; text-align: left;">
                        {% if page_list %}
                            <div class="container justify-content-center align-items-center" style="margin:0 auto; padding:0; text-align: left;">
                                {% if last_page > 1 %}
                                    <div style="float:left">
                                        <ul class="pagination pagination-xs" style="text-align: center">
                                            {% if page > 1 %}
                                                <li class="page-item"><a class="page-link" href="?family={{family}}&page=1&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&display={{display}}"><span class="fa fa-angle-double-left" ></span></a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="#"><span class="fa fa-angle-double-left"></span></a></li>
                                            {% endif %}

                                            {% if page > 1 %}
                                                <li class="page-item"><a class="page-link" href="?family={{family}}&page={{prev_page}}&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&display={{display}}"><span class="fa fa-angle-left"></span></a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="#"><span class="fa fa-angle-left"></span></a></li>
                                            {% endif %}

                                            {% for pg in page_range %}
                                                {% if pg == page %}
                                                    <li class="page-item active"><a class="page-link" href="#">{{pg}}</a></li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link" href="?family={{family}}&page={{pg}}&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&display={{display}}">{{pg}}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if page == last_page %}
                                                <li class="page-item"><a class="page-link" href="#"><span class="fa fa-angle-right"></span></a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?family={{family}}&page={{next_page}}&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&display={{display}}"><span class="fa fa-angle-right"></span></a></li>
                                            {% endif %}

                                            {% if page == last_page %}
                                                <li class="page-item"><a class="page-link" href="#"><span class="fa fa-angle-double-right"></span></a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?family={{family}}&page={{last_page}}&role={{role}}&genus={{genus}}&type={{type}}&subgenus={{subgenus_obj.subgenus}}&section={{section_obj.section}}&subsection={{subsection_obj.subsection}}&series={{series_obj.series}}&display={{display}}"><span class="fa fa-angle-double-right"></span></a></li>
                                            {% endif %}
                                      </ul>

                                    </div>
                                {% endif %}
                                <div class="text-n" style="float:left">
                                    ({{first}}-{{last}} of {{total}})<br>
                                </div>
                            </div>
                        {% endif %}
                    </div>
            <!--            <br>-->
                        <div class="container justify-content-left align-items-center" style="clear:left;margin:0 auto; padding:0; text-align: left;">
                        {% if or_spclist %}
                            {% for x in or_spclist %}
                                <div class="imageitem m-1 border">
                                    <a href="{% url 'display:information' x.pid.pid_id %}?role={{role}}&family={{x.gen.family}}">
                                        <img class="thumbnails" alt="" src="{% static x.image_dir %}{{x.image_file}}" class="img-fluid fullimg">
                                    </a>
                                    <div class="imgcaption_top">{{x.pid.pid.binomial_it|safe}}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if or_hyblist %}
                            {% for x in or_hyblist %}
                                <div class="imageitem m-1 border">
                                    <a href="{% url 'display:information' x.pid.pid_id %}?role={{role}}&family={{x.gen.family}}">
                                        <img class="thumbnails" alt="" src="{% static x.image_dir %}{{x.image_file}}" class="img-fluid fullimg">
                                    </a>
                                    <div class="imgcaption_top">{{x.pid.binomial_it|safe}}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if br_spclist %}
                            {% for x in br_spclist %}
                                <div class="imageitem m-1 border">
                                    <a href="{% url 'display:information' x.pid.pid_id %}?role={{role}}&family={{x.gen.family}}">
                                        <img class="thumbnails" alt="" src="{% static x.image_dir %}{{x.image_file}}" class="img-fluid fullimg">
                                    </a>
                                    <div class="imgcaption_top">{{x.pid.pid.binomial_it|safe}}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if ca_spclist %}
                            {% for x in ca_spclist %}
                                <div class="imageitem m-1 border">
                                    <a href=" url 'display:information' x.pid.pid %}?role={{role}}&family={{x.gen.family}}">
                                        <img class="thumbnails" alt="" src="{% static x.image_dir %}{{x.image_file}}" class="img-fluid fullimg">
                                    </a>
                                    <div class="imgcaption_top">{{x.pid.binomial_it|safe}}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if ot_spclist %}
                            {% for x in ot_spclist %}
                                <div class="imageitem m-1 border">
                                    <a href=" url 'display:information' x.pid.pid %}?role={{role}}&family={{x.gen.family}}">
                                        <img class="thumbnails" alt="" src="{% static x.image_dir %}{{x.image_file}}" class="img-fluid fullimg">
                                    </a>
                                    <div class="imgcaption_top">{{x.pid.binomial_it|safe}}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
   </div>
</div>




{% endblock %}
