{% load static %}
{% include "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
{{ form.media.css }}
{{ form.media.js }}
    <!--Main sections-->
<style>
    .django-select2 {
        width: 300px;
    }
    /* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

p, ul {
  font-size: 16px;
  color: #333;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

button#confirmButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button#confirmButton:hover {
  background-color: #45a049;
}
</style>

<!-- Modal Structure -->
<!--<div id="uploadWarningModal" class="modal" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">-->
<!--  <div class="modal-content">-->
<!--    <span class="close" aria-label="Close">×</span>-->
<!--    <h2 id="modalTitle">Important Photo Upload Guidelines</h2>-->
<!--    <div id="modalDescription">-->
<!--      <p>OrchidRoots is dedicated to research and identification, not a marketplace. To ensure photos effectively represent species or hybrids, flowers or plant parts must be the primary focus.</p>-->
<!--      <p>Due to limited storage, photos are ranked, and lower-ranked images may be removed when an orchid has exceedingly many photos. Your photos may be subject to removal if they:</p>-->
<!--      <ul>-->
<!--        <li>Contain overlays, such as logos, text, orchid names, or owner names.</li>-->
<!--        <li>Are out of focus.</li>-->
<!--        <li>Are overly edited or processed.</li>-->
<!--        <li>Have a busy or distracting background.</li>-->
<!--      </ul>-->
<!--        To ensure OrchidRtoots users can find your original photo online, e.g. in your website, or social media post, you must include the url of the photo in the form.-->
<!--    </div>-->
<!--    <button id="confirmButton">I Understand</button>-->
<!--  </div>-->
<!--</div>-->


<div style="width:95%;margin:0 auto;padding:0;">

    <div style="width: 80%; margin:0 auto; text-align: center;">
        <br>
        <h4>{{species.binomial}}</h4>
        <br>
    </div>
             <!--main section-->
    {% include 'common/detail-nav.html' %}

    <div style="width:80%; margin: 0 auto;">
        <b><span style="font-size: 18px; color: red"> Before uploading a photo, please search for the orchid name first and post your photo in the detail page.</span></b> You can then either:
        Go to the orchid's detail page and use the upload tab to add your photo, or if the orchid isn't found,
        use the 'Upload File' option from any detail page and provide the name to the best of you knowledge in the name text box.
        <b>The "Scientific or registered name" text box is to be used for new orchids only. <span style="font-size: 18px; color: red">Otherwise, the photo will not be accepted.</span></b>
    </div>

    <br>
    {% if myphotos > user.tier.max_upload %}
        <div class="container">
            <br><br>
            <h5><small>You have exceeded the number of allowed uploads for this species.  You must delete some of your private photos before adding a new one.</small></h5>
        </div>
    {% else %}
        <div class="tab-content clearfix" style="width:100%;background-color:white;margin:0 auto;border-left:0 solid lightgrey;border-right:0 solid lightgrey;border-bottom:1px solid lightgrey">
            <div class="container" style="width:90%;font-size:13px;">
                <form method="post" action="{% url 'detail:uploadfile' species.pid %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <input type="hidden" name="family" value="Orchidaceae" >
                        <input type="hidden" name="role" value="{{role}}" >
                        <button type="submit" class="btn btn-primary btn-sm"  style="width:80px">Save</button>
                        <a href="{% url 'display:photos' app species.pid %}?role={{role}}"> &nbsp;&nbsp;&nbsp;Cancel</a>
                     <div class="form-row">
                         <div class="form-group col-md-6 mb-0">
                            {{form.credit_to|as_crispy_field}}
                         </div>
                         <div class="form-group col-md-6 mb-0">
                        {{form.image_file_path|as_crispy_field}}
                         </div>
                     </div>
                    {{form.binomial|as_crispy_field}}
<!--                    <hr>-->
        <!--                <hr  class="my-4">-->
                        {{form.source_url|as_crispy_field}}

                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                 {{form.variation|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{form.forma|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{form.name|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                 {{form.awards|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{form.location|as_crispy_field}}
                            </div>
                         </div>

                        {{form.description|as_crispy_field}}
                        {{form.text_data|as_crispy_field}}
                        <button type="submit" class="btn btn-primary btn-sm"  style="width:80px">Save</button>
                        <a href="{% url 'display:photos' app species.pid %}?role={{role}}"> &nbsp;&nbsp;&nbsp;Cancel</a>

                        {% if redirect_field_value %}
                           <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
                           <input type="hidden" name="role" value="{{ role }}" >
                        {% endif %}
                    </form>
                </div>
            </div>
    {% endif %}
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
    $("#id_author").select2();
});

// Show the modal when the page loads
document.addEventListener('DOMContentLoaded', function () {
  const showModal = true; // Set to false to disable the popup
  const modal = document.getElementById('uploadWarningModal');
  const closeBtn = document.querySelector('.close');
  const confirmBtn = document.getElementById('confirmButton');

  // Display the modal
  modal.style.display = 'block';

  // Close the modal when the close button (×) is clicked
  closeBtn.addEventListener('click', function () {
    modal.style.display = 'none';
  });

  // Close the modal when the "I Understand" button is clicked
  confirmBtn.addEventListener('click', function () {
    modal.style.display = 'none';
  });

  // Optional: Close the modal when clicking outside the modal content
  window.addEventListener('click', function (event) {
    if (event.target === modal) {
      modal.style.display = 'none';
    }
  });
});
</script>
{% endblock %}
