{% load static %}
{% include "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% include "detail-title.html" %}

    <!--Main sections-->
<div style="width:95%;margin:0 auto;padding:0;">
        <!--main section-->
    {% include 'common/detail-nav.html' %}

     <div class="tab-content clearfix border" style="background:white; margin:0;border-left:1px solid lightgrey;border-right:1px solid lightgrey;border-bottom:1px solid lightgrey;min-height:500px">
        <br>
         <div class="container" style="width:90%;font-size:13px;">
             <form method="post" action="">
                 {% csrf_token %}
                 <span style="font-size:16px;">
                     <button type="submit" class="btn btn-primary btn-sm"  style="width:80px">Save</button>
                     <a class="btn btn-custom" href="{% url 'display:photos' app species.pid %}?role={{role}}" rel="nofollow noreferrer noopener">Back to photos</a>
                     <br><span style="margin-left: 20px;">The reidentified species/hybrid must be within the same family and the new name must be complete and correct and must not be a synonym.</span>
                 </span>
                 <br>
                        {{form.genus|as_crispy_field}}
                        {{form.species|as_crispy_field}}
                        {{form.infraspr|as_crispy_field}}
                        {{form.infraspe|as_crispy_field}}
                        {{form.year|as_crispy_field}}
                 <input type="hidden" name="role" value="{{ role }}">
                 <input type="hidden" name="family" value="{{ family }}">
             </form>
         </div>
     </div>
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}

