{% load static %}
{% include "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% include "detail-title.html" %}
{{ form.media.css }}
{{ form.media.js }}
<style>
    .django-select2 {
        width: 300px;
    }
</style>

<div style="width:95%;margin:0 auto;padding:0;">
        <!--main section-->
    {% include 'common/detail-nav.html' %}
     <div class="tab-content clearfix" style="background:white; margin:0;border-left:1px solid lightgrey;border-right:1px solid lightgrey;border-bottom:1px solid lightgrey;min-height:1000px">
         <div class="container" style="width:90%;font-size:13px;">
             <br>
             {% if vid %}
                 <form method="post" action="">
                 {% csrf_token %}
                     <button type="submit" class="btn btn-primary btn-sm"  style="width:80px">Save</button>
             {% else %}
                 <div method="post" action="">
                 {% csrf_token %}
                 <button type="submit" class="btn btn-primary btn-sm"  style="width:80px">Save</button>
<!--                     {% if user.tier.tier > 3 %}-->
<!--                         <a href="{% url 'detail:uploadweb' species.pid %}?role={{role}}&next=cont">&nbsp;&nbsp;&nbsp;Save and add another</a>-->
<!--                     {% endif %}-->
                 </div>
             {% endif %}
                 <input type="hidden" name="role" value="{{role}}" >
                 <a href="{% url 'display:photos' species.pid %}?app={{app}}&role={{role}}&variety={{var}}" rel="nofollow noreferrer noopener"> &nbsp;&nbsp;&nbsp;Cancel</a>
                 <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        <h6><br>Author: {{request.user}}</h6>
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{form.credit_to|as_crispy_field}}
                    </div>
                 </div>
                <hr>
                {{form.source_url|as_crispy_field}}
                {{form.name|as_crispy_field}}
                {{form.location|as_crispy_field}}
                {{form.description|as_crispy_field}}
                {{form.text_data|as_crispy_field}}

                 <span style="font-size:16px;">
                    <button type="submit" class="btn btn-primary btn-sm"  style="width:80px">Save</button>
                    <a href="{% url 'display:photos' species.pid %}?app={{app}}&role={{role}}&variety={{var}}" rel="nofollow noreferrer noopener"> &nbsp;&nbsp;&nbsp;Cancel</a>
                 </span>
                 <input type="hidden" name="role" value="{{ role }}" >
             </form>
         </div>
     </div>
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
    $("#id_author").select2();
});

</script>
{% endblock %}

