{% load static %}
{% include "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% include "detail-title.html" %}
{{ form.media.css }}
{{ form.media.js }}
<style>
    .django-select2 {
        width: 300px;
    }
</style>

<div style="width:95%;margin:0 auto;padding:0;">
        <!--main section-->
    {% include 'common/detail-nav.html' %}
    {% if myphotos > user.tier.max_upload %}
        <div class="container">
            <br><br>
            <h5><small>You have exceeded the number of allowed uploads for this species.  {{myphotos}} You must delete some of your private photos before adding a new one.</small></h5>
        </div>
    {% else %}
         <div class="tab-content clearfix" style="background:white; margin:0;border-left:1px solid lightgrey;border-right:1px solid lightgrey;border-bottom:1px solid lightgrey;min-height:1000px">
             <div class="container" style="width:90%;font-size:13px;">
                 <br>
                     <form method="post" action="">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-primary btn-sm"  style="width:80px">Save</button>
                     <input type="hidden" name="author" value="{{author.author_id}}" >
                     <input type="hidden" name="role" value="{{role}}" >
                     <input type="hidden" name="image_file" value="{{img.image_file }}" >
                     <a href="{% url 'display:photos' app species.pid %}?role={{role}}" rel="nofollow noreferrer noopener"> &nbsp;&nbsp;&nbsp;Cancel</a>
                     <div class="form-row">
                         <div class="form-group col-md-6 mb-0">
                            <h6><br>Author: {{request.user}}</h6>
                         </div>
                         <div class="form-group col-md-6 mb-0">
                            {{form.credit_to|as_crispy_field}}
                         </div>
                     </div>
                         <hr>
                     {% if sender == 'web' %}
                         {{form.image_url|as_crispy_field}}
                     {% else %}
                         <input type="hidden" name="image_url" value="{{img.image_url }}" >
                     {% endif %}
                     {{form.source_url|as_crispy_field}}
                     {{form.variation|as_crispy_field}}
                     {{form.location|as_crispy_field}}
                     {% if user.tier.tier > 2 %}
                        {{form.rank|as_crispy_field}}
                        {{form.quality|as_crispy_field}}
                     {% endif %}
                     {{form.source_file_name|as_crispy_field}}
                     {{form.name|as_crispy_field}}
                     {{form.form|as_crispy_field}}
                     {{form.certainty|as_crispy_field}}
                     {{form.description|as_crispy_field}}
                     {{form.text_data|as_crispy_field}}

                     <span style="font-size:16px;">
                        <button type="submit" class="btn btn-primary btn-sm"  style="width:80px">Save</button>
                        <a href="{% url 'display:photos' app species.pid %}?role={{role}}" rel="nofollow noreferrer noopener"> &nbsp;&nbsp;&nbsp;Cancel</a>
                     </span>
                     <input type="hidden" name="role" value="{{ role }}" >
                 </form>
             </div>
         </div>
    {% endif %}
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
    $("#id_author").select2();
});

</script>
{% endblock %}

