{% load static %}
{% include "base.html" %}
{% block body %}

<br><br>
    <h3 style="text-align:center">Contact information</h3>
<div class="container" style="text-align:left;border:0 solid blue">
    <br>
    <div style="text-aligh:left">
    <ul>
        <li>Post questions about problems with the website: <a href="https://www.facebook.com/groups/186576315397600/">OrchidRoots Support Group</a> in Facebook</li>
        <li>Post questions about problems with the website: <a href="https://www.facebook.com/groups/186576315397600/">BlueNanta - Orchid Roots Users Group</a> in Facebook</li>
        <li>Send Facebook message to "chari pete"</li>
        <li>Email: cpeters5@gmail.com</li>

    </ul>
    </div>
</div>

{% endblock %}

