{% load static %}
{% include "base.html" %}
<style>

.btn {
    margin:2px 0;
    width: 95%;
    font-size:13px;
    color: #272ba3;
    padding:5px 0;
    background-color: white;
    border:1px solid #c6c0c0;
    border-radius: .15rem;
}
.btn:hover {
    background-color: #cad4f7;
}

    ul{
        padding-left:15px;
        font-size: 13px;
        line-height: 30px;
    }
    .partner {
        /*height:50px;*/
        width:120px;
        margin:5px;
        padding: 5px;
        line-height: 15px;
        text-align:center;
        padding:5px;
    }

</style>
<div style="clear:both"></div>

<div class="container-fluid" style="min-height:200px;border:0 solid grey">
    <br><br>
    <div class="row">
        <div class="d-none d-sm-block col-sm-3 col-lg-2" style="padding:0; border:1px solid lightgrey">
            {% include "side_home.html" %}
        </div>

        <div class="col-sm-8 col-lg-9">
            <h3 style="text-align:center">Contact information</h3>
            <div class="container" style="text-align:left;border:0 solid blue">
                <br>
                <div style="text-aligh:left">
                <ul>
                    <li>Post questions about problems with the website: <a href="https://www.facebook.com/groups/186576315397600/">OrchidRoots Support Group</a> in Facebook</li>
                    <li>Post questions about problems with the website: <a href="https://www.facebook.com/groups/186576315397600/">BlueNanta - Orchid Roots Users Group</a> in Facebook</li>
                    <li>Email: admin@orchidroots.org</li>
                    <li>Send Facebook message to "chari pete"</li>

                </ul>
                </div>
            </div>
        </div>
    </div>
</div>

