{% load static %}
{% include 'base.html' %}
<head>

</head>
<style>
</style>

<body>
<br><br>
<div class="container-fluid" style="margin:0 auto;">
    <h4>Website Authentication</h4>
    <ul>
        <li>Django REST APIto connect phone app with backend. You can implement REST APIs in Django using following popular frameworks:
            <ul>
                <li>jango REST framework</li>
                <li>Tastypie</li>
            </ul>
        </li>
        <li>Social Media Login</li>
    </ul>

    <h4>Mobile Apps</h4>
    <ul>
        <li>Android app - use <a href="https://medium.com/@hassanabid/developing-android-client-app-with-django-rest-framework-8d5961a49619">Retrofit</a></li>
        <li>Django Mobile App Distribution. Django app that allows you to distribute iPhone, iPad and Android apps over the air to your clients.</li>
    </ul>

    <h4>Search</h4>
    <ul>
    <li>Conventional Search (Step 1)
        <ul>
            <li>Provide a form for genus and species.  Genus is prepopulate if the current page has species object</li>
            <li>Develop hybrid alliance (Clan) based on genera under the same tribe or subtribe or subfamily respectively.</li>
            <li>Matching all species of genera in teh same alliance or if hybrid, under the same clan</li>
        </ul>
    </li>

    <li>Fuzzy Search (step 2)
        <ul>
            <li>Same form as step 1(form has 2 buttons, one for fast match, the other for partial match)</li>
            <li>Combine fuzzyyy-wuzzy with ad hoc </li>
            <li>The logic is fuzzy match (approximate matching), given higher priority for match closer to beginning of string?</li>
        </ul>
    </li>

    </ul>



<h4>Redesign</h4>
    <ul>
    <li>Django REST APIto connect phone app with backend. You can implement REST APIs in Django using following popular frameworks:
        <ul>
            <li>jango REST framework</li>
            <li>Tastypie</li>
        </ul>
    </li>
    </ul>






</div>
</body>
