{% load static %}
{% include "base.html" %}
{% block body %}

<br><br>
<div class="container" style="text-align:center;border:0 solid blue">
    <h3>FAQ</h3>
    <h4>Future Plans</h4>
    <ul>
        <li>How does OrchidRoots resolve a conflict between WCSP and RHS?</li>
        <li>Are there plans for mobile apps?</li>
        <li>Are there plans to support other plant families?</li>
        <li>I have a question that's not covered here. Help!</li>
    </ul>
</div>

{% endblock %}