{% load static %}
{% include "base.html" %}
{% block body %}

<br><br>
<div class="container" style="text-align:center;border:0 solid blue">
    <h3>Welcome to OrchidRoots</h3>
    As a nonprofit organization, OrchidRoots is not support by any government agencies,
    we rely only on donations from OrchidRoots founders and users like yourself.

    We hope to raise about $7000 a year to ensure enough funding to improve and maintain the website and to
	acquire photos of rare and hard to get orchids.

    <button class="btn btn-primary">
    Yes! I want to donate
    </button>

    <div class="container" style="margin:0 auto;width:80%;text-align:left;border:0 solid green;font-size:13px;">
		Your access to and use of the services offered by OrchidRoots.com (the website) is conditioned on your acceptance of and complicance with the foollowing terms.
		These terms apply to all visitors, users and others who access of use of the website.  By accessing or using the website you agree to be bound by these terms. If you disagree with any part of the terms then you may not access the website.

		<h4>Intellectual properties</h4>
		<ul>
			<li>Properties of OrchidRoots:  Unless stated otherwise, the website is OrchidRoots Corp. property and all source code, databases, functionality, software,
				website designs, text, and other content of the website are owned and controlled by OrchidRoots or licensed to OrchidRoots and
				are protected by copyright and trademark laws and various intellectual property rights and unfair competition laws of the United States,
				foreign jurisdictions, and international conventions.
			</li>
			<li>Photo ownership: Photographs displayed for public view are used with copyright owner's consent.  You may decline or revoke your consent at any time
				by informing OrchidRoots in writing.
			</li>
		</ul>

		<h4>Account Termination</h4>
		<ul>
			<li>Termination by you: You can terminate your account at anytime by submitting termination request to OrchidRoots.
				Such termination will result in the deactivation of your account and access to it,
				and the deletion of content you collected through the use of hte website.
			</li>
			<li>Termination by OrchidRoots: OrchidRoots may, without prior notice, terminate, limit your access or suspend your account.
				Cause of such termination, limitation of access or suspension shall include, but not limited to,
				<ul>
					<li>Breaches or violations of the Terms of Services or other incorporated agreement or guidelines.</li>
					<li>Discontinuance or modification of OrchidRoots website</li>
					<li>Extended period of inactivity</li>
					<li>Engagement by you in fraudulent or illegal activities including posting copyrighted content that does not belong to you</li>
				</ul>
			</li>
		Further you agree that all terminations, limitations of access and suspensions for cause shall be made in OrchidRoots' sole discretion and that OrchidRoots shall not be liable to you or any third party for any termination of yiur account or access to OrchidRoots services.
		<br>
		Termination of OrchidRoots account includes any or all of the following
		</ul>
		<ul>
			<li>Removal of access to all or part of OrchidRoots services</li>
			<li>Deletion of your password and all public and private photos in your name.</li>
			<li>Barring of future use of all or part of OrchidRoots services</li>
		</ul>
	</div>
</div>

{% endblock %}

