{% load static %}
{% include 'base.html' %}

<style>
.doc {
    overflow-wrap: break-word;
    font-size: 14px;
    padding:10px;
    margin:0 auto;
    border:1px solid lightgrey;
}
.btn {
    margin:2px 0;
    width: 95%;
    font-size:11px;
    color: #272ba3;
    padding:5px 0;
    background-color: white;
    border:1px solid #c6c0c0;
    border-radius: .15rem;
}
.btn:hover {
    background-color: #cad4f7;
}

</style>
<br>
<div style="clear:both"></div>
<br>
<div class="container-fluid" style="min-height:200px;border:0 solid grey">
    <div class="row">
        <div class="col-sm-2 hidden-xs" style="padding:0; border:1px solid lightgrey; min-height:600px;">
            <br>
            <ul style="padding-left:10px">
                <li><a type="button" class="btn btn-outline-primary" href="{% url 'search:nomenclature' %}">Advanced Search</a></li>
                <li><a type="button" class="btn btn-outline-primary" href="#">Upload Guideline</a></li>
                <li><a type="button" class="btn btn-outline-primary" href="#">Upload Guideline</a></li>
                <li><a type="button" class="btn btn-outline-primary" href="#">Term of Use</a></li>
                <li><a type="button" class="btn btn-outline-primary" href="#">Contact us</a></li>
                <li><a type="button" class="btn btn-outline-primary" href="{% url 'donation:donateapp' %}">Donate</a></li>
                <li><a type="button" class="btn btn-outline-primary" href="{% url 'documents:help' %}">Help</a></li>
                <li><a type="button" class="btn btn-outline-primary" href="{% url 'documents:list' %}">Organization</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-10">

            <div style="margin:0 auto; width:70%;">

                <div style="font-size: 14px; padding:10px; margin:0 auto; border:1px solid lightgrey; ">
                    <a href="{% url 'documents:articles' %}" target="_blank">Article Of Incorporation</a>
                </div>
                <br>
                <div style="font-size: 14px; padding:10px; margin:0 auto; border:1px solid lightgrey; ">
                    <a href="{% url 'documents:bylaws' %}" target="_blank">Bylaws</a>
                </div>
                <br>
                <div style="font-size: 14px; padding:10px; margin:0 auto; border:1px solid lightgrey; ">
                    <a href="{% url 'documents:req501c3' %}" target="_blank">Application for Recognition of Exemption Under 501(c)(3) of the Internal Revenue Code</a>
                </div>
                <br>

                <div style="font-size: 14px; padding:10px; margin:0 auto; border:1px solid lightgrey; ">
                     Maryland Association of Nonprofit Organizations, Conflic of Interest
                </div>
                <br>
            </div>
        </div>
    </div>
</div>


