{% load static %}
{% include "base.html" %}
{% block body %}

<br><br>
<div class="container" style="text-align:center;border:0 solid blue">
    <h3>Infrageneric Repo</h3>
    <div class="container" style="margin:0 auto;width:80%;text-align:left;border:0 solid green;font-size:13px;">
        <ul>
            <li>Infragen class contains List of published infrageneric ranks frrom various sources.  IPNI is hte primary source.  Infragen classes published in peer reviewed or research papers are also accepted.</li>
            <li>InfragenSpc class contains placements of species in infrageneric ranks.  Initially these placements are from Jay Pfahl's IOSPE</li>
            <li>What to do where there is a change in taxonomy?
                <ul>
                    <li>When a species is demoted to a synonym of another species in the same rank, then the placement of that species will be unchnaged</li>
                    <li>If the accepted species is of different class, then....???</li>
                </ul>
            </li>


        </ul>




	</div>
</div>

{% endblock %}

