{% include "base.html" %}
{% block body %}
<style>
    ul{
        padding-left:10px;
        line-height: 30px;
        list-style-type:none;
    }
    li {
            display: list-item;
    }
    .card-body {
        font-size: 15px;
    }
</style>
<br>


<div class="container-fluid" style="min-height:200px;">
    <div style="clear:both"></div>
    <div class="row">
        <div class="d-none d-sm-block col-sm-3 col-lg-2" >
            {% include "side_home.html" %}
        </div>

        <div class="col-sm-8 col-lg-9" style="margin-top:7px;">

            <div class="card mt-3">
                <div class="card-header">
                    <h6>Guidelines for Photo Upload</h6>
                </div>

                <div class="card-body" style="padding:20px;">
                    <h6 class="mb-0">Upload from a Webpage</h6>
                    <ul>
                        <li>You must be the owner of the photo you wish to upload.</li>
                        <li>Make sure you have the correct identity of hte the orchid in the photo</li>
                        <li>Search for the orchid in OrchidRoots and navigate to its detail page</li>
                        <li>Click on the "Access Area" button in the upper left hand corner of the page and select "My Photo Page"</li>
                        <li>Click on "Upload local file" button to start an uppload form</li>
                        <li>Select the author name from the dropdown menu.  If your name does not exist, cancel upload and notify admin to register asd a donor.</li>
                        <li>Click on "Choose File" button and select the image file you wish to upload</li>
                        <li>Fill in the rest of the form as appropriate</li>
                        <li>Add your comment. At the end of hte comment, enter the name of the author of the comment, or you own name if the comment is made by you.</li>
                        <li>Click "Save" button to upload, or the "Cancel" link to discard and go back to Identification page.</li>
                    </ul>

                    <h6 class="mb-0">Upload a File</h6>
                    <ul>
                        <li>You must be the owner of the photo you wish to upload.</li>
                        <li>Make sure you have the correct identity of hte the orchid in the photo</li>
                        <li>Search for the orchid in OrchidRoots and navigate to its detail page</li>
                        <li>Click on the "Access Area" button in the upper left hand corner of the page and select "My Photo Page"</li>
                        <li>Click on "Upload from Web" button to start an uppload form</li>
                        <li>Select the author name from the dropdown menu.  If your name does not exist, cancel upload and notify admin to register asd a donor.</li>
                        <li>Right click on the image of the web page you are uploading from and select "copy image address" (chrome) and paste the address to the "Image URL" box in the form</li>
                        <li>Copy the address of the webpage you are uploading from and paste it to the "Link to source" texzt area.</li>
                        <li>Fill in the rest of the form as appropriate</li>
                        <li>Add your comment. Enter the name of the author of the comment, or you name if the comment is made by you.</li>
                        <li>Click "Save" button to upload, or the "Cancel" link to discard and go back to Identification page.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
