{% load static %}
{% include "base.html" %}
{% block body %}

<br><br>
<div class="container" style="text-align:center;border:0 solid blue">
    <h3>FAQ</h3>
    <h4>Navigation</h4>
    <ul>
        <li>
            How do I find my orchid
        </li>
        <li>I am logged in, now where are my photos?</li>
        <li>How do I upload an image file from my laptop or a cellphone?</li>
        <li>How do I upload a photo from internet?</li>
        <li>How do I compare two different species and or hybrids?</li>
        <li>How can I find the original source of an orchid name?</li>
        <li>How do I list all genera or species in OrchidRoots?</li>
        <li>Are there plans to support other plant families?</li>
        <li>I have a question that's not covered here. Help!</li>
    </ul>
</div>

{% endblock %}