{% load static %}
{% include 'base.html' %}
<head>

</head>
<style>
</style>

<body>
<br><br>
<div class="container-fluid" style="margin:0 auto;">
    <h4>Guideline for Uploading photos</h4>
    <ul>
        <li>Only upload good quality photos, unless there is no, or very few photos exist.</li>
        <li>Select appropriate rank for each photo based on teh quality and content. Ranks are used in the selection of display photos for various pages.
            <ul>
                <li>Photos with rank 0 are private photos.  They are displayed in private view only. These photos are usually not clear or there already are many public photos (rank > 0).</li>
                <li>Rank 1 are photos that show the habitat or in situ plants.</li>
                <li>Rank 2 are photos of entire or part of plant.</li>
                <li>Rank 3 are photo of inflorescence or groups of flowers taken at far away distance (not useful for identification).</li>
                <li>Rank 4 are group of flowers, teken at close enough distance to see the detail of flowers.</li>
                <li>Rank 5 are portrait of a single flower.</li>
                <li>Rank 6 are the best photo(s) among the rank 5 group.</li>
                <li>Rank 7 are close-up photos</li>
                <li>Rank 8 are diagrams, drawings or photos that display measurements. Examples are photo of flower taken with an object such as a coin, meter stick, pencil tip or a finger.</li>
                <li>Rank 9 is reserved for future use.</li>
            </ul>
            Best photos (rank 8) are selected for browse image pages as representative of the species.  They are also selected for family trees, parents or ancestors.
            Photos selected for Information tab are the ones that best described teh identifying characteristics of the orchid.  They are selected (one of each) from rank 1, 7, 6, 3 and 2.
            Photos displayed in summary pages are all public photos (any rank > 0).
        </li>
        <li>If a similar or a lesser quality photo(s) already exist, they should be removed,  replaced by the new one.</li>
    </ul>
</div>

</body>




