                    <h5>Effective date June 1, 2020</h5>

                        <p>
                            This policy discloses the privacy practices for orchidRoots.org.
                            OrchidRoots strives to ensure the protection of your personal information through responsible practices.
                            This privacy policy applies solely to information collected by this website, except where stated otherwise.
                            It will notify you of the following:
                        </p>
                        <ul>
                            <li>What information we collect</li>
                            <li>With whom it is shared</li>
                            <li>How it can be corrected</li>
                            <li>How it is secured</li>
                            <li>How policy changes will be communicated</li>
                            <li>How to address concerns over misuse of personal data</li>
                        </ul>

                        <h5>Personal Information Collection</h5>
                        <p>
                            We are the sole owners of the information collected on this site.
                            We only have access to/collect information that you voluntarily give us via account registration.
                            When you register for an account in OrchidRoots, you voluntarily give us your name, country, email address,
                            preferences, website, and any other information.
                        </p>

                        <P>
                            You may also choose to share with us and other users orchid photos, in which case, we may collect the url of
                            photos you share.  Additionally, We plan to collect location data from mobile devices when someone login
                            and upload photos from the device.  This information will allow us to track the distribution of orchidspecies
                            grown in the wild.  We will use this information within orchidroots and will not share them with any external parties.
                        </P>

                        <h5>Use of Your Personal Information</h5>
                        <p>
                            We use your personal information to appropriately process your requests and present you with the
                            information from OrchidRoots you need. We also use information you provide voluntarily in order to make your
                            visits on our site possible.  This information might, at a later time, allow us to add customized elements
                            to our site or to plan its content more appropriately, based on user interests.
                        </p>

                        <h5>Share Your Personal Information</h5>
                        <p>
                            We will not, in any circumstances, share your personal information with other individuals or organizations
                            without your permission, including public organizations, corporations or individuals, except when applicable by law.
                            We do not sell, communicate or divulge your information to any mailing lists.

                            The only exception is if the law or a court order compels us to. We will share your information with
                            government agencies if they need or request it.
                        </p>

                        <h5>Your Access to and Control Over Information</h5>
                        <p>
                            You may opt out of any future contacts from us at any time or express any concern you have about our use of your data
                            by contacting us via the email address or phone number provided on our website:
                            You may change/correct any data we have about you by logging in to Orchdroot website and select updateprofile.
                        </p>

                        <h5>Securities</h5>
                        <p>
                            We use a component of your browser called cookie to recognize your computer. Cookies are small data files
                            that are saved on your hard drive when you visit websites. These files make browsing the sites easier.

                            We do not and cannot use cookies to retrieve your personal information from your computer.
                            The information collected is instead used for statistical purposes, among others to compute the number of
                            visitors and find out which pages are the most visited.

                            If you configure your browser to warn you before accepting cookies, a prompt will pop-up each time a site
                            asks for permission to save a cookie on your computer. You can refuse cookies by configuring your browser
                            to reject them.
                        </p>

                        <h5>Storage and Safety of Your Personal Information</h5>
                        <p>
                            We store your data in our own database and apply appropriate security measures at both database server and the database itself
                            to preserve the confidentiality of your information.

                            OrchidRoots uses software to monitor traffic to the website in order to detect unauthorized attempts to
                            download or change information, or to otherwise damage the site. This software receives and records the IP address
                            of the computer used by the person visiting our website, the date and time of the visit and the pages viewed.
                            However, we do not attempt to make the connection between these addresses and the identities of the individuals
                            who visit our site, unless an intrusion or disruption attempt is detected.  In which case, intruding IP addresses
                            will be blocked from entering our website.
                        </p>

                        <h4>Legal Protection</h4>
                        <p>
                            All personal information you supply is protected according to the federal government Privacy Act.
                            This means that you are entitled to know when the information is collected and to be informed of the purpose of
                            such collection, but also to access said information. We are legally bound to save all personal information you
                            provide for at least two years after their use so that you may reasonably access them. After that time,
                            your personal information will be destroyed.

                        <h4>Access to and Viewing of Your Personal Information</h4>
                        <p>
                            You can, at any time, access the personal information by  logging on to OrchidRoots and click on "Update Profile".
                            You may also ask us to delete your information.  To do so, or if you have any questions or comments regarding
                            this policy, please contact us.
                        </p>

                        <p>
                            To learn more about the protection of your personal information on the Web, please visit the Commission d’accès à l’information du Québec and Office of the Privacy Commissioner of Canada websites.
                        </p>
