Reviewing and acceptions new photos is a daily manual task.  Steps:
1.   Run query SELECT * from orchidaceae_upload
2.  Examine each entry.  Pay attention on columns:
    name: should be cultivar name, without quotes
    variety:  examples, alba, aff., yellow, etc.  If variety exists as a separate page (different pid) make sure the pid matches the pid of the variety.  In this case, variety column should be blank
    source_url must be a valid url
3.  Logon to orchidroots and go to https://https://orchidroots.com/common/curate_newupload/?app=orchidaceae
    Click on the name link of each upload entry to go to the detail/photos page where you can
    - accept the new photo
    - assign appropriate quality
    - assign appropriate rank.
4.  