{% include 'base.html' %}


Sitemap
A visual scheme that represents the connection between all pages of OrchidRoots. The map helps users visualize
the structure of the website and the connections between the pages/functions.
Sitemaps show the pages and screens that make up a website or application, or a particular part of a website or app.
They often indicate groupings, such as site sections and links between the various pages and screens.
Creating a site map is a part of arranging the information architecture.

Usability reports
Usability reports are typically used to either detail an expert evaluation, such as a heuristic evaluation or cognitive
walkthrough or to communicate the results of some usability testing. The key for any usability report is to keep it
as brief as possible and to use visuals wherever possible.

User journeys
Whereas experience maps generally show the end-to-end customer journey, a user journey document typically only shows part of the user journey.
For example, it might be the journey through a website.

The journey is usually broken down into the steps taken by the user, often with visuals shown to help illustrate the story.

User flow or user journey schemes help the team to map the steps a user should take through the whole product.
The main task of a user flow scheme is to depict the possible steps a user may take, going from page to page.
Usually, the scheme includes all the pages, sections, buttons, and functions they provide to show the logic of user movement.

