                <div class="card-body" style="text-align: left;font-size: 15px; width: 70%; margin: 30px;">
                    <p>
                        You would have landed on the website of the advertised business if this was a real advertisement.

                    </p>
                    <p>
                       You are invited to submit an advertisement about your plant related business, a meeting announcement,
                    or anything else related to plants that you want the world to know about.
                   </p>
                    <p>
                    To submit your ad, email the following information to admin@orchidroots.org:
                    <ul>
                        <li>Who you are</li>
                        <li>your orchidroots account id</li>
                        <li>email address</li>
                        <li>Brief address (country, state, city)</li>
                        <li>The name of your business</li>
                        <li>Brief description</li>
                        <li>A thumbnail or a jpeg for your ad display.</li>
                        <li>(optional) url of your website</li>
                        <li>(optional) Type of plants involved (genus name, family, etc.)  We will use this information to place your ad where it is most relevant</li>
                        <li>(optional) Start and end date.  Higher priority will be given to ads requested for specific date range.</li>
                    </ul>
                        </p>
                    This ad is currently free. However, we encourage advertisers to donate to orchidRoots to support our work.
                </div>
