<div>
    Taxonomy terms and hybrid names in OrchidRoots is based on latest name available from various sources.  The primary
    source is WCSP for species and RHS for hybrids.  Others are IPNI, ITIS, and various books and papers in peer reviewed
    journals or academic publications that are publicly available. We provide these cnsolidated data as a general
    reference source for interested users.  However, we are not a legal authority for these names.
    While every effort has been made to provide the most reliable and up-to-date information available,
    ultimate legal authoritaties with respect to species and hybrids are the original taxon providers where we sourced the name from.
    A link back to the original source of each name can be found in the title of detail pages.
</div>
<div>
To suggest a name missing from our list, please contact admin@orchidroots.org.  We accept any citation from papers in
    peer reviewed journams, academic publication or online repositories.
</div>