		<h3>Terms and Conditions Agreement</h3>
		<div class="container" style="margin:0 auto;width:100%;text-align:left;">
			<div class="container" style="text-align:center;border:0 solid blue">
				<h3>Terms and Conditions Agreement</h3>
				<div class="container" style="margin:0 auto;width:100%;text-align:left;">
					Welcome to our website! By accessing and using our website, you agree to comply with the following terms and conditions:
					<ul>
						<li>Content Usage: All content, including photographs, available on this website is protected by
							intellectual property laws. Any use of the content must be accompanied by a link to
							our website and include the name of the photograph owner.
							This requirement applies to both commercial and non-commercial use.
						</li>
						<li>Copyright and Ownership: The content on this website, including photographs, is owned by their
							respective owners. Unauthorized use or reproduction of the content is strictly prohibited.
						</li>
						<li>Limited License: We grant you a limited, non-exclusive, non-transferable license to access
							and use the content on this website for personal and non-commercial purposes only.
							This license does not permit you to modify, distribute, or exploit the content for any other
							purpose without prior written consent from us or the respective content owners.
						</li>
						<li>User Obligations: When using our website, you agree not to engage in any activities
							that may infringe upon the rights of others or violate any applicable laws. You are solely
							responsible for your use of the content and shall indemnify us against any claims arising
							from your unauthorized use.
						</li>
						<li>Links to Third-Party Websites: Our website may contain links to third-party websites.
							These links are provided for your convenience and do not signify our endorsement of the
							content on those websites. We are not responsible for the content or practices of any linked
							third-party websites.
						</li>
						<li>Disclaimer of Warranties: While we strive to provide accurate and up-to-date information on
							our website, we make no representations or warranties of any kind, express or implied,
							regarding the accuracy, completeness, reliability, or suitability of the content. Your use
							of the content is at your own risk.
						</li>
						<li>Limitation of Liability: In no event shall we be liable for any direct, indirect, incidental,
							consequential, or punitive damages arising out of your use of the content or inability
							to access the website, even if we have been advised of the possibility of such damages.
						</li>
						<li>Modifications to Terms of Use: We reserve the right to modify or update these Terms of Use
							at any time without prior notice. It is your responsibility to review the terms periodically
							for any changes.
						</li>
						<li>By continuing to use our website, you acknowledge and agree to be bound by these Terms of Use.
							If you do not agree with any part of these terms, please refrain from using our website.
						</li>
					</ul>
					<p>
						<h4>Account Termination</h4>
					<ul>
						<li><b>Termination by you:</b> You can terminate your account at anytime by submitting termination request to OrchidRoots.
							Such termination will result in the deactivation of your account and access to it,
							and the deletion of content you collected through the use of hte website.
						</li>
						<li><b>Termination by OrchidRoots:</b> OrchidRoots may, without prior notice, terminate, limit your access or suspend your account.
							Causes of such termination, limitation of access or suspension shall include, but not limited to,
							<ul>
								<li>Breaches or violations of the Terms of Services or other incorporated agreement or guidelines.</li>
								<li>Discontinuance or modification of OrchidRoots website</li>
								<li>Extended period of inactivity</li>
								<li>Engagement by you in fraudulent or illegal activities including posting copyrighted content that does not belong to you</li>
							</ul>
						Further you agree that all terminations, limitations of access and suspensions for cause shall be made in OrchidRoots' sole discretion and that OrchidRoots shall not be liable to you or any third party for any termination of yiur account or access to OrchidRoots services.
							Termination of OrchidRoots account includes any or all of the following
							<ul>
								<li>Removal of access to all or part of OrchidRoots services</li>
								<li>Deletion of your account and all photos submitted in your name.</li>
								<li>Barring of future use of all or part of OrchidRoots services</li>
							</ul>
						</li>
					</ul>
				</p>
				</div>
			</div>
				<p>
					<h4>Account Termination</h4>
					<ul>
						<li><b>Termination by you:</b> You can terminate your account at anytime by submitting termination request to OrchidRoots.
							Such termination will result in the deactivation of your account and access to it,
							and the deletion of content you collected through the use of hte website.
						</li>
						<li><b>Termination by OrchidRoots:</b> OrchidRoots may, without prior notice, terminate, limit your access or suspend your account.
							Causes of such termination, limitation of access or suspension shall include, but not limited to,
							<ul>
								<li>Breaches or violations of the Terms of Services or other incorporated agreement or guidelines.</li>
								<li>Discontinuance or modification of OrchidRoots website</li>
								<li>Extended period of inactivity</li>
								<li>Engagement by you in fraudulent or illegal activities including posting copyrighted content that does not belong to you</li>
							</ul>
						Further you agree that all terminations, limitations of access and suspensions for cause shall be made in OrchidRoots' sole discretion and that OrchidRoots shall not be liable to you or any third party for any termination of yiur account or access to OrchidRoots services.
							Termination of OrchidRoots account includes any or all of the following
							<ul>
								<li>Removal of access to all or part of OrchidRoots services</li>
								<li>Deletion of your account and all photos submitted in your name.</li>
								<li>Barring of future use of all or part of OrchidRoots services</li>
							</ul>
						</li>
					</ul>
				</p>
			</div>