{% load static %}
{% include "base.html" %}
<style>

    ul{
        padding-left:15px;
        /*font-size: 13px;*/
        line-height: 30px;
    }

</style>
<div style="clear:both"></div>

<div class="container-fluid" style="min-height:200px;border:0 solid grey">
    <br><br>
    <div style="clear:both"></div>
	<div class="row">
        <div class="d-none d-sm-block col-sm-3 col-lg-2" style="padding:0; border:1px solid lightgrey">
            {% include "side_home.html" %}
        </div>

        <div class="col-sm-8 col-lg-9">
			<div class="container" style="text-align:center;border:0 solid blue">
				<h3>Terms and Conditions Agreement</h3>
				<div class="container" style="margin:0 auto;width:100%;text-align:left;">
					Your access to and use of the services offered by OrchidRoots.com (the website) is conditioned on your acceptance of and complicance with the foollowing terms.
					These terms apply to all visitors, users and others who access of use of the website.  By accessing or using the website you agree to be bound by these terms. If you disagree with any part of the terms then you may not access the website.
					<p>
					<h4>Intellectual properties</h4>
					Properties of OrchidRoots:  Unless stated otherwise, the website is OrchidRoots Corp. property and all source code, databases, functionality, software,
							website designs, text, and other content of the website are owned and controlled by OrchidRoots or licensed to OrchidRoots and
							are protected by copyright and trademark laws and various intellectual property rights and unfair competition laws of the United States,
							foreign jurisdictions, and international conventions.
					<p>
					<h4>Photo Ownership</h4>
						Photo ownership: Photographs displayed for public view are used with copyright owner's consent.  Photos owner may decline or revoke his/her consent at any time
							by informing OrchidRoots in writing.
					</p>

					<p>
						<h4>Account Termination</h4>
					<ul>
						<li><b>Termination by you:</b> You can terminate your account at anytime by submitting termination request to OrchidRoots.
							Such termination will result in the deactivation of your account and access to it,
							and the deletion of content you collected through the use of hte website.
						</li>
						<li><b>Termination by OrchidRoots:</b> OrchidRoots may, without prior notice, terminate, limit your access or suspend your account.
							Causes of such termination, limitation of access or suspension shall include, but not limited to,
							<ul>
								<li>Breaches or violations of the Terms of Services or other incorporated agreement or guidelines.</li>
								<li>Discontinuance or modification of OrchidRoots website</li>
								<li>Extended period of inactivity</li>
								<li>Engagement by you in fraudulent or illegal activities including posting copyrighted content that does not belong to you</li>
							</ul>
						Further you agree that all terminations, limitations of access and suspensions for cause shall be made in OrchidRoots' sole discretion and that OrchidRoots shall not be liable to you or any third party for any termination of yiur account or access to OrchidRoots services.
							Termination of OrchidRoots account includes any or all of the following
							<ul>
								<li>Removal of access to all or part of OrchidRoots services</li>
								<li>Deletion of your account and all photos submitted in your name.</li>
								<li>Barring of future use of all or part of OrchidRoots services</li>
							</ul>
						</li>
					</ul>
				</p>
				</div>
			</div>
		</div>
	</div>
</div>

