{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'user_account_reset_password' %}" class="password_set">
    	{% if error and error is not None %}
    	<ul class="has-error errorlist text-danger">
                  
            <li>{{error}}</li>
          
        </ul>
        {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

  </div>
</div>


{% endblock %}